Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-8800: modifying the PostFilter for OS1 - to not show family_history and add_participant surveys
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoPostFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed test for PostFilter
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/OldOsteoPostFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

changed after signing germline consent email link and added color of … (#2301)
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
Due: action="build-test", dss, action="build-test-deploy"

Ddp 8676 lms add link to email after signing germline consent (#2304)
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed-pediatric.html
Due: action="build-test", dss, action="build-test-deploy"

fixed lms typo bug in about your child activity (#2293)
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Ddp 8676 lms add link to email after signing germline consent (#2306)
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed-pediatric.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-8112 | add value parser for dashboard
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BaseQueryBuilderStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DashboardValueParser.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagMigrationTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/DashboardValueParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8112: add value parser for dashboard (#2312)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BaseQueryBuilderStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DashboardValueParser.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagMigrationTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/DashboardValueParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8724 show accessioned tissue for Mercury (#2281)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8737. Patch that updates Singular's MAILING ADDRESS COMPONENT
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMailingAddressVerification.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8814 fix lms germline consent event
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

cleaned up label tool
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/CreateLabelTool.java
Due: action="build-test", dsm, action="build-test-deploy"

Updates to ReDoc
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
Due: action="build-test", api-docs, action="build-test-deploy"

Pin the deployed version of redoc to 2.0.0
  pepper-apis/docs/specification/deploy/index.html
Due: action="build-test", api-docs, action="build-test-deploy"

Linter configuration tweaks
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/redocly.yaml
Due: action="build-test", api-docs, action="build-test-deploy"

Bump the node version up to the v16 LTS
  pepper-apis/docs/specification/.tool-versions
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-8806 adding liquibase for changes in the backend
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8806_singular_field_changes.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8814 fix lms germline consent event for agedup
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8737. Patch that updates Singular's MAILING ADDRESS COMPONENT (#2313)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMailingAddressVerification.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8802 | establish a new enum for modeling a fixed set of activities for old Osteo study
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoActivityCode.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | create a new generic predicate based interface for modeling a study post filtering strategies
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/StudyPostFilterStrategy.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | implement study post filter strategy for new Osteo study by matching ddp_instance_id of a specified object, be it a onc history detail, medical record or kit request shipping
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/NewOsteoPostFilterStrategy.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | change old clients by leveraging the appropriate study post filter strategy implementations
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/NewOsteoPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoActivityCode.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoPostFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | modify unit tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoStudyPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/OldOsteoPostFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | add a generic interface for retrieving specific objects from ElasticSearch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/retrieve/ElasticSearchObjectsRetriever.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | add a base implementation along with a factory and the special implementation for old Osteo study, which just drops any activities which are not meant to be displayed for old Osteo
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/retrieve/activities/ActivityDefinitionsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/retrieve/activities/ActivityDefinitionsRetrieverFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/retrieve/activities/osteo/OldOsteoActivityDefinitionsRetriever.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | write unit and property based tests for study post filter strategy implementations, also modify the old tests to incorporate new changes
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/NewOsteoPostFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoPostFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoPostFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | make use of the new factory instance for generating activity definitions retriever which encapsulates the logic of filtering the returned activity definitions from ElasticSearch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DisplaySettingsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | apply inline
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DisplaySettingsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8802 | apply suggested changes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/retrieve/activities/ActivityDefinitionsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoActivityCode.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoPostFilterStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8816] ReDoc update (#2314)
  pepper-apis/docs/specification/.tool-versions
  pepper-apis/docs/specification/deploy/index.html
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/redocly.yaml
Due: action="build-test", api-docs, action="build-test-deploy"

implement Try<T> data structure with 4 most common use cases, document it, write unit tests in order to display the usage patterns and test the functionality
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/Try.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

refactor code in a few places, replace try/catch with Try<T>
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/PubSubResultMessageSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/Try.java
Due: action="build-test", dsm, action="build-test-deploy"

extend the API, add a few methods, add property based and unit tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/tag/cohort/CohortTag.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/Try.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8712: refactoring logic to check kit requests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitInitialScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/PecgsDecorator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EasyPostUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_addOS2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_apply_OS_tag_to_old_osteo_pts.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_kit_participant_notifications_activated_osteo2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-8712_kit-prefix.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/kit/KitDaoMock.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/kit/PecgsDecoratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fix the issue with UnCaughtException
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/Try.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

refactor a few more manual try/catch samples
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/institution/DDPInstitutionDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPEventJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPRequestJob.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8824: changed query after configuration changes made on prod for OS2
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

remove duplication
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/institution/DDPInstitutionDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/tag/cohort/CohortTag.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPEventJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPRequestJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/Try.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

refine the API, give better names to methods
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/institution/DDPInstitutionDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/tag/cohort/CohortTag.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPEventJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPRequestJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/Try.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TryTest.java
Due: action="build-test", dsm, action="build-test-deploy"
