Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Tweak import and export ES data scripts so you use any directory you want for the JSON data files
  pepper-apis/dsm-core/testsupport/scripts/exportIndexInfo.sh
  pepper-apis/dsm-core/testsupport/scripts/importAllIndexInfo.sh
  pepper-apis/dsm-core/testsupport/scripts/importIndexInfo.sh
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-417. osteo self consent updates by versioning.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion3.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/consent-version-3.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-417. osteo self consent updates by versioning.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion3.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/consent-version-3.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-417. osteo self consent updates by versioning.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion3.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-417. osteo self consent updates by versioning.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion3.java
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Extend Client and Tenant DAOs with bulk fetches
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dao/JdbiAuth0Tenant.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClient.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Adds an operation to rotate client secrets
  pepper-apis/studybuilder-cli/README.md
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
Due: action="build-test", dss, action="build-test-deploy"

Pepper-46: filtering borked (#2431)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/ActivitiesCollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/SingleQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-46: changing logic of how ES nested queries is handled
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-46: updating unit tests to the new logic change
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-127: fixing OS search to add ddpInstanceId to k and mr and oD search
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-127: fixing test after rebasing
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-127: changed to use dbConstants instead of strings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Should be an SqlUpdate annotation
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClient.java
Due: action="build-test", dss, action="build-test-deploy"

Updates client secret rotation to be optional
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
Due: action="build-test", dss, action="build-test-deploy"

Clean up the docs
  pepper-apis/studybuilder-cli/README.md
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-500: removing unused role logic
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: removing unused ddpInstance object
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: unused import
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

itest wip
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PdfLicenseUtil.java
Due: action="build-test", dss, action="build-test-deploy"

Fix deprecations
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Adds a class for managing defined system properties
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/PropertyManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Handle changes related to PropertyManager
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Support loading the iText license from Google Secrets
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PdfLicenseUtil.java
Due: action="build-test", dss, action="build-test-deploy"

Refactor to use Cleaner
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Simplify the implementation
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

itext-licensekey updates
  pepper-apis/dss-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Application property cleanup
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ApplicationProperty.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/PropertyManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Redisson updates
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ApplicationProperty.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Clean up the license key loading & handle errors
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PdfLicenseUtil.java
Due: action="build-test", dss, action="build-test-deploy"

Update gitignore
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

Load the iText license key at launch
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, action="build-test-deploy"

Migrate Rarex legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/rarex/emails/consent-assent-completed.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/consent-assent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/consent-parental-completed.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/consent-parental-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/consent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/data-sharing-complete-reminder-proxy.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/data-sharing-complete-reminder.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/family-member-reminder-1wk-proxy.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/family-member-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/general-information-complete-reminder-proxy.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/general-information-complete-reminder.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/health-and-development-complete-reminder-proxy.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/health-and-development-complete-reminder.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/legacy-complete-reminder.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/quality-of-life-complete-reminder-proxy.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/quality-of-life-complete-reminder.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/sign-up-welcome-parental.html
  pepper-apis/studybuilder-cli/studies/rarex/emails/sign-up-welcome.html
  pepper-apis/studybuilder-cli/studies/rarex/sendgrid-emails.conf
  pepper-apis/studybuilder-cli/studies/rarex/study.conf
Due: action="build-test", dss, action="build-test-deploy"

Migrate FON legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/fon/emails/welcome.html
  pepper-apis/studybuilder-cli/studies/fon/sendgrid-emails.conf
  pepper-apis/studybuilder-cli/studies/fon/study-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

Migrate MBC legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/mbc/emails/about_you_completed.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_received.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent_reminder.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/bloodconsent_completed.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/bloodrelease_completed.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_completed.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_1wk.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_2wk.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_3wk.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/exit_request.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_completed.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_created.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_reminder.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/join_mailing_list.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_completed.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_reminder.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/saliva_received.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/tissueconsent_completed.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/welcome.html
  pepper-apis/studybuilder-cli/studies/mbc/sendgrid_emails.conf
Due: action="build-test", dss, action="build-test-deploy"

Migrate Circadia legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/circadia/emails/welcome.html
Due: action="build-test", dss, action="build-test-deploy"

Migrate CGC legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/cgc/emails/rrc.html
  pepper-apis/studybuilder-cli/studies/cgc/emails/rrg.html
  pepper-apis/studybuilder-cli/studies/cgc/sendgrid-emails.conf
  pepper-apis/studybuilder-cli/studies/cgc/study.conf
Due: action="build-test", dss, action="build-test-deploy"
