Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

PEPPER-803 fix flaky testCreateAndLoginNewTestUser test (#2552)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/Auth0ManagementClientTest.java
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Fix auth0BackoffTime logic and test
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/Auth0ManagementClientTest.java
Due: action="build-test", dss, action="build-test-deploy"

Allow wait cases of less than one second
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/Auth0ManagementClientTest.java
Due: action="build-test", dss, action="build-test-deploy"

Fix auth0BackoffTime logic and test (#2567)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/Auth0ManagementClientTest.java
Due: action="build-test", dss, action="build-test-deploy"

Restructured UpdateWorkflowStatusTest for data independence among tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix bug identified by Sonar
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Fix bug identified by reviewer
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Update pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/DatabaseTestUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/DatabaseTestUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Pepper-802: Provide a Docker based DSM DB (#2563)
  .circleci/main-config.yml
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/DatabaseTestUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-802-ddp_instance.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DbTxnBaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/route/familymember/AddFamilyMemberRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DSMDbTestContainer.java
  pepper-apis/dsm-core/src/test/resources/testdbs/testdbsetup.cnf
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/HousekeepingTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/TxnAwareBaseTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/PooledPasswordRotationTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/TransactionWrapperTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/DBTestContainer.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/MySqlTestContainerUtil.java
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Updates version to latest, adds mocks for remaining DSM test, removes unused class.
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/MockMultiSearchResponse.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/VerticalHighlightedBarChartStrategyTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

[PEPPER-130 -> PEPPER-130] Updates version to latest, adds mocks for remaining DSM test, removes unused class. (#2568)
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/MockMultiSearchResponse.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/VerticalHighlightedBarChartStrategyTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Experimenting with Sonar
  .circleci/main-config.yml
Due: none

Experimenting with Sonar
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Experimenting with Sonar
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-core/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Experimenting with Sonar
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Experimenting with Sonar
  .circleci/main-config.yml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Temporary ignore for flaky test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"
