Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7926 | add check for nested upsert painless facade to build final query if upsert happens with doc id
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/BaseScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  study-builder/target/checkstyle-cachefile
  study-builder/target/checkstyle-checker.xml
Due: action="build-test", dsm, action="build-test-deploy"

delete mysterious files
  study-builder/target/checkstyle-cachefile
  study-builder/target/checkstyle-checker.xml
Due: none

DDP-7926 | migrate changes to release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/BaseScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fix: update left out `.gitignore` changes after #1570
  .gitignore
Due: none

comparison validation fix (#1594)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionCached.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

IntegerRange was removed from the schema definition
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7926 | add type extractor to UpsertPainlessFacade to add keyword if field type is text
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDp-7954
  pepper-apis/studybuilder-cli/studies/singular/activities/about-healthy.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7947 | add composite type in isTextContent to add lower_case_sort
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7947 | add Type.COMPOSITE to isTextContent of Sort
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
Due: action="build-test", dsm, action="build-test-deploy"

Update prion.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionDdp7717.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionPrionRequestUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionWorkflowAndEventsUpdate.java
  pepper-apis/studybuilder-cli/studies/prion/patches/activity_instance_creation_prionmedical_event.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7926 | add TypeExtractor to UpsertPainlessFacade to add keyword analyzer for text fields
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/BaseScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7913: added npe checks to submit abstraction
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AbstractionRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DP-7238 Assignee table changes
  pepper-apis/ddp-database/src/main/resources/db-changes/schema/DDP-7883_dsm_legacy_user_id.xml
  pepper-apis/ddp-database/src/main/resources/shared-master-changelog.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/UserRoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/AssigneeDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/AssigneeDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AssigneeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DisplaySettingsRoute.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DP-7238 KitType changes to not use old access tables
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitType.java
Due: action="build-test", dsm, action="build-test-deploy"

DP-7238 `ParticipantExit` changes to not use old access tables and get user names after retrieving exited pts
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantExit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserRoleDto.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/EditParticipantTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DP-7238
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantExit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SurveyTrigger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/UserRoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserRole.java
Due: action="build-test", dsm, action="build-test-deploy"

DP-7238
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/AbstractionActivity.java
Due: action="build-test", dsm, action="build-test-deploy"

DP-7238
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

DP-7238
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

DP-7238
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantEvent.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

Redundant interface conformance declaration
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/BooleanQuestionDto.java
Due: action="build-test", dss, action="build-test-deploy"

Initial commit of the liquibase updates
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7709-add-boolean-render-mode.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7709-add-boolean-render-mode-type.xml
Due: action="build-test", dss, action="build-test-deploy"

Define the default value for existing rows
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7709-add-boolean-render-mode.xml
Due: action="build-test", dss, action="build-test-deploy"

Adds the BooleanRenderMode type
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/BooleanRenderMode.java
Due: action="build-test", dss, action="build-test-deploy"

Update the Dto to include the boolean render mode
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/BooleanQuestionDto.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Update the boolean question def with render mode
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/BoolQuestionDef.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"

Add renderMode to boolean question insert calls
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

The BoolQuestion constructor changed
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/question/BoolQuestionTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/CompleteRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/RequiredRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/actvityinstancebuilder/FormInstanceTest.java
Due: action="build-test", dss, action="build-test-deploy"

Updated to the BoolenQuestion response object
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/BoolQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

Adds some base template files for study objects
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-block-content.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-block.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-question-boolean.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-question.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-section.conf
Due: action="build-test", dss, action="build-test-deploy"

Initial demo study & en strings file
  pepper-apis/studybuilder-cli/studies/basil/boolean-question-demo-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Code review modifications
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7913: added npe checks to submit abstraction (#1603)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AbstractionRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from https://github.com/broadinstitute/ddp-study-server/pull/1603/files
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AbstractionRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Ddp 7926 rgp kit sent release (#1605)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/BaseScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7992. Basil study equations activity extended with picklist question example
  pepper-apis/studybuilder-cli/studies/basil/equation-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/ru.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7992. Basil study equations activity extended with picklist question example
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/studybuilder-cli/studies/basil/equation-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/ru.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7992. Basil study equations activity extended with picklist question example
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/studybuilder-cli/studies/basil/equation-activity.conf
Due: action="build-test", dss, action="build-test-deploy"
