Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

removing the email_verified claim check because it is not used
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

DSM Auth0 tenant claim update
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/filter/DsmAuthFilter.java
Due: action="build-test", dss, action="build-test-deploy"

update api instruction
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7555/Update-first-enrollment-question-for-self-and-child
  study-builder/studies/singular/activities/add-participant-parental.conf
  study-builder/studies/singular/activities/add-participant-self.conf
  study-builder/studies/singular/i18n/en.json
Due: none

updated pancan family history texts
  study-builder/studies/pancan/i18n/en.conf
Due: none

Fix for constructor
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

removed irrelevant tests and `CookieUtil.java` class because it wasn't used anymore
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/CookieUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

CheckStyle fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

removed unused files and code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LoggingFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/JWTConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/Auth0Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/SecurityHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7610: mr tab fix (#1219)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/resources/application.conf
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/TissueDataMigrationTool.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7344: dsm pre-filter (#1188)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/AbstractionActivity.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/AbstractionFinal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/InstanceSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/PDFProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/FilterParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/EmptyFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/settings/field/FieldSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/FrontendAnalyticsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EventUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SecurityUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailRecord.java
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-7344_preFilter.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteInfoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TissueDataMigrationToolTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Merge branch 'develop' into DDP7185-remote-auto-complete
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
Due: action="build-test", dss, action="build-test-deploy"

Support new DSM tokens in DSM backend to DSS backend requests(#1220)
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/filter/DsmAuthFilter.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/filter/DsmAuthFilterTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7344: removing empty filter because of pre-filter there might always be a filter applied
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7344: removing empty filter because of pre-filter there might always be a filter applied (#1224)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

work-in-progress
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/RemoteAutoCompleteResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetOptionsForActivityInstanceQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PicklistOptionTypeaheadComparator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StringSuggestionTypeaheadComparator.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

work-in-progress
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetOptionsForActivityInstanceQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7465 | adding new alias type for ACTIVITY
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | use getAlias() instead of Alias.of() in order to call appropriate child/parent methods polymorphically
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | clean up code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | add DATE_SHORT to Type and DSM to Alias
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Type.java
Due: action="build-test", dsm, action="build-test-deploy"

Grammar defined
  pepper-apis/dss-core/pom.xml
  pepper-apis/equation-antlr/pom.xml
  pepper-apis/equation-antlr/src/main/antlr4/org/broadinstitute/ddp/equation/lang/Equation.g
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Grammar simplified
  pepper-apis/equation-antlr/src/main/antlr4/org/broadinstitute/ddp/equation/lang/Equation.g
Due: action="build-test", action="build-test-deploy"

DDP-7465 | add of method to class enum Type
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/AdditionalValueTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/JsonArrayTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Type.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | add EX to Alias
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | continue handling REGISTRATION alias case
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/SortTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | add RegistrationSort in order to handle all the cases related to Type=REGISTRATION
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/RegistrationSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/RegistrationSortTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | attempt to filter null values
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/CustomSortBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

Grammar moved to the same module.
  pepper-apis/dss-core/pom.xml
  pepper-apis/equation-antlr/pom.xml
  pepper-apis/pex-antlr/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Equation.g4
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Test added
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/lang/EquationParserTest.java
Due: action="build-test", dss, action="build-test-deploy"

work-in-progress
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/PicklistQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/PicklistQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

work-in-progress
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

work-in-progress
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7625: add diet&lifestyle introduction
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
Due: none

create os somatic assent addendum without patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SomaticAssentAddendumV2.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/parental-consent.conf
  study-builder/studies/osteo/patches/Somatic-Assent-Addendum-V2.conf
  study-builder/studies/osteo/patches/bool-question-somatic-assent-addendum.conf
  study-builder/studies/osteo/patches/text-question-date-somatic-assent-addendum.conf
  study-builder/studies/osteo/patches/text-question-somatic-assent-addendum.conf
  study-builder/studies/osteo/study-activities.conf
  study-builder/studies/pancan/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

fix: updated family side question
  study-builder/studies/pancan/family-history/snippets/family-history-block-question-side.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
Due: none

API updated
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7465 | leverage unmappedType and missing methods for Sort
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/CustomSortBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"
