Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

minor fix in about you subquestion 10A
  study-builder/studies/osteo/patches/about-you-child-updates.conf
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: none

updated osteo sarcoma medical release name on dashboard
  study-builder/studies/osteo/patches/mrf-v2.conf
Due: none

minor changes in prequal error variables
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  study-builder/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

updated parent/guardian flow update for medical release acitivty name
  study-builder/studies/osteo/patches/mrf-v2.conf
Due: none

fixed minor text bugs
  study-builder/studies/lms/activities/consent-assent.conf
  study-builder/studies/lms/snippets/consent-assent-section4-child-intro.conf
  study-builder/studies/lms/snippets/consent-intro.conf
Due: none

DDP-7575 standardize ColumnValue-s as collections
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed patch studyId missmatch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7723: fixed npe
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

update output to include tranlastions from console
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

update read me
  scripts/ddp-RxTerms-script/README.md
Due: none

DDP-7723: fixed npe (#1374)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

remove inquirer
  scripts/ddp-RxTerms-script/src/utils/common.ts
Due: none

DDP-7746: adding new participant fields for singular and adding a DefaultableMaker for it
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Study.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/SingularDefaultValues.java
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7746_singularParticipantFields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7746: better method naming
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/SingularDefaultValues.java
Due: action="build-test", dsm, action="build-test-deploy"

fix prequal patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  study-builder/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

add medicar release form
  study-builder/studies/lms/activities/medical-release-minor.conf
  study-builder/studies/lms/i18n/en.json
  study-builder/studies/lms/study-activities.conf
  study-builder/studies/lms/study-events.conf
  study-builder/studies/lms/study-workflows.conf
Due: none

added somatic addendum sections for pediatric and adult
  study-builder/studies/lms/activities/consent-assent.conf
  study-builder/studies/lms/activities/parental-consent.conf
  study-builder/studies/lms/activities/self-consent.conf
  study-builder/studies/lms/snippets/bool-question-consent-tumor-samples.conf
  study-builder/studies/lms/snippets/consent-addendum-participant-signature.conf
  study-builder/studies/lms/snippets/date-question-consent-addendum.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-contact.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-description.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-documentation.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-introduction.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-contact.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-description.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-documentation.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-introduction.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-procedures.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-risks.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-procedures.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-risks.conf
  study-builder/studies/lms/somatic-consent-addendum-parental.conf
  study-builder/studies/lms/somatic-consent-addendum-pediatric.conf
  study-builder/studies/lms/somatic-consent-addendum.conf
Due: none

change validation message
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7746: singular fields (#1375)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Study.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/SingularDefaultValues.java
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7746_singularParticipantFields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7751 | changed the way of getting ElasticSearchParticipantDto
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7630 . Support composite question in new style elastic export (#1337)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/CompositeQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/QuestionRecord.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7694 elastic search settings/mapping update (#1305)
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7762 write excel data stream directly into response outputstream
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ExcelUtils.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

fix from https://github.com/broadinstitute/ddp-study-server/pull/1379
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7751 | remove unused imports
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7117 | update mapping file for dsm (#1057)
  elasticsearch/templates/participants_structured.json
Due: none

moving changes from csv download into release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ExcelUtils.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Study.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/SingularDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7746_singularParticipantFields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7366 & DDP-7367 Consent updates
  study-builder/studies/lms/snippets/consent-assent-section4-child-instruction.conf
  study-builder/studies/lms/snippets/consent-assent-section4-child-intro.conf
  study-builder/studies/lms/snippets/consent-intro.conf
  study-builder/studies/lms/snippets/consent-minors-section1-contact.conf
  study-builder/studies/lms/snippets/consent-minors-section2-contact.conf
  study-builder/studies/lms/snippets/consent-minors-section2-involvement.conf
  study-builder/studies/lms/snippets/consent-minors-section3-additional-terms.conf
  study-builder/studies/lms/snippets/consent-section1-contact.conf
  study-builder/studies/lms/snippets/consent-section2-confidentiality.conf
  study-builder/studies/lms/snippets/consent-section2-contact.conf
  study-builder/studies/lms/snippets/consent-section2-involvement.conf
  study-builder/studies/lms/snippets/consent-section3-additional-terms.conf
  study-builder/studies/lms/snippets/former-proxy-announcement-msg.conf
  study-builder/studies/lms/study-emails.conf
Due: none

update requiere to import
  scripts/ddp-RxTerms-script/src/utils/common.ts
Due: none

Update scripts/ddp-RxTerms-script/package.json
  scripts/ddp-RxTerms-script/package.json
Due: none

update suggested changes
  scripts/ddp-RxTerms-script/package.json
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

remove common
  scripts/ddp-RxTerms-script/src/utils/common.ts
Due: none

update tsconfig
  scripts/ddp-RxTerms-script/tsconfig.json
Due: none

d+minor fix
  study-builder/studies/lms/activities/medical-release-minor.conf
  study-builder/studies/lms/study-activities.conf
  study-builder/studies/lms/study-events.conf
  study-builder/studies/lms/study-workflows.conf
Due: none

updated phone number in singular email signatures
  study-builder/studies/singular/emails/about-me-reminder/en.html
  study-builder/studies/singular/emails/about-my-child-reminder/en.html
  study-builder/studies/singular/emails/completion-thank-you-child/en.html
  study-builder/studies/singular/emails/completion-thank-you-self/en.html
  study-builder/studies/singular/emails/consent-child-age-of-majority-email-verification/en.html
  study-builder/studies/singular/emails/consent-child-age-of-majority-form-reminder/en.html
  study-builder/studies/singular/emails/consent-child-age-of-majority-reminder/en.html
  study-builder/studies/singular/emails/consent-child-age-of-majority-signup/en.html
  study-builder/studies/singular/emails/consent-child-age-of-majority/en.html
  study-builder/studies/singular/emails/consent-reminder-child/en.html
  study-builder/studies/singular/emails/consent-reminder-self/en.html
  study-builder/studies/singular/emails/medical-release-reminder-self/en.html
  study-builder/studies/singular/emails/parental-medical-release-reminder/en.html
  study-builder/studies/singular/emails/patient-survey-reminder-child/en.html
  study-builder/studies/singular/emails/patient-survey-reminder-self/en.html
  study-builder/studies/singular/emails/sample-received-child/en.html
  study-builder/studies/singular/emails/sample-received-self/en.html
  study-builder/studies/singular/emails/welcome/en.html
Due: none

update singular phones
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/snippets/former-proxy-announcement-msg.conf
  study-builder/tenants/singular/emails/password_reset.html
  study-builder/tenants/singular/pages/login.html
  study-builder/tenants/singular/pages/password_reset.html
Due: none

DDP-6034 | change ES mapping based on SMID-s
  elasticsearch/templates/participants_structured.json
Due: none

DDP-6034 | add SMIDPatch in order to handle patch requests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

add required text'
  study-builder/studies/singular/activities/add-participant-parental.conf
  study-builder/studies/singular/activities/add-participant-self.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
