Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

adding explicit 'human readable' export format
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListParams.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

adding explicit 'human readable' export format
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/QuestionType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListParams.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 Exporting the two new fields
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8218 .
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PanCanNewActivities.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 refactor about child activity
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/osteo/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix templates
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix family history creation events
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix family history patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix family history events
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | add check if kit label is less than 14 digits in case of final scan
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitStatusChangeRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | run final code cleanup
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/BasePatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/ParentRelatedPatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | move ScanError in its own file, do some checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/ScanError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ScanPayload.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitReceivedUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/KitStatusChangeRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8586 remove child family history activity
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-additional-details.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-grandparent.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-half-sibling.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-parent-sibling.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-parent1.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-parent2.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-sibling.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-study-activity-entry.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-age-range-picklistoptions.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-conditional-cancer-list.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-age-range.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-alias.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-currenty-living.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-jewish-ancestry-control.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-jewish-ancestry-nested.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-jewish-ancestry.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-sex.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-side-control.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-side.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-age.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-cancer-list.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-had-cancer.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-type.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-family-member-intro-block.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-instructions.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-intro.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-note-block.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-activities.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-sync-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix subs.conf
  pepper-apis/studybuilder-cli/studies/osteo/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | fix the bug related to oncHistory.created not appearing in ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/BasePatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/ParentRelatedPatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/exception/PatchProcessingException.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8586 osteo ageup addendum (#2169)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/add-participant.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-additional-details.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-grandparent.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-half-sibling.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-parent-sibling.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-parent1.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-parent2.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-sibling.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-study-activity-entry.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-age-range-picklistoptions.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-conditional-cancer-list.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-age-range.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-alias.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-currenty-living.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-jewish-ancestry-control.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-jewish-ancestry-nested.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-jewish-ancestry.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-sex.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-side-control.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-block-question-side.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-age.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-cancer-list.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-had-cancer.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-conditional-cancer-question-type.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-family-member-intro-block.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-instructions.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-intro.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/snippets/family-history-section-note-block.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-activities.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-sync-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/osteo/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | add special DBElementBuilder for OncHistory which sets primary id to "participant_id", write unit tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingOncHistoryPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | fix conflicts, add comments to key classes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/BaseProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseActivitiesStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/SplitterStrategy.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | remove OncHistoryPatch.java since it's unused
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 Exporting Status updates
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8616. update email template text (#2177)
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

fixing imports
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8628: adding explicit 'human readable' export format (#2176)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListParams.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8628: supporting human-readable export format (#2175)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/QuestionType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListParams.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/PicklistQuestionFormatStrategy.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/collectors/PicklistQuestionFormatStrategyTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8218. remove pancan followup activity creation events. (#2165)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PanCanNewActivities.java
  pepper-apis/studybuilder-cli/studies/pancan/patches/new-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-7477 | use naive approach to add first name, last name, dob (#2166)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7866: fixing edge case around text question handling (DSM) (#2174)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8578. Order participants (#2172)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetGovernedStudyParticipantsRoute.java
Due: action="build-test", dss, action="build-test-deploy"

fixed reconsent bug for aged up users and for os1 users (#2173)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/dob-validations.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/governance-fix.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/osteo/study.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8625 fix composite question caching
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionCached.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7855 | fix conflicts, checkstyles
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DiamondEqualsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ClinicalOrderMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/db/dao/tag/cohort/CohortTagDaoTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagMigrationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/AbstractQueryBuilderFactoryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | add OR to test
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/SingleQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8630 | add short id for label
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"
