Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

[DSM] DDP-8349: lookup fields bug (#2207)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/NameValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionMappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantDataPatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionMappingGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8051 . Handle pex expr evaluation error in DataExporter (#2214)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7606: adding ColumnName to write it into ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7606: fixing KitDaoImpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-7606: received by (#2211)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8561: external report (#2212)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/FilterRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

commenting OS2 db changes out for release
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

ignoring missing DSS info in token
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8660: adding perf. metrics to export
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/analytics/GoogleAnalyticsMetrics.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8656: fixing patch for fields that have a workflow action
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix boolean question insert
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-8656: fixing patch for fields that have a workflow action (#2219)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8561: rolled back changes from https://github.com/broadinstitute/ddp-study-server/pull/2212
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperPayload.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8642 PR comments applied - removed unnecessary call to the ES for guid
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8642 Singular default value (#2210)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/SingularDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/DefaultParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/NewOsteoParticipantExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

Adds patch config file
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8576-select-logic.conf
Due: action="build-test", dss, action="build-test-deploy"

Only 2 possible values - expected/updated is overkill
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8576-select-logic.conf
Due: action="build-test", dss, action="build-test-deploy"

Initial setup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthySelectLogic.java
Due: action="build-test", dss, action="build-test-deploy"

Each activity will have a distinct version tag
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8576-select-logic.conf
Due: action="build-test", dss, action="build-test-deploy"

Adds methods to update and fetch picklist options
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Completed the patch impl
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthySelectLogic.java
Due: action="build-test", dss, action="build-test-deploy"

Bulk of the update implementation- still needs to be persisted
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/PicklistOptionDto.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthySelectLogic.java
Due: action="build-test", dss, action="build-test-deploy"

Removes `final` so setters can be generated
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/PicklistOptionDto.java
Due: action="build-test", dss, action="build-test-deploy"

Review changes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthySelectLogic.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

Cleanup from testing
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthySelectLogic.java
Due: action="build-test", dss, action="build-test-deploy"

Rename the task
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMakeNoMedicalTreatmentOptionExclusive.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.java
Due: action="build-test", dss, action="build-test-deploy"

Update to the Option DAO insert method
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Change the comment style due to parsing errors
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-8561: rolled back changes (#2221)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperPayload.java
Due: action="build-test", dsm, action="build-test-deploy"

Hotfix to ignore loggingFilter for gp routes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8664 moving iss value to configs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8664 moving iss value to configs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

leaving LoggingFilter but not checking signer in claim
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8664 removing the check for iss claim
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8576: Picklist option exclusivity changes in PATIENT_SURVEY and ABOUT_HEALTHY (#2220)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/PicklistOptionDto.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMakeNoMedicalTreatmentOptionExclusive.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8576-select-logic.conf
Due: action="build-test", dss, action="build-test-deploy"

The notification should send a json payload
  cloud-functions/cf-file-scanner/init-bucket-event.sh
Due: none

DDP-8664 removing the check for iss claim
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
