Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

A couple of issues found by static analysis fixed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/ActivityDefStore.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/MiscUtil.java
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, action="build-test-deploy"

changed fill in here with spanish equivalent of it
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/stool-kit.conf
Due: none

DDP-7569. Lombok introduction (#1169)
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/KitConfigurationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/dsm/DsmKitRequest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/dsm/DsmStudyParticipant.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/housekeeping/BackupJobDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitConfigurationDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitCountryRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitPexRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/pdf/MailingAddressTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/pdf/PdfTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/pdf/PhysicianInstitutionTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/AgeRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/DateRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/DecimalRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/IntRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/LengthRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/NumOptionsSelectedRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RegexRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RuleDto.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/DsmKitRequestDaoTest.java
  pepper-apis/lombok.config
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

A couple of issues found by static analysis fixed (#1179)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/ActivityDefStore.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/MiscUtil.java
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, action="build-test-deploy"

fix ObjectMapperSingleton.readValue
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed translation
  study-builder/studies/pancan/family-history/snippets/family-history-block-question-sex.conf
  study-builder/studies/pancan/family-history/snippets/family-history-section-instructions.conf
  study-builder/studies/shared/family-history/family-history-top-level.conf
Due: none

added stool kit chart in spanish
  study-builder/studies/pancan/stool-kit.conf
Due: none

fixing some more checkstyle problems
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AssignParticipantRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/familymember/AddFamilyMemberRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participant/GetParticipantDataRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

removing old unused code. value on prod for `portal.enableBlindTrustDDP` = false
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

adding DSMConfig changing ConfigUtil.getSqlFromConfig to DSMConfig.getSqlFromConfig
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/LabelSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantEvent.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/PDFProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitDDPSummary.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/Filterable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/EmptyFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/ManualFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/SavedFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/ManualFilterTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/SavedFiltersTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/BSPKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDiscardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JavaHeapDumper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Added change to be able to decrypt the RSA256 token instead of HSA256 Added methods to create a POST request with desired claims as a form data for auth0 to get a new token
  .gitignore
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/auth0/Auth0M2MRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/auth0/Auth0M2MResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDiscardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SecurityUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7516 . Create DSM Auth0 Tenant
  study-builder/config/dsm-config.json.ctmpl
  study-builder/config/manifest-tenant.rb
  study-builder/tenants/add-claims.js
  study-builder/tenants/dsm/emails/welcome_email.html
  study-builder/tenants/dsm/pages/login.html
  study-builder/tenants/dsm/pages/password_reset.html
  study-builder/tenants/dsm/tenant.yaml
Due: none

DDP-7175 . Create FON Auth0 Tenant
  study-builder/config/fon-config.json.ctmpl
  study-builder/config/manifest-tenant.rb
  study-builder/tenants/fon/emails/welcome_email.html
  study-builder/tenants/fon/pages/login.html
  study-builder/tenants/fon/pages/password_reset.html
  study-builder/tenants/fon/tenant.yaml
Due: none

add initial changes
  study-builder/studies/singular/i18n/en.json
Due: none

EventConfigurationDto
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/EventConfigurationDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/ActivityInstanceCreationEventAction.java
Due: action="build-test", dss, action="build-test-deploy"

FileQuestionDto
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FileQuestionDto.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  study-builder/studies/study-example.conf
Due: none

FormActivitySettingDto
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiFormActivitySetting.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/EventConfigurationDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormActivitySettingDto.java
Due: action="build-test", dss, action="build-test-deploy"

Unit test fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FileQuestionDto.java
Due: action="build-test", dss, action="build-test-deploy"

FormBlockDto
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormBlockDto.java
Due: action="build-test", dss, action="build-test-deploy"

FormSectionDto
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormSectionDto.java
Due: action="build-test", dss, action="build-test-deploy"

Lost getters restored
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/EventActionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormBlockDto.java
Due: action="build-test", dss, action="build-test-deploy"

FormSectionMembershipDto
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormSectionMembershipDto.java
Due: action="build-test", dss, action="build-test-deploy"

InstitutionDto
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiInstitution.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/I18nTemplateSubstitutionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/IconBlobDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/InstitutionDto.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/JdbiInstitutionTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetInstitutionSuggestionsRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

adding study_pre_filter to ddp_instance work in progress
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-7344_preFilter.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

adding DSMConfig changing ConfigUtil.getSqlFromConfig to DSMConfig.getSqlFromConfig
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/LabelSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantEvent.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/PDFProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitDDPSummary.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/BSPKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDiscardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JavaHeapDumper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed typo
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/LabelSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/PDFProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/Filterable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/EmptyFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/ManualFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/SavedFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/ManualFilterTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/SavedFiltersTissueList.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitDDPSummary.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AssignParticipantRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/familymember/AddFamilyMemberRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participant/GetParticipantDataRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

removing unused blindTrustCode on prod "portal.enableBlindTrustDDP" = false
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

moving LiquibaseUtil to ddp-common and all related classes (#1174)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ErrorMessages.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dao/JdbiAuth0Tenant.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/Auth0TenantDto.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/security/AesUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/security/EncryptionKey.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/MiscUtil.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/util/Utility.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dss-core/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/TestBostonKitTrackerDispatcher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/kitrequest/KitRequestDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/TestBostonUPSTrackingJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitSubKits.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateGreaterSplitter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateSplitterHelper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/AddFamilyMemberPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MRCoverPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ups/UPSActivity.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ups/UPSAddress.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ups/UPSKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ups/UPSShipment.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CarrierServiceRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadPDFRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/MedicalRecordLogRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JavaHeapDumper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitEvent.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ParticipantUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/TestBostonKitTrackerDispatcher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DdpKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/TestBostonUPSTrackingJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/log/SlackAppender.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateGreaterSplitter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteInfoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestAbstraction.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/ups/UPSPackageTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/TissueDataMigrationTool.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed typo
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DdpKit.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing Checkstyle OverloadMethodsDeclarationOrder
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EventUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SecurityUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

removed unused ddpInstance object
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/ManualFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/SavedFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7344: adding pre filter logic to participant list filtering
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7559 . Elastic updates for DSM
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/CompositeQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/DateQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/MatrixQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/PicklistQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/QuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/SimpleQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/GsonUtil.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7589 . cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/QuestionRecord.java
Due: action="build-test", dss, action="build-test-deploy"
