Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

[DDP-8315] add osteo child tooltips (#1960)
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7581: fixing permission check
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing export of nested json data columns
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing export of nested json data columns (#1964)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

removing TEST activity with DSS and extra logging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DSSTestingRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

DSM_removve_TEST_GET_ACTIVITY (#1965)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DSSTestingRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8217 adding the new columns in sm id table and updating them DDP-8217 adding date_px ad collectionDate for sm ids DDP-7556 DisplaySettingsRoute returns if the realm has sequencting
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DisplaySettingsRoute.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7556_mercury_sequencing.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-8217_sm_id_receive_fields.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8217 only adding sm ids with received_date (Accessioned) to the order
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

adding more exception handling to export parsing
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
Due: action="build-test", dsm, action="build-test-deploy"

FON/DDP-8307: addition of unknown option to question about patient enrolling in other registries
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

FON/DDP-8308: addition of unknown option to question about patient enrolling in other registries
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Ddp 8308 add unknown option to question about patient enrolling in other registries (#1966)
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8309] add US, CA zip regex validation
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8309-fon-zip-code-validation.xml
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8309] refactoring
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8305] medication log date validation
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8305] medication log date validation (#1969)
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
Due: action="build-test", dss, action="build-test-deploy"

FON/DDP-8303: Medication start date changed to optional
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
Due: action="build-test", dss, action="build-test-deploy"

FON/DDP-8307: Medication start date changed to optional
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
Due: action="build-test", dss, action="build-test-deploy"

Ddp 8307 medication start date should be optional (#1970)
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-7512] echocardiogram activity bugs (#1926)
  pepper-apis/studybuilder-cli/studies/fon/activities/echocardiogram.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

feat: Use "exclusive"
  pepper-apis/studybuilder-cli/studies/fon/activities/medical-history.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

feat: Use "exclusive" (#1971)
  pepper-apis/studybuilder-cli/studies/fon/activities/medical-history.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8337 adding the pepper order id in the response of the api and removing some unnecessary logs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/PostMercuryOrderDummyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7604 Since collection date field is added, we have to make sure dummy kits also have that
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7234 PR comments to use more Lombok annotations applied
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/RoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/RoleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/access/GetRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/GetUserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/ModifyUserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/PostUserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/patch/DeactivateUserRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7883 changing order to work with AllArgsConstructor
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8337 Adding `PepperOrderId` as a constant
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/PostMercuryOrderDummyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing export of nested json data columns (#1963)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8342-consent-assents-form-fonts
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-cost.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-withdraw.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-cost.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-withdraw.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8342-consent-assents-form-fonts (#1973)
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-cost.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-withdraw.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-cost.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-withdraw.conf
Due: action="build-test", dss, action="build-test-deploy"

fixing dsm.participant, composite value, and activity status rendering
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ModuleExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7581 - export module fixes (#1974)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ModuleExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

font change for assets
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-assent-section4-child-instruction.conf
Due: action="build-test", dss, action="build-test-deploy"

Attempt to fix a JSON insert error
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiI18nTranslation.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
