Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7828 implemented
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side-control.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side.conf
  study-builder/studies/osteo/i18n/en.conf
Due: none

added missing paragraph in osteo about you page
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: none

Changed LOVEDONE_RELATION_TO options arrange.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoLovedOneV2.java
  study-builder/studies/osteo/patches/lovedone-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

Slf4j, AllArgsConstructor, warnings
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/CreateActivityInstanceCLI.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7837 | add two missing fields in field settings table, make sure they are not displayed on the client side (#1488)
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

oncHistoryDetail/hot-fix | migrate changes to release branch (#1500)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/ReceiveKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7837 | adding missing field settings to RGP and AT on latest release branch (#1502)
  pepper-apis/dsm-core/src/main/resources/liquibase/at/DDP-7837_AT_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_more_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
Due: none

DDP-7857 | keep TCP connection alive in case if socket timeout exception happens (#1474)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

add logger.warn() in order to see what's wrong with the upserts for oncHistoryDetails
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

add logger.warn() in order to see what's wrong with the upserts for oncHistoryDetails (#1511)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

OncHistoryDetail/bugFix | export only in case of guids
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

add @Ignore to test
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

OncHistoryDetail/bugFix | export only in case of guids (#1512)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done
  study-builder/studies/osteo/study-workflows.conf
Due: none

Added Daos and Dtos and Jdbi classes for User, UserRoleDao, UserPermissions and UserSettingsDao
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/UserSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/UserRoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/UserSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/UserSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DaoException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/UserSettingRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DBUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7291 . Add new activity instance status: ERROR_PRESENT
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudy.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7291-add-error-present-activity-instance-status.xml
Due: action="build-test", dss, action="build-test-deploy"

Sampath's comment resolved
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

Our own vector's implementation is used inside equations
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluatorBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/SingleValueList.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/AbstractVector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/MultiValueVector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/SingleValueVector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/VectorUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/AbstractVector.java
Due: action="build-test", dss, action="build-test-deploy"

Add new ERROR_PRESENT activity instance status to Basil
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7291-add-error-present-activity-instance-status.xml
  study-builder/studies/basil/file-uploads-activity.conf
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/loved-one-activity.conf
  study-builder/studies/basil/study.conf
Due: action="build-test", dss, action="build-test-deploy"

revert change
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7534-file-answer-one-to-many.xml
Due: action="build-test", dss, action="build-test-deploy"

fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
Due: action="build-test", dss, action="build-test-deploy"

Single -> Multiple
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/studies.audit.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7882: Extend Activity Response with computed equation values
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/EquationAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/EquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-7291: Add new activity instance status type: ERROR_PRESENT (#1513)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudy.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudyCached.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/StudyDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/InstanceStatusType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/DataExportCoordinatorTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/OLCServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/StudyDataLoaderTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7291-add-error-present-status-flag.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7291-add-error-present-activity-instance-status.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/basil/file-uploads-activity.conf
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/loved-one-activity.conf
  study-builder/studies/basil/study.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7871 About your child
  study-builder/studies/osteo/about-child-activity-content.conf
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/i18n/es.conf
  study-builder/studies/osteo/patches/osteo-new-activities.conf
  study-builder/studies/osteo/snippets/child/confidence-level.conf
  study-builder/studies/osteo/snippets/child/highest-level-school.conf
  study-builder/studies/osteo/snippets/child/problem-understanding-written.conf
  study-builder/studies/osteo/snippets/child/question-assigned-sex.conf
  study-builder/studies/osteo/snippets/child/question-gender-identity.conf
  study-builder/studies/osteo/snippets/child/question-how-hear.conf
  study-builder/studies/osteo/snippets/child/question-race.conf
  study-builder/studies/osteo/snippets/child/question-read-hospital-materials.conf
  study-builder/studies/osteo/snippets/child/question-tell-us-anything.conf
  study-builder/studies/osteo/snippets/child/speak-language.conf
  study-builder/studies/osteo/subs.conf
Due: none

DDP-7882: Extend Activity Response with computed equation values (#1515)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/EquationAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/EquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

Add new ERROR_PRESENT activity instance status to Basil
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/loved-one-activity.conf
  study-builder/studies/basil/study-activities.conf
  study-builder/studies/basil/subs.conf
Due: none

Add new ERROR_PRESENT activity instance status to Basil
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/study-activities.conf
Due: none

DDP-7888: fixing json Object
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AbstractionRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
