Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7173 DSM auth0 support (#1175)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClientUmbrellaStudy.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7173-add-client-study-uk.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/study-example.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7589 . Elastic updates for DSM (#1189)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/CompositeQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/DateQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/MatrixQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/PicklistQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/QuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/SimpleQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/GsonUtil.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7180. Part XIV: Validation rule finished
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerCachedDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

DDP-7377/Create-OS-About-your-cancer-form
  study-builder/studies/osteo/about-child.conf
  study-builder/studies/osteo/about-you.conf
Due: none

DDP-7344: adding pre-filter query to EmptyFilterParticipantList filter logic
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/EmptyFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7344: adding liquibase xml to add study_pre_filter column
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-7344_preFilter.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

adding back liquibase and pubsub
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7597: added mercury as receiver info
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/BSPKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

create circadia consent patch, reset inline activity changes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaConsentV2.java
  study-builder/studies/circadia/consent.conf
  study-builder/studies/circadia/dlmo-instructions.conf
  study-builder/studies/circadia/i18n/en.json
  study-builder/studies/circadia/patches/consent-v2.conf
  study-builder/studies/circadia/post-collection.conf
Due: action="build-test", dss, action="build-test-deploy"

remove not used file
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.instance.question-options.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Added a sample route for dsm-dss communication, should be changed based on the needs or removed before testing
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DSSTestingRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

re add removed file D:
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.instance.question-options.yml
Due: action="build-test", api-docs, action="build-test-deploy"

add needed file x3
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.instance.question-options.yml
Due: action="build-test", api-docs, action="build-test-deploy"

fixed errors from merging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed errors from merging commented out the liquibase line because it throws an exception now
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

create dlmo instruction patch for circadia
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaInstructions.java
  study-builder/studies/circadia/patches/dlmo-instructions.conf
Due: action="build-test", dss, action="build-test-deploy"

fix: updated medical record survey
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/i18n/es.conf
  study-builder/studies/osteo/medical-release-minor.conf
  study-builder/studies/osteo/medical-release-self.conf
Due: none

create post-collection circadia patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaPostCollectionV2.java
  study-builder/studies/circadia/i18n/en.json
  study-builder/studies/circadia/patches/post-collection-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

patch style cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaConsentV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaInstructions.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaPostCollectionV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7424: splitting FieldSettingsRoute.java into 2 separate routes adding logic to create column_name automatically from display_name (WIP)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/FieldSettingsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/settings/GetFieldSettingsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/settings/PatchFieldSettingsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/UserErrorMessages.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SystemUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

cleanup
  study-builder/tenants/dsm/emails/welcome_email.html
  study-builder/tenants/dsm/tenant.yaml
Due: none

cleanup
  study-builder/tenants/dsm/pages/login.html
  study-builder/tenants/dsm/tenant.yaml
Due: none

adding missing check and liquibase xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JavaHeapDumper.java
  pepper-apis/dsm-core/src/main/resources/liquibase/circadia/DDP-6688_DLMO-events.xml
Due: action="build-test", dsm, action="build-test-deploy"

adding missing check and liquibase xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7424: only save FieldSettings if they are added new or were changed
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7424: removed unused FieldSettingsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/FieldSettingsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | minor fixes to run the project
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/circadia/DDP-6688_DLMO-events.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

create singular patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMedicalRelease.java
  study-builder/studies/singular/patches/update-medical-release.conf
Due: action="build-test", dss, action="build-test-deploy"

refactor: moved family history configs from global `shared` to osteo's root dir
  study-builder/studies/osteo/family-history/family-history-about-you.conf
  study-builder/studies/osteo/family-history/family-history-aunt-uncle.conf
  study-builder/studies/osteo/family-history/family-history-child.conf
  study-builder/studies/osteo/family-history/family-history-father.conf
  study-builder/studies/osteo/family-history/family-history-maternal-grandfather.conf
  study-builder/studies/osteo/family-history/family-history-maternal-grandmother.conf
  study-builder/studies/osteo/family-history/family-history-mother.conf
  study-builder/studies/osteo/family-history/family-history-paternal-grandfather.conf
  study-builder/studies/osteo/family-history/family-history-paternal-grandmother.conf
  study-builder/studies/osteo/family-history/family-history-sibling.conf
  study-builder/studies/osteo/family-history/family-history-study-activity-entry.conf
  study-builder/studies/osteo/family-history/family-history-top-level.conf
  study-builder/studies/osteo/family-history/snippets/family-history-age-range-picklistoptions.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-conditional-cancer-list.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-age-range.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-alias.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-currenty-living.conf
  study-builder/studies/osteo/family-history/snippets/family-history-father-mother-common-activity.conf
  study-builder/studies/osteo/family-history/snippets/family-history-grandparent.conf
  study-builder/studies/osteo/family-history/snippets/family-history-section-family-member-intro-block.conf
  study-builder/studies/osteo/family-history/snippets/family-history-section-instructions.conf
  study-builder/studies/osteo/family-history/snippets/family-history-section-intro.conf
  study-builder/studies/osteo/family-history/snippets/picklist-option.conf
  study-builder/studies/osteo/study-activities.conf
Due: none

DDP-7465 | minor fixes for bugs
  pepper-apis/config/post_deploy_smoketest.sh
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7424: changed name to match https://broadinstitute.atlassian.net/wiki/spaces/DDP/pages/3103850604/Internal+Naming+Convention
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SystemUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

fix checkstyle issues
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMedicalRelease.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7610: only adding objects if they are needed per study setup
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed typo
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

changing DDPInstance to DDPInstanceDto
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateBSPDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

removed unused methods and queries
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7610: removed unused legacy code added Upsert to MedicalRecordUtil and OncHistoryDetail -> new added objects will get added to ES that way
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/TissueDataMigrationTool.java
Due: action="build-test", dsm, action="build-test-deploy"

cleanup
  study-builder/config/fon-config.json.ctmpl
Due: none

minor style fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMedicalRelease.java
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
