Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

[DSS] DDP-7248: Audit Trail Service implementation (#1530)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditActionType.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditEntityType.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditTrailFilter.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditTrailService.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/common/Limitation.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dao/AuditTrailDao.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/AuditTrailDto.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/audit/AuditTrailServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/AuditTrailDaoTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7248.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Resolved DDP-7789. (#1696)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_completed.html
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-7616. API specification for the study audit endpoint (#1504)
  pepper-apis/docs/specification/src/components/responses.yml
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/studies.audit.yml
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Update tabular block definition
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Fix after review
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Improvement | add update mapping command to elastic.sh to update mapping by participants_structured.json
  elasticsearch/elastic.sh
  elasticsearch/participants_structured_extractor.py
  elasticsearch/participants_structured_filter.py
  elasticsearch/participants_structured_reader.py
Due: none

fon conf cleanup
  pepper-apis/studybuilder-cli/studies/fon/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

fon conf cleanup (#1699)
  pepper-apis/studybuilder-cli/studies/fon/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7374/Favicon-fix
  pepper-apis/studybuilder-cli/tenants/cmi/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8090.
  pepper-apis/studybuilder-cli/studies/singular/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8093.
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8092.
  pepper-apis/studybuilder-cli/studies/singular/activities/patient-survey.conf
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8091.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularPatientSurveyUpdate.java
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/patient-survey-had-arrhythmia-new-opt.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | add "deleted" field to medical record, add special method for retrieving medical records
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | fix sql select statement, make constructor protected for tests, implement singleton pattern
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add getParticipantRecordByParticipantId method to ParticipantRecordDao
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add default builder and two new setter methods to builder of participant record dto
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantRecordDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add DDPInstitutionDao for db operations related to ddp_institutions
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add MedicalRecordDao for mr-related db operations
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add DDPInstitutionDto as a data class representing ddp_institution, implement builder pattern
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/institution/DDPInstitutionDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add HasWorkflowStatusUpdate as a functional interface to run complex updates based
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/HasWorkflowStatusUpdate.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add OsteoWorkflowStatusUpdate as a separate class for handling complex updates for OS1/OS2
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

changed thank you email
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

add adult flow mails
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/welcome.html
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | add static copy methods to MedicalRecord and Participant
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add NewOsteoParticipant as a separate field to ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add NewOsteoParticipant class which extends Participant
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/NewOsteoParticipant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7461 | change mapping based on new osteo participant requirements
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7641 | finalize the code which exports data to ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7362.
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/about-your-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8101, DDP-7453.
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/parental-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/bool-question-parental-consent-blood.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-participation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-results.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-authorization.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section3-additional-terms.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section3-full-name-terms.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-participation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-sharing.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-authorization.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-confidentiality.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-cost.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-involvement.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-publishing.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-documentation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-pediatric-documentation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/text-question-child-firstname.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/text-question-firstname.conf
Due: action="build-test", dss, action="build-test-deploy"

changed phone number and tittle
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-introduction.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-pediatric-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-pediatric-introduction.conf
Due: action="build-test", dss, action="build-test-deploy"

deleted commented field
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
Due: action="build-test", dss, action="build-test-deploy"

changes to about-you.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/confidence-level.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/highest-level-school.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/problem-understanding-written.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-assigned-sex.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-gender-identity.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-how-hear.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-race.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-read-hospital-materials.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-tell-us-anything.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/speak-language.conf
  pepper-apis/studybuilder-cli/studies/lms/study.conf
Due: action="build-test", dss, action="build-test-deploy"

stool received mail update
  pepper-apis/studybuilder-cli/studies/pancan/emails/stool_received.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/stool_received.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/stool_received.tmpl.html
  pepper-apis/studybuilder-cli/studies/pancan/study-emails.conf
  pepper-apis/studybuilder-cli/studies/pancan/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

stool received STOOL_RECEIVED event_type_code added to db
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7890-add-new-event-type.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7556 * changed the endpoint to accept pt collab pt id instead of ddpPaticipantId
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

changed 6c email text
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

render mode added
  pepper-apis/studybuilder-cli/studies/prion/snippets/boolean.conf
Due: action="build-test", dss, action="build-test-deploy"
