Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7612/About-my-child-(healthy)-typos
  study-builder/studies/singular/i18n/en.json
Due: none

adding missing check and liquibase xml (#1199)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JavaHeapDumper.java
  pepper-apis/dsm-core/src/main/resources/liquibase/circadia/DDP-6688_DLMO-events.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7597: added mercury as receiver info (#1194)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/BSPKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7377/Create-OS-About-your-cancer-form-v2
  study-builder/studies/osteo/about-child.conf
  study-builder/studies/osteo/about-you.conf
  study-builder/studies/osteo/snippets/picklist-question-body-loc-ned.conf
  study-builder/studies/osteo/snippets/picklist-question-body-loc.conf
  study-builder/studies/osteo/snippets/picklist-question-therapies.conf
Due: none

DDP-7610: removed multiple calls to user index by using list of proxy info already there
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7610: adding index information to logging info
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7610: refactoring ParticipantWrapper a bit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7173 . Support DSM Auth0 tenant/client
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/filter/DsmAuthFilterTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

fixed medical forms
  study-builder/studies/singular/i18n/en.json
Due: none

DDP-7465 | get proxies only if participant has proxy guids
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | reorginize code for better looking
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/SortBy.java
Due: action="build-test", dsm, action="build-test-deploy"

feat: updated osteo family history activity
  study-builder/studies/osteo/family-history/family-history-additional-details.conf
  study-builder/studies/osteo/family-history/family-history-grandparent.conf
  study-builder/studies/osteo/family-history/family-history-half-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent1.conf
  study-builder/studies/osteo/family-history/family-history-parent2.conf
  study-builder/studies/osteo/family-history/family-history-sibling.conf
  study-builder/studies/osteo/family-history/family-history-study-activity-entry.conf
  study-builder/studies/osteo/family-history/family-history-top-level.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-conditional-cancer-list.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-jewish-ancestry-control.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-jewish-ancestry-nested.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-jewish-ancestry.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-sex.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side.conf
  study-builder/studies/osteo/family-history/snippets/family-history-conditional-cancer-question-type.conf
  study-builder/studies/osteo/family-history/snippets/family-history-section-note-block.conf
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/i18n/es.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-brain.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-breast.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-endocrine.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-gastro.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-genitourinary.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-gynecologic.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-head-neck.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-leukemia.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-lungs.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-lymphomas.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-melanomas.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-mpns.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-sarcomas.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-skin.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-thymic.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups-thyroid.conf
  study-builder/studies/osteo/snippets/common/cancer-picklist-groups.conf
  study-builder/studies/osteo/snippets/common/picklist-question-yndk.conf
  study-builder/studies/osteo/subs.conf
Due: none

minor patch fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaConsentV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/CircadiaInstructions.java
  study-builder/studies/circadia/patches/consent-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

add full link support
  study-builder/studies/singular/i18n/en.json
Due: none

DDP-7610: changing the mr object
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7610: changing the OncHistoryDetail object
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

changing service
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

changing service (#1207)
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

Add physician fax number validation
  study-builder/studies/singular/activities/medical-record-release.conf
Due: none

DDP-7610: added missing sql stmts
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7610: removed unused import
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

minor fix
  study-builder/studies/circadia/i18n/en.json
Due: none

update links
  study-builder/studies/singular/i18n/en.json
Due: none

DDP-7180. Added not working test :)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleTest.java
Due: action="build-test", dss, action="build-test-deploy"

Now test works
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleTest.java
Due: action="build-test", dss, action="build-test-deploy"

All tests fixed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDateRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDecimalRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonNumericRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleNegativeTest.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDateRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleNegativeTest.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDateRuleTest.java
Due: action="build-test", dss, action="build-test-deploy"

Added the missing route that was causing the error
  .gitignore
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/analytics/GoogleAnalyticsMetrics.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/analytics/GoogleAnalyticsMetricsTracker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/FrontendAnalyticsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dsm, action="build-test-deploy"

from prod_20220128a: Added the missing codes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
Due: action="build-test", dsm, action="build-test-deploy"

removed the duplicate dependency
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7185 Add new PicklistRenderMode REMOTE_AUTOCOMPLETE
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/PicklistRenderMode.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7185-add-picklist-render-mode-remote-autocomplete.xml
Due: action="build-test", dss, action="build-test-deploy"

unused -> testQuestion
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDateRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDecimalRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonNumericRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleNegativeTest.java
Due: action="build-test", dss, action="build-test-deploy"

Exceptions instead of logging
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleNegativeTest.java
Due: action="build-test", dss, action="build-test-deploy"

Unused asserts removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleNegativeTest.java
Due: action="build-test", dss, action="build-test-deploy"

A couple of comments
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleNegativeTest.java
Due: action="build-test", dss, action="build-test-deploy"

SuppressWarnings annotation removed
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDateRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonDecimalRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonNumericRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRuleNegativeTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7465 | change proxy fetching code to avoid many requests to ES for proxies
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
