Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-526 test fixes
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/phimanifest/PhiManifestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

pepper-1180 os2 spanish email templates
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventDao.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/EventDao.sql.stg
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateEmailEventTemplates.java
Due: action="build-test", dss, action="build-test-deploy"

pepper-1180 os2 spanish email templates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateEmailEventTemplates.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1181 OS2 Spanish pdfs (#2768)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoPdfUpdatesES.java
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_assent_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_contact_v2_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_parental_contact_v2_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_parental_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/germline_consent_addendum_disagree_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/germline_consent_addendum_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/germline_consent_addendum_pediatric_disagree_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/germline_consent_addendum_pediatric_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/germline_consent_addendum_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release v3 ES-check-ifneeded.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_biopsy_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_contact_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_institution_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_agreement_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_biopsy_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_contact_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_institution_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_physician_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_physician_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_assent_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_disagree_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_pediatric_disagree_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_pediatric_disagree_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_pediatric_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/study-pdfs-en-es.conf
Due: action="build-test", dss, action="build-test-deploy"

Fix and test OS1 cohort tag erasure
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/tag/cohort/CohortTagDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/CohortTagTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

pepper-1180 os2 spanish email templates
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

pepper-1180 os2 spanish email templates
  pepper-apis/studybuilder-cli/studies/osteo/sendgrid_emails.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1191 WIP
  pepper-apis/scripts/admin/delete-participant-data-for-study.sql
Due: action="build-test", action="build-test-deploy"

Name the test
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-843] Fix and test OS1 cohort tag erasure (#2770)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/tag/cohort/CohortTagDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/CohortTagTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix for OS1 ptp erasure due to OS2 export
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

pepper-1180 os2 spanish email/pdf templates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/UpdateOsteoEmailSpanishEventTemplates.java
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_pediatric_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/spanish-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

pepper-1180 os2 spanish email events
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study.conf
Due: action="build-test", dss, action="build-test-deploy"

pepper-1180 os2 spanish email events
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateEmailEventTemplates.java
Due: action="build-test", dss, action="build-test-deploy"

pepper-922 refcator/cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateOsteoTranslationsSourceDB.java
Due: action="build-test", dss, action="build-test-deploy"

fix germline pediatric summary status text
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
Due: action="build-test", dss, action="build-test-deploy"

fix germline pediatric summary status text
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

MedicalRelease pdf updates
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement_v3_es.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_agreement_v3_es.pdf
Due: action="build-test", dss, action="build-test-deploy"

MedicalRelease pdf updates
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_physician_v3_es.pdf
Due: action="build-test", dss, action="build-test-deploy"

self consent pdf updates
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_v3_es.pdf
Due: action="build-test", dss, action="build-test-deploy"

self consent email content updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_completed_es.html
Due: action="build-test", dss, action="build-test-deploy"

AOM email content updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/UpdateOsteoEmailSpanishEventTemplates.java
  pepper-apis/studybuilder-cli/studies/osteo/spanish-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

email content updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_release_completed_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_release_completed_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_addendum_consent_complete_es.html
  pepper-apis/studybuilder-cli/studies/osteo/sendgrid_emails.conf
Due: action="build-test", dss, action="build-test-deploy"

email content updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required_es.html
Due: action="build-test", dss, action="build-test-deploy"

email content updates
  pepper-apis/studybuilder-cli/studies/osteo/spanish-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1289 fix to handle user preferred language for AOM emails during Ageup process
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilder.java
Due: action="build-test", dss, action="build-test-deploy"

sonar fix
  pepper-apis/ddp-common/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

sonar fix
  pepper-apis/config/pepper-apis-settings.xml
Due: action="build-test", action="build-test-deploy"

sonar fix
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dss-core/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1289 fix to handle user preferred language for AOM emails during Ageup process (#2771)
  pepper-apis/config/pepper-apis-settings.xml
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilder.java
Due: action="build-test", dss, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestCreateLabel.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/LabelCreationJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EasyPostUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DdpInstanceGroupTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/KitUtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

typo fix
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-526 PR comments and converting dsmKitRequestId to Integer
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/phimanifest/PhiManifestResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitAuthorizationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDeactivationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DdpInstanceGroupTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-526 converting dsmKitRequestId to Integer and some checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/ParamsGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

revert
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

osteo spanish translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityBaseSettings.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateOsteoActivityTemplatesInPlace.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-526 fixed broken test
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/ParamsGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
