Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7322: adding bar bone singular
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singular.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7322: adding bar bone singular (#1301)
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singular.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Equation mapper
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

DDP-7344: fixed query (#1300)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Equation mapper (#1302)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

DDP-76636: empty string in case of null
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/log/SlackAppender.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailClient.java
Due: action="build-test", dsm, action="build-test-deploy"

update root consent patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7344: added more logging fixed query again
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7322: fixing singular form
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_formFix.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

getting dashboard to display again
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7322: fixing update xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_formFix.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7694. Increase mapping field limit
  elasticsearch/templates/participants_structured.json
Due: none

change question
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  study-builder/studies/osteo/patches/prequal-updates.conf
  study-builder/studies/osteo/prequal.conf
Due: action="build-test", dss, action="build-test-deploy"

style fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteoupdates/OsteoAdultConsentV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteoupdates/OsteoConsentUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteoupdates/OsteoPediatricConsentV2.java
Due: action="build-test", dss, action="build-test-deploy"

Ddp 7380 create os adult and pediatric consent forms (#1293)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteoupdates/OsteoDdp7601.java
  study-builder/studies/osteo/patches/DDP-7601-new-event-for-dsm.conf
  study-builder/studies/osteo/patches/consent-assent.conf
  study-builder/studies/osteo/patches/parental-consent.conf
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/patches/self-consent.conf
  study-builder/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

adds Osteo About you v2 updates to parent patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

add OsteoConsentAddendum patch to OsteoUpdates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

insert prequal update in osteo updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

Missed switch statements added
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/copy/AnswerToAnswerCopier.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

TEMP commit
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Update OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

freeze
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoMedicalReleaseUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

Refactoring/build_query_strategy | fix bug in MultipleMatchQueryStrategy, write unit tests for all other cases
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/MultipleMatchQueryStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MultipleMatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeGTEQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeLTEQueryStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

add into patches
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7653 initial participant list export
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
Due: action="build-test", dsm, action="build-test-deploy"

fix addednum insert
  study-builder/studies/osteo/consent-assent.conf
Due: none

reverse prequal locally
  study-builder/studies/osteo/prequal.conf
Due: none

DDP-7344: added more logging (#1304)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_formFix.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Missed switch statements added (#1308)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/copy/AnswerToAnswerCopier.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

add ParticipantDataNameValue and ParticipantDataSourceGenerator to handle special case of very first creation of participant data to export es
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/NameValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParticipantDataNameValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParticipantDataSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantDataPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7377. Created task OsteoAboutYouV2.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/CopyConfigurationSql.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
  study-builder/studies/osteo/patches/about-you-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

Changes have been made to the main configuration files.
  study-builder/studies/osteo/about-child.conf
  study-builder/studies/osteo/about-you.conf
  study-builder/studies/osteo/study-events.conf
Due: none

DDP-7172 PR comments
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7694 elastic search settings/mapping update (#1305)
  elasticsearch/templates/participants_structured.json
Due: none

adding information missing for medical record tab
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7619: adding information to ES needed for PE-CGS and mr tab bug
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7619: adding information to ES needed for PE-CGS adding instance id to mr/oncHistory/kitRequests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7696 fix additional details text
  study-builder/studies/pancan/i18n/en.conf
Due: none
