Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-458 . somatic consent addendum v2
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsSomaticConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-consent-addendum-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-29 . update consent version referred to v2
  pepper-apis/studybuilder-cli/studies/lms/patches/consent-version2-pdf.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-29 . update consent version referred to v2
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-29 . update consent version referred to v2 (#2521)
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/consent-version2-pdf.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-458 . somatic consent addendum v2 (#2520)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsSomaticConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-consent-addendum-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

pepper-637 fix child spelling
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg-child.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] PEPPER-637 Fix child spelling in Osteo (#2523)
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg-child.conf
Due: action="build-test", dss, action="build-test-deploy"

update patch log
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-471 ; PEPPER-463 ; PEPPER-465 lms somatic consent addendum pdfs v2 (#2522)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsSomaticConsentAddendumPdfV2.java
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-consent-addendum-pdfs-v2.conf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_assent_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_disagree_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric_disargee_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

pepper-637
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/RaceQuestionSpellingFix.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/race-question-spelling-fix.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg-child.conf
Due: action="build-test", dss, action="build-test-deploy"

restore thank-you-announcement-msg-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg-child.conf
Due: action="build-test", dss, action="build-test-deploy"

more changes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/RaceQuestionSpellingFix.java
Due: action="build-test", dss, action="build-test-deploy"

fix time
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

revert last commit
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-471 . update somatic assent addendum pdf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-consent-addendum-pdfs-v2.conf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_assent_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric_disagree_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-471 . update somatic assent addendum pdf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-consent-addendum-pdfs-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-471 . update somatic assent addendum pdf (#2525)
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-consent-addendum-pdfs-v2.conf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_assent_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric_disagree_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] PEPPER-637 additional fix (#2524)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/RaceQuestionSpellingFix.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/race-question-spelling-fix.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSM] PEPPER-139 (#2519)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryEligibleSamplesRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryOrdersRoute.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-139_view_seq_order_status.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-475, PEPPER-477 . lms MedicalRelease v2
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsMedicalReleaseVersion2.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-MR-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-745 created the `checkGPUserAccessForPatch` to check for kit tableAlias in UserUtil Added tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-745 fixed tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-475, PEPPER-477 . lms MedicalRelease v2 (#2526)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsMedicalReleaseVersion2.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-MR-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-745 fixed toString, changed name of method to `checkKitShippingAccessForPatch`
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-745 Added try-catch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-479, PEPPER-481 . lms MedicalRelease pdfs v2
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsReleasePdfV2.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-release-pdfs-v2.conf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/release_pediatric_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/release_self_agreement_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

[DSM] PEPPER-745 GP Patch Access and some PatchRoute cleaning (#2527)
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-479, PEPPER-481 . lms MedicalRelease pdfs v2
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-release-pdfs-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

Updates to the LMS germline consent addendum invite
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
Due: action="build-test", dss, action="build-test-deploy"

Update to Parent/Participant instead of their name
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-479, PEPPER-481 . lms MedicalRelease pdfs v2 (#2528)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsReleasePdfV2.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-release-pdfs-v2.conf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/release_pediatric_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/release_self_agreement_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

Add Puerto Rico in State picklist question in RGP
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rgp/PicklistStateUpdate.java
  pepper-apis/studybuilder-cli/studies/rgp/enrollment-questions.conf
  pepper-apis/studybuilder-cli/studies/rgp/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/rgp/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/rgp/patches/state-picklist-puerto-rico.conf
Due: action="build-test", dss, action="build-test-deploy"

Put firstname back as well as instagram into germline consent addendum
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
Due: action="build-test", dss, action="build-test-deploy"

rename
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rgp/RgpStateOptionUpdate.java
  pepper-apis/studybuilder-cli/studies/rgp/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

Several changes to support PEPPER-575
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/FieldSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ddp/DDPActivityConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpProbandDataCreator.java
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/PEPPER-575_REF_SOURCE.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/MockFieldSettingsDao.java
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsBadDetails.json
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsBadValues.json
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsDetails.json
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsValues.json
  pepper-apis/dsm-core/src/test/resources/activities.json
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

I am struggling with the work 'automatic' in the class name since it adds nothing, but I did not want to lose the file history, so changing it back
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpProbandDataCreatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-483] Update LMS Germline Consent Invitation Emails (#2530)
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-52 Add new option in State picklist question in RGP (#2531)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rgp/RgpStateOptionUpdate.java
  pepper-apis/studybuilder-cli/studies/rgp/enrollment-questions.conf
  pepper-apis/studybuilder-cli/studies/rgp/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/rgp/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/rgp/patch-log.conf
  pepper-apis/studybuilder-cli/studies/rgp/patches/state-picklist-puerto-rico.conf
Due: action="build-test", dss, action="build-test-deploy"

Add logging for long running DB transactions
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-450 . lms consent-assent-v2
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsConsentAssentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
