Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-self.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-784 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityBaseSettings.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/AddToSingleScriptBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/handlers/util/InstitutionRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/lmsActivities.json
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1123 fixes for the ES update not going through correctly
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] Fix for Mercury's long status message breaking while ES update (#2686)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] RC fix (#2687)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Add elastic search update for destruction policy change
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Add elastic search update for destruction policy change (#2688)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/AddToSingleScriptBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

Add elastic search update for destruction policy change (#2689)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1152 . remove slack appender config entries
  pepper-apis/config/application.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DSMDbTestContainer.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1152 completely removing slack appender from dss and dsm.
  ddp-automation/pom.xml
  notice.md
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/log/SlackAppender.java
  pepper-apis/dsm-core/src/main/resources/logback.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/log/SlackAppenderTest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/log/SlackAppender.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/thread/ThreadFactory.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/thread/ThreadPriorities.java
  pepper-apis/dss-core/src/main/resources/logback.xml
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/log/SlackAppenderTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1152 ooops restored redis connection validator
  pepper-apis/dss-core/src/main/resources/logback.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1151 . remove slack appender config entries (#2690)
  pepper-apis/config/application.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-1152 going to leave the old webdriver stuff alone
  ddp-automation/pom.xml
Due: none

PEPPER-1152 removing todo now that it's mentioned in the PR
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Use medicalRecord as source for ddpInstanceId
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

Use medicalRecord as source for ddpInstanceId (#2692)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 .
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-784 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailSender.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Check for null OncHistoryDetail before updating
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
