Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, test_parallelism=15, dsm, api-docs, action="build-test-deploy"

[DSM] PEPPER-807 instance settings (#2864)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MRCoverPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/TissueCoverPDF.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-807_dicom_instance_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1413 WIP
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1422 classes and admin operation added
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Add SomaticResultUploadService logging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

Merge export legacy entity records
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/MockCollectionMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1422 adding tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/TestKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1439 fixing NPE
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/shipping/LabelCreationJobTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1441] Add SomaticResultUploadService logging (#2865)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1267] Merge export legacy entity records (#2868)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/MockCollectionMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1422 created admin operations for the resampling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ESParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/TestKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1439 Label Creation Job improvement (#2862)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/LabelCreationJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperTestSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/shipping/LabelCreationJobTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1422 added one more test and more checks
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1422 added one more test and more checks
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleList.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettingsTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1332 When deleting a somatic upload, it's okay if the blob is empty.
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettingsTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1402 checkstyle fix
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/events/EventsTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/TestKitUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/pubsubtask/api/PubSubTaskConnectionService.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1332 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1332 PR feedback
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-332 It's okay to delete a somatic upload with no bytes (#2870)
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettingsTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1422 some (most) PR comments applied and a bug fixed in json parsing
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/careevolve/Covid19OrderRegistrar.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/Covid19OrderRegistrarFunction.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ESParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/careevolve/Covid19OrderRegistrarTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitDisplayNameTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/TestKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1422 passing tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1422 getting rid of the word resample
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitResampleList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitUpdateCollabIdList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitUpdateCollabIdRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitDisplayNameTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/TestKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1422 PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitUpdateCollabIdList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdsRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1463 fix for the creating tissues bug
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: .*
  dss: ((((((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: .circleci/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/config/.*)) or (any of: .circleci/.*)
  test_parallelism=15: any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*
  dsm: ((((any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*) or (any of: .circleci/.*)) or (any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*)) or (any of: pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml)) or (any of: .circleci/.*)
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
