Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Implement FamilyIdProvider for RGP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/FamilyIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpFamilyIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/bookmark/BookmarkTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/TestFamilyIdProvider.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix whitespace
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpFamilyIdProvider.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1161] Implement FamilyIdProvider for RGP (#2802)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/FamilyIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpFamilyIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/bookmark/BookmarkTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/TestFamilyIdProvider.java
Due: action="build-test", dsm, action="build-test-deploy"

Implement ParticipantInitService
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateLog.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Enable export of null values for OncHistory
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/onchistory/OncHistoryDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ObjectTransformer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ExportLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/ObjectTransformerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Move to Java 17
  pepper-apis/dss-core/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Update antlr4-maven-plugin
  pepper-apis/pex-antlr/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Set older Java compiler version for Antlr
  pepper-apis/pex-antlr/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Update sendgrid-java plugin library version
  pepper-apis/ddp-common/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

[PEPPER-1262] Enable export of null values for OncHistory (#2803)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/onchistory/OncHistoryDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ObjectTransformer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ExportLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/ObjectTransformerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1266 . update email text
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-invitation.html
Due: action="build-test", dss, action="build-test-deploy"

Handle more edge cases in ParticipantInitService
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDataDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participant/GetParticipantDataRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/FieldSettingsTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-59 Java17 for docker build/test setup (#2786)
  .circleci/main-config.yml
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/configure.rb
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

Add more error checking for RGP participant data
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
Due: action="build-test", dsm, action="build-test-deploy"

Reverting java17 changes--too soon for develop.
  .circleci/main-config.yml
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/configure.rb
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

Reverting java17 changes--too soon for develop.
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
Due: action="build-test", action="build-test-deploy"

Reverting java17 changes--too soon for develop. (#2806)
  .circleci/main-config.yml
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/configure.rb
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

Upgrade Jacoco and Mockito libraries
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Try antlr with Java 17
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/pex-antlr/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Align antlr versions
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Fix time precsion errors in tests
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FileUploadDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/InvitationDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"

More date comparision cases
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/InvitationDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-59 Java17 for docker build/test setup (#2786)
  .circleci/main-config.yml
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-59] Move to Java 17 (#2804)
  .circleci/main-config.yml
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/configure.rb
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FileUploadDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/InvitationDaoTest.java
  pepper-apis/parent-pom.xml
  pepper-apis/pex-antlr/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Add class doc for ParticipantInitService
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix docker image name
  .circleci/main-config.yml
Due: none

[PEPPER-59] Fix docker image name (#2808)
  .circleci/main-config.yml
Due: none

PEPPER-59 run builds when circleci yaml files change
  .circleci/config.yml
Due: none

[PEPPER-1353] Add ParticipantInitService to update missing RGP default data (#2805)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDataDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participant/GetParticipantDataRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/FieldSettingsTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

cleanup
  pepper-apis/studybuilder-cli/studies/lms/study.conf
Due: action="build-test", dss, action="build-test-deploy"

cleanup-diagnosis (#2809)
  pepper-apis/studybuilder-cli/studies/lms/study.conf
Due: action="build-test", dss, action="build-test-deploy"

Set GAE Java version to 17
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-59] Set GAE Java version to 17 (#2810)
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

Upgrade gson library
  pepper-apis/dsm-core/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Pepper 1266 email text updates (#2807)
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-invitation.html
Due: action="build-test", dss, action="build-test-deploy"

Fix Gson issues with Java 17
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"
