Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, test_parallelism=15, dsm, api-docs, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1244 added tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShipping.json
  pepper-apis/dsm-core/src/test/resources/elastic/filtersWithClinicalOrderColumns.json
Due: action="build-test", dsm, action="build-test-deploy"

Create OS2 cohort tag for re-consent with no OS1 participant data
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1244 made better tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Remove unused 'KitDiscard.file' field
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
Due: action="build-test", dsm, action="build-test-deploy"

Add KitDiscardTest
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/KitDiscardTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1244 Fixed tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1244 Fixed name of the file
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShippingClinicalOrders.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1244 removed unused code
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1244 PR comments applied
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShippingClinicalOrders.json
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1427] Remove unused 'KitDiscard.file' field (#2853)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/KitDiscardTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  .circleci/main-config.yml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  .circleci/main-config.yml
Due: action="build-test", dss, dsm

PEPPER-1392 _ah/start utility
  .circleci/main-config.yml
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  .circleci/main-config.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/JavaProcessSpawner.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/resources/logback.xml
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dsm-core/src/main/resources/logback.xml
Due: action="build-test", dsm, action="build-test-deploy"

Code review feedback changes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1244 (#2851)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShippingClinicalOrders.json
  pepper-apis/dsm-core/src/test/resources/elastic/filtersWithClinicalOrderColumns.json
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-729] Create OS2 cohort tag for re-consent with no OS1 participant data (#2852)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix AND/OR token identification
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/AndOrFilterSeparatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Add back squashed test
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/AndOrFilterSeparatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1083] Fix AND/OR token identification (#2855)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/AndOrFilterSeparatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility PR feedback
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility PR feedback
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility PR feedback
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility PR feedback
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
  pepper-apis/dsm-core/src/main/resources/logback.xml
  pepper-apis/dss-core/src/main/resources/logback.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 and PEPPER-1412 app engine ah start and GAE instance logging (#2854)
  .circleci/main-config.yml
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/jetty/JettyConfig.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/logging/LogUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jetty/JettyConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/logging/LogUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper 1392 app engine ah start (#2856)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: .*
  dss: ((((((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: .circleci/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/config/.*)) or (any of: .circleci/.*)
  test_parallelism=15: any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*
  dsm: ((((any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*) or (any of: .circleci/.*)) or (any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*)) or (any of: pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml)) or (any of: .circleci/.*)
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
