Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

pancan study conf event updates
  pepper-apis/studybuilder-cli/studies/pancan/patches/new-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8218. remove followup activity creation events.
  pepper-apis/studybuilder-cli/studies/pancan/patches/new-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | create external class to create test instance for integration tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/BaseScanPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentAndFinalScanPayload.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/TestInstanceCreator.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/db/dao/tag/cohort/CohortTagDaoTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/elastic/ObjectTransformerIntegrationTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/KitStatusChangeRouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7477 | use naive approach to add first name, last name and date of birth for sample queues
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7477 | clean code a little bit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8513 Add spacing after j section in pediatric
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix family-history typo
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed os email address links
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8606. File upload notifications template
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudy.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/MailTemplateDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/MailTemplateRepeatableElementDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/MailTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/MailTemplateRepeatableElementDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/StudyDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/files/FileUpload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/mail/MailTemplate.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/mail/MailTemplateRepeatableElement.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/mail/MailTemplateSubstitution.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/FileUploadNotificationEmailFactory.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/FileUploadService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/mail/MailTemplateService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/DataExportCoordinatorTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/OLCServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/mail/MailTemplateServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/StudyDataLoaderTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8606.xml
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/MailTemplateRepeatableElementDao.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/mail/MailTemplateServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

The code was simplified a bit
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/mail/MailTemplateService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/mail/MailTemplateServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

Redundant method was removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/MailTemplateDao.java
Due: action="build-test", dss, action="build-test-deploy"

Redundant DB_APIS removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/mail/MailTemplateService.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 add intermediate activity for ageup consent-addendum event
  pepper-apis/studybuilder-cli/studies/osteo/activities/add-participant.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-activities.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8511] change country column to id
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMedicalProvider.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/MedicalProviderDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchMedicalProviderRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PostMedicalProviderRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoader.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/constants/TestConstants.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/DataExporterTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/collectors/ActivityResponseCollectorTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/collectors/MedicalProviderFormatterTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DeleteMedicalProviderRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetMedicalProviderListRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchMedicalProviderRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/PdfGenerationServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/MedicalProviderUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/PdfTestingUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8511-physician-country-add.xml
Due: action="build-test", dss, api-docs, action="build-test-deploy"

DDP-8586 fix ageup events
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

change column name
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMedicalProvider.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix osteo family-history
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

rollbacked shared file
  pepper-apis/studybuilder-cli/studies/shared/family-history/snippets/family-history-section-intro.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8603/OS-email-address-links (configs) (#2162)
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8586 fix medical release precondition after addendum
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8513 (#2167)
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | add kit type dao, write tests for final scan use case
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestCreateLabel.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitTypeDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitTypeImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/KitTypeDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/QueryExtension.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/TestInstanceCreator.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8578. Order participants from the latest added to first
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/UserGovernanceDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

DDP-8578. Order participants from the latest added to first (#2170)
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/UserGovernanceDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

DDP-7556 not passing connection to `MercuryOrderDao.create` method anymore adding the `BY_INSTANCE_NAME` query extension to `SQL_SELECT_ROLES_FOR_INSTANCE` in `DDPInstanceDao`
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

DSP-8599: exporting option details in question defs (#2134)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/PicklistQuestionFormatStrategy.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/collectors/PicklistQuestionFormatStrategyTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Initial commit of change set
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8539-about-healthy-pex.conf
Due: action="build-test", dss, action="build-test-deploy"

More work on the patch impl
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/singular/SingularAboutHealthyPexTask.java
Due: action="build-test", dss, action="build-test-deploy"

Relocate the patch task
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthyPexTask.java
Due: action="build-test", dss, action="build-test-deploy"

Reformat the patch data
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8539-about-healthy-pex.conf
Due: action="build-test", dss, action="build-test-deploy"

Adds the About Health update task to the patchlog
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

Complete patch task implementation
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthyPexTask.java
Due: action="build-test", dss, action="build-test-deploy"

patch data cleanup
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8539-about-healthy-pex.conf
Due: action="build-test", dss, action="build-test-deploy"

shownExpression and enabledExpression may be null
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ComponentDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormBlockDto.java
Due: action="build-test", dss, action="build-test-deploy"

PR review comments
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiFormSectionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormBlockDto.java
Due: action="build-test", dss, action="build-test-deploy"

PR Review changes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormBlockDto.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8612 updating check boxes and radio boxes on 1st and 3rd tab of Participant page in Singular to show `NA` option
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8612_NA_Checkbox_options.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8612 uncommenting the change
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8612_NA_Checkbox_options.xml
Due: action="build-test", dsm, action="build-test-deploy"

Checkstyle
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthyPexTask.java
Due: action="build-test", dss, action="build-test-deploy"
