Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-8024. Labs (part 3)
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
Due: action="build-test", dss, action="build-test-deploy"

feat: change text
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

refactor
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockTabular.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/BlockTabularQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/studybuilder-cli/studies/basil/tabular-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

refactor
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

refactor
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
Due: action="build-test", dss, action="build-test-deploy"

refactor/ schema change to remove row, column in tabular
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7713.xml
Due: action="build-test", dss, action="build-test-deploy"

added order by for tabular headers
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockTabular.java
Due: action="build-test", dss, action="build-test-deploy"

added order by for tabular questions
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockTabular.java
Due: action="build-test", dss, action="build-test-deploy"

fixed lms workflow
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

about you question bug fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/child/question-race.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-race.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8091 fix child & dependent announcement preconditions
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

changed about you question template text
  pepper-apis/studybuilder-cli/studies/osteo/snippets/child/question-race.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-race.conf
Due: action="build-test", dss, action="build-test-deploy"

delleted commented tags
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8088 DDP-8089 fix email events preconditions
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/studybuilder-cli/studies/basil/tabular-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-7365] add about your child survey
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
  pepper-apis/studybuilder-cli/studies/lms/snippets/confidence-level-child.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/highest-level-school-child.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/problem-understanding-written-child.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-child-assigned-sex.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-child-gender-identity.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-child-race.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-how-hear-child.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-read-hospital-materials-child.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-tell-us-anything-child.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/speak-language-child.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7869: parents should not get a genomic id
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from https://github.com/broadinstitute/ddp-study-server/pull/1754/files
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from https://github.com/broadinstitute/ddp-study-server/pull/1736/files
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

reverting some changes that are obsolete
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from PR #1676 , dsm_hotfix_20220523a branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

cleanup/refactor to use FormBlock & FormBlockDef
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/QuestionBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/QuestionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/TabularBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup/refactor to use FormBlock & FormBlockDef
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/QuestionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 tabular updates (#1769)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockTabular.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/BlockTabularQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/QuestionBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/QuestionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/TabularBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/FormInstanceCreatorHelper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7713.xml
  pepper-apis/studybuilder-cli/studies/basil/study.conf
  pepper-apis/studybuilder-cli/studies/basil/tabular-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8173 fix ES export questionText, keep both options
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
Due: action="build-test", dss, action="build-test-deploy"

fix question flow
  pepper-apis/studybuilder-cli/studies/fon/activities/clinic-admin-questions.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8170] fix mail typos
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_welcome.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_welcome.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-8024. PROMIS adult
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-adult.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | move xml script to default package since it's related to general change rather than CMI-related alteration
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-7641_set_kit_request_settings_id_to_auto_increment.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8024. PROMIS pediatric
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-pediatric.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8024. PROMIS proxy
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-proxy.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8088 create singular delete events patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularDeleteEmailEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-delete-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8088 add precondition filter
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularDeleteEmailEvents.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-delete-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8091 revert study-events change
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8152 newline paragraph
  pepper-apis/studybuilder-cli/studies/singular/activities/medical-record-file-upload.conf
Due: action="build-test", dss, action="build-test-deploy"

Updates the composite object to include child visibility details
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Adds a Composite visibility object for use in responses
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Changes to the visibility flags
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Updates the Patch response to include composite visibility updates
  pepper-apis/docs/specification/src/components/responses.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
