Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

fixed checkstyle errors
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7698 | add element only if value is not null
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MedicalRecordSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailUnableObtainTissueStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/UnableObtainTissueStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MockOncHistoryDetailDao.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

pediatric-updates.conf configuration done
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

LoggerFactory.getLogger -> @Slf4j
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoaderMain.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DatabaseBackup.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/ElasticsearchServiceUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/FormActivityStatusUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/GoogleCredentialUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/GsonPojoValidator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/I18nUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/JavaHeapDumper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/JavaProcessSpawner.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/MigratedDataReconcileCli.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PdfBootstrapperCli.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PubSubEmulator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RedisConnectionValidator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/Auth0UtilMockedTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/DataLoaderTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/JavaProcessSpawnerTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/MySqlTestContainerUtil.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-6774 script for creating activity instances for a list of participants (#959)
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/CreateActivityInstanceCLI.java
Due: action="build-test", action="build-test-deploy"

Fixed logger init.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7698 | refactor code, extract constants, add additional_tissue_value_json in order to get DynamicFieldsParser, start refactoring strategies
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParserFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7822 fix config & templates
  study-builder/studies/pancan/emails/diet_complete.en.html
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/diet_created.en.html
  study-builder/studies/pancan/emails/diet_created.es.html
  study-builder/studies/pancan/emails/diet_reminder.en.html
  study-builder/studies/pancan/emails/diet_reminder.es.html
  study-builder/studies/pancan/emails/family_history_complete.en.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_created.en.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_reminder.en.html
  study-builder/studies/pancan/emails/family_history_reminder.es.html
  study-builder/studies/pancan/emails/stoolkit_complete.en.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
  study-builder/studies/pancan/emails/stoolkit_created.en.html
  study-builder/studies/pancan/emails/stoolkit_created.es.html
  study-builder/studies/pancan/study-events.conf
Due: none

DDP-7840: moving upsert into try catch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7841: refactoring dashboard to like how dynamic would be
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7841: refactoring dashboard to like how dynamic would be
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7822 fix patch config
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PanCanNewActivities.java
  study-builder/studies/pancan/patches/new-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

add guard conditions to return null or not if value of certain field is removed
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SingleSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7837 | add guard conditions to return null for numeric and date fields if their values are removed
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SingleSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
Due: action="build-test", dsm, action="build-test-deploy"

added updated conf files
  study-builder/studies/osteo/patches/adult-consent-dashboard-update.conf
  study-builder/studies/osteo/patches/adult-mr-dashboard-update.conf
  study-builder/studies/osteo/somatic-consent-addendum.conf
Due: none

DDP-7809-os-updates-to-pediatric-consent done
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

hotfix | wrap setting generator in try catch and log error message if ddp instance dto is null
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done package-lock.json deleted
  package-lock.json
Due: none

DDP-7837 | change isNull to nonNull
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
Due: action="build-test", dsm, action="build-test-deploy"

change isNull to nonNull
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
Due: action="build-test", dsm, action="build-test-deploy"

add guard conditions to return null or not if value of certain field … (#1460)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SingleSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7735 create table for hidden aliases
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EsHiddenValuesDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/ExportUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/es/HiddenAlias.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataExporterCli.java
  pepper-apis/dss-core/src/main/resources/ESprotectedColumns.conf
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7735-family-alias.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7837 | add guard conditions to return null for numeric and date f… (#1459)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SingleSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
Due: action="build-test", dsm, action="build-test-deploy"

implement pediatric consent changes
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

add try catch while setting params generator to upsert painless facade
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

add try catch while setting params generator to upsert painless facade (#1463)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

Dsm release fixes (#1444)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

FieldSettings_Caching | migrate changes from release branch to develop (#1445)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

label creation fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

hot fix for ES problem of deactivated kit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

dss-common import reordering
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/security/AesUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

hot fix for ES problem of mbc kit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7735 refactoring
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EsHiddenValuesDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/StudyDataAliasDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/ExportUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/es/StudyDataAlias.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataExporterCli.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7735-family-alias.xml
Due: action="build-test", dss, action="build-test-deploy"

fixed osteo deployment issue
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/snippets/bool-question-consent-tumor-samples.conf
  study-builder/studies/osteo/snippets/consent-addendum-participant-signature.conf
  study-builder/studies/osteo/snippets/date-question-consent-addendum.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-risks.conf
Due: none
