Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

feat: remove extra "."
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/thank-you-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8446 feat: remove extra "." (#2043)
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/thank-you-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8358
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent_assent.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent_parental.pdf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8358 (#2044)
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent_assent.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent_parental.pdf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8447
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8447 (#2045)
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

Revert "[SB] Resolved DDP-8447 (#2045)"
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8374 | make BaseGenerator implement HasGeneratorPayload
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8374 | make Collector implement HasGeneratorPayload, add simple getter for TableAlias in GeneratorPayload, remove extra lines from BaseProcessor
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/Collector.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/HasGeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/BaseProcessor.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8374 | retrieve primary key string value with the help of PropertyInfo and Table alias mappings and add it to the end result if it's absent, write unit tests for both new methods
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessor.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8413: don't throw if name and project is not set
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Resolved DDP-8358 & DDP-8444
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8413: don't throw if name and project is not set (#2048)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8413: DSM didn't go into parseConfig
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8413: DSM didn't go into parseConfig (#2049)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

[SB] Fixed DDP-8447 (#2046)
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed DDP-8168.
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_assent.pdf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed DDP-8168.
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-sync-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_assent.pdf
  pepper-apis/studybuilder-cli/studies/osteo/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Fixed DDP-8358. (#2050)
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_assent.pdf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7855 | add new class for non dsm and or filter separator
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/NonDsmAndOrFilterSeparator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SystemUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/NonDsmAndOrFilterSeparatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8384: save filter issue (#2016)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[SB] Fixed DDP-8168. (#2051)
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-sync-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/somatic_consent_addendum_assent.pdf
  pepper-apis/studybuilder-cli/studies/osteo/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed DDP-8379.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/parental-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Fixed DDP-8379. (#2052)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/parental-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

OS & LMS Fixes: Fixed DDP-8168, DDP-8379, DDP-8358.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] OS & LMS Fixes: Fixed DDP-8168, DDP-8379, DDP-8358. (#2053)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved first point of DDP-8358.
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric_disargee.pdf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

removing the check for DSS claims in token (we don't need that any more, especially in prod)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

removing unused dependencies in dsm pom
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

removing unnecessary test change
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6584 removing unnecessary endpoint
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8197] fix hyperlink texts for mbc spanish emails (#2023)
  pepper-apis/studybuilder-cli/studies/mbc/emails/about_you_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_received_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_1wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_2wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_3wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_created_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/join_mailing_list_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/saliva_received_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/welcome_es.html
Due: action="build-test", dss, action="build-test-deploy"

adding a warning
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSS] DDP-8428: Change uploaded file name format (#2027)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8454, DDP-8444.
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8444, DDP-8454, DDP-8358 (#2056)
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_pediatric_disargee.pdf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP/8432 - Date field alignment
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8734 | make sure that primary key is exported along with the patch for the objects that hold one-to-one relationship in db and ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantRecordDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SingleSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/BaseProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessor.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8374 | migrate changes to RC branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantRecordDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SingleSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/BaseProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessor.java
Due: action="build-test", dsm, action="build-test-deploy"
