Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Resolved DDP-8103.
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Removed title and subtitle from component question. (#1690)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-self.conf
Due: action="build-test", dss, action="build-test-deploy"

add email templates for pediatrics
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medial-release-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/welcome-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8101, DDP-7453, DDP-7362. (#1704)
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/about-your-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/parental-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/bool-question-parental-consent-blood.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-participation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-results.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-authorization.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section3-additional-terms.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section3-full-name-terms.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-participation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-sharing.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-authorization.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-confidentiality.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-cost.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-involvement.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-publishing.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-purpose.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-documentation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-pediatric-documentation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/text-question-child-firstname.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/text-question-firstname.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8103. (#1702)
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | add static copy methods to DTO classes for creating new instances of them with updated fields
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/institution/DDPInstitutionDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantRecordDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | minor cleanup
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdateTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7374/Fix all study favicon bag
  pepper-apis/studybuilder-cli/tenants/cmi/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7509.
  pepper-apis/studybuilder-cli/studies/fon/activities/heart-failure.conf
Due: action="build-test", dss, action="build-test-deploy"

required variables added
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
Due: action="build-test", dss, action="build-test-deploy"

favicon fix
  pepper-apis/studybuilder-cli/tenants/cmi/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8086.
  pepper-apis/studybuilder-cli/studies/singular/emails/welcome/en.html
Due: action="build-test", dss, action="build-test-deploy"

[DDP-7365] add idk and make headers bold
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/family-history-additional-details.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/family-history-study-activity-entry.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-additional-details.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-block-question-alias.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-block-question-sex.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-section-family-member-intro-block.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-section-instructions.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-section-intro.conf
  pepper-apis/studybuilder-cli/studies/pancan/family-history/snippets/family-history-section-intro.conf
Due: action="build-test", dss, action="build-test-deploy"

adding display name to DDP object so frontend will be able to show the "nice" study name
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueListWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-7556_mercury_pubusb (#1706)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/TestBostonKitTrackerDispatcher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/InstanceSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/InstanceSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMPubSubException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/mercury/MercuryOrderRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/mercury/MercuryPdoOrder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/PostMercuryOrderRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7556_mercury_sequencing.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/TestBostonKitTrackerDispatcher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle fixes (#1712)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/TestBostonKitTrackerDispatcher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556: fix npe
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556: fix npe (#1713)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSS] Update tabular block definition (#1697)
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Resolved DDP-8103.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

fix links in pancan mails
  pepper-apis/studybuilder-cli/studies/brain/emails/about_you_completed.html
  pepper-apis/studybuilder-cli/studies/brain/emails/blood_received.html
  pepper-apis/studybuilder-cli/studies/mbc/subs.conf
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_consent_completed.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_consent_created.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_received.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_sent.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/colorectal_consent_completed.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/colorectal_consent_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/consent_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/diet_complete.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/diet_created.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/diet_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_child_contact.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_child_contact_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_email_verification.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_next_steps.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_next_steps_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_thank_you.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/release_completed.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/release_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/saliva_received.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/sign_stool_collection_form.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/stoolkit_complete.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/stoolkit_created.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/survey_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/welcome.en.html
  pepper-apis/studybuilder-cli/studies/pancan/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

changed blocks of somatic consent addendum
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-7365] add tooltip and hint
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-block-question-alias.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-block-question-jewish-ancestry-control.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-block-question-jewish-ancestry-nested.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7362, DDP-7453 ,DDP-8101.
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-intro.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-confidentiality.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-participation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-sharing.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-confidentiality.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-involvement.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-introduction.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-introduction.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7509. (#1709)
  pepper-apis/studybuilder-cli/studies/fon/activities/heart-failure.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8103. (#1714)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7362, DDP-7453 ,DDP-8101. (#1717)
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-intro.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-confidentiality.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-participation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-sharing.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-confidentiality.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-involvement.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-introduction.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-introduction.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8086. (#1711)
  pepper-apis/studybuilder-cli/studies/singular/emails/welcome/en.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-8062: adding oncHistory even if there is no tissue
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8120: returning whole list of saved filter was just a view change
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/SavedFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8071.
  pepper-apis/studybuilder-cli/tenants/cmi/pages/login.html
  pepper-apis/studybuilder-cli/tenants/cmi/pages/password_reset.html
Due: action="build-test", dss, action="build-test-deploy"

Change old consul template vault command for new secret command
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/ddp.conf.ctmpl
  pepper-apis/config/housekeeping_startup.sh.ctmpl
  pepper-apis/config/local-java-props.txt.ctmpl
  pepper-apis/config/redisson-jcache-housekeeping.yaml.ctmpl
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/config/sqlproxy.env.ctmpl
  pepper-apis/config/startup.sh.ctmpl
  pepper-apis/config/tcell_agent.config.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/studybuilder-cli/config/application.conf.ctmpl
  pepper-apis/studybuilder-cli/config/atcp-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/basil-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/basil-vars.conf.ctmpl
  pepper-apis/studybuilder-cli/config/brugada-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/circadia-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/cmi-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/fon-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/local.conf.ctmpl
  pepper-apis/studybuilder-cli/config/prion-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/rarex-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/rgp-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/singular-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/testboston-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/testboston-vars.conf.ctmpl
  pepper-apis/studybuilder-cli/config/vars.conf.ctmpl
Due: action="build-test", dss, action="build-test-deploy"

Switch to use our own image
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Use newer consul-template in Docker images used in builds. Get executable directly from Hashicorp
  pepper-apis/Dockerfile-build
  pepper-apis/Dockerfile-java-build
Due: action="build-test", action="build-test-deploy"

Use new images in CircleCi configuration
  .circleci/main-config.yml
Due: none

Fix Docker image labels
  .circleci/main-config.yml
Due: none

Try using dsde-toolbox image for config file generation
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Add consul template debug
  .circleci/main-config.yml
Due: none
