Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-1188 WIP
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/cache/CacheServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1188 WIP
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/cache/CacheServiceTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1188 WIP
  pepper-apis/parent-pom.xml
Due: action="build-test", action="build-test-deploy"

PEPPER-1204 fix for NPE
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/patch/DeletePatchTest.java
  pepper-apis/dsm-core/src/test/resources/patchRequests/institutionPatch.json
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1204 NPE fix (#2730)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/patch/DeletePatchTest.java
  pepper-apis/dsm-core/src/test/resources/patchRequests/institutionPatch.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoImplTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1220 fix for frontend object parsing error
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/ClinicalOrderDto.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1220 fix for RC and Clinical Orders page (#2731)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/ClinicalOrderDto.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1170 updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityContentSourceDB.java
  pepper-apis/studybuilder-cli/studies/pancan/patches/pi-changes.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1170 updates from patches
  pepper-apis/studybuilder-cli/studies/pancan/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/pancan/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/pancan/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1170 cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityContentSourceDB.java
Due: action="build-test", dss, action="build-test-deploy"

fixing bug in RC
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
Due: action="build-test", dsm, action="build-test-deploy"

dsm_sprint_16_rc_fix (#2733)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper-1170 updates (#2732)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityContentSourceDB.java
  pepper-apis/studybuilder-cli/studies/pancan/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/pancan/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/pancan/patch-log.conf
  pepper-apis/studybuilder-cli/studies/pancan/patches/pi-changes.conf
Due: action="build-test", dss, action="build-test-deploy"

Pepper 1188 redisson upgrade (#2729)
  pepper-apis/config/redisson-jcache-housekeeping.yaml.ctmpl
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/cache/CacheServiceTest.java
  pepper-apis/dss-core/src/test/resources/redisson-test-jcache.yaml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1171 reverting due to deployment failure
  pepper-apis/config/redisson-jcache-housekeeping.yaml.ctmpl
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/cache/CacheServiceTest.java
  pepper-apis/dss-core/src/test/resources/redisson-test-jcache.yaml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1171 reverting due to deployment failure
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Revert PEPPER-1188 again (#2734)
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/cache/CacheServiceTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1171 reverting due to deployment failure
  pepper-apis/config/redisson-jcache-housekeeping.yaml.ctmpl
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/dss-core/src/test/resources/redisson-test-jcache.yaml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1188 Third time's the charm with redisson upgrade. (#2735)
  pepper-apis/config/redisson-jcache-housekeeping.yaml.ctmpl
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/cache/CacheServiceTest.java
  pepper-apis/dss-core/src/test/resources/redisson-test-jcache.yaml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1190 pe-cgs saliva kit rule updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsKitRuleUpdates.java
  pepper-apis/studybuilder-cli/studies/lms/study.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-kits.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1171 reverting long -> int since the id is indeed an int.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoImplTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1190 pe-cgs saliva kit rule updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsKitRuleUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1190 pe-cgs saliva kit rule updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsKitRuleUpdates.java
  pepper-apis/studybuilder-cli/studies/osteo/study-kits.conf
Due: action="build-test", dss, action="build-test-deploy"

Pepper-1190 kit rule update (#2736)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsKitRuleUpdates.java
  pepper-apis/studybuilder-cli/studies/lms/study.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-kits.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1171 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/ScanError.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoImplTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171 WIP
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoImplTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1162 participant activity instance creation utility improvement
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/CreateActivityInstanceCLI.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1059 made first test that is not passing
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticExport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 made first test that is not passing
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticExport/DeletedDataExportTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1162 participant activity instance creation utility improvement (#2738)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/CreateActivityInstanceCLI.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1190 . Osteo user enrollment event updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertUserEnrollmentEvents.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/user-enrollment-events-upd.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1171 Removed KitDao interface, replacing it with KitDaoImpl.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestCreateLabel.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitInitialScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/RGPKitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryEligibleSamplesRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1190 . Osteo2 user enrollment event updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertUserEnrollmentEvents.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1190 os2 enrollment event updates (#2740)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertUserEnrollmentEvents.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/user-enrollment-events-upd.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1059 Changed BaseMigrator.java to get the guids of all participants in the study before export to make sure deleted data gets acknowledged and is overwritten in export
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NullAdditionalParticipantMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticExport/DeletedDataExportTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
