Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

[DDP-8403] update consent and assent texts
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8403] singular summary updates (#2017)
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8388] add missing drug into list
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-8388_drug-list-update-missing.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

adding string constants for proxyData
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

LMS workflow & events update
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_saliva_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/lms/study.conf
Due: action="build-test", dss, action="build-test-deploy"

LMS workflow & events update
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

LMS workflow & events update
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixing proxy columns and grouped option exports (#2015)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8273 Adding the RGP fix back
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8173] fix singular adult question text
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8388] add missing drug into list (#2018)
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-8388_drug-list-update-missing.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8397 LMS workflow & events update
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_saliva_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/lms/study.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8397 LMS workflow & events update
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8397 LMS workflow & events update
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8397 LMS workflow & events update
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Getting the configuration file from the secret manager
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
Due: action="build-test", dss, action="build-test-deploy"

POC
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Determine secret's version automatically
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Comparison fix
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Checkstyle
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Checkstyle
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8384 | clean up the code, add test for Util
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8197] fix hyperlink texts for mbc spanish emails
  pepper-apis/studybuilder-cli/studies/mbc/emails/about_you_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_received_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_1wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_2wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_3wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_created_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/join_mailing_list_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/saliva_received_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/welcome_es.html
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8197] fix hyperlink texts for mbc spanish emails (#2023)
  pepper-apis/studybuilder-cli/studies/mbc/emails/about_you_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_received_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/blood_sent_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_1wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_2wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/consent_reminder_3wk_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_created_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/followup_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/join_mailing_list_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_completed_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/release_reminder_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/saliva_received_es.html
  pepper-apis/studybuilder-cli/studies/mbc/emails/welcome_es.html
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8397]: "formType": "PREQUALIFIER"
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8173] fix singular adult question text (#2021)
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-8273_RGP_KIT_UPLOAD_RC (#2019)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

LMS workflow & events update
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_saliva_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/lms/study.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] LMS: Reconfigure Combined Workflow (#2024)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_saliva_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/lms/study.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

OS workflow & events update
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertSyncEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateStudyNonSyncEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp8269.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoGovernanceFix.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/dob-validations.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/governance-fix.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-sync-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/prequal-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-8273 Adding the RGP fix back (#2020)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6584 All the changes we triedd today for downloading to work, we need to remove unused libraries for pom when we are done
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participantfiles/DownloadParticipantFileRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8428: Change uploaded file name format
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRoute.java
Due: action="build-test", dss, action="build-test-deploy"

Instead of hardcoding secret's project & name we now pass them through CL
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

The test was fixed
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8397 OS: Reconfigure Combined Workflow (#2025)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertSyncEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateStudyNonSyncEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp8269.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoGovernanceFix.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/dob-validations.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/governance-fix.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-sync-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/prequal-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8393 | remove unnecessary json transformer
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/EditParticipantMessageReceiverRoute.java
Due: action="build-test", dsm, action="build-test-deploy"
