Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Fixed typo.
  study-builder/studies/singular/i18n/en.conf
Due: none

DDP-7866 support multiple activity instances export
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7921. Comparison rule API specification updated
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
Due: action="build-test", dss, api-docs, action="build-test-deploy"

fix: show error when enrolling someone else
  study-builder/studies/singular/study-activities.conf
Due: none

changing the length of `phone` column
  pepper-apis/ddp-database/src/main/resources/db-changes/schema/DDP-7172_Authentication_tables.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

changes in emails
  study-builder/studies/osteo/emails/parental_about_child_reminder.html
  study-builder/studies/osteo/emails/parental_consent_1wk_reminder.html
  study-builder/studies/osteo/emails/parental_consent_completed.html
  study-builder/studies/osteo/emails/parental_germline_consent_addendum_complete.html
  study-builder/studies/osteo/emails/parental_release_completed.html
  study-builder/studies/osteo/emails/parental_release_reminder.html
  study-builder/studies/osteo/emails/parental_saliva_received.html
  study-builder/studies/osteo/emails/parental_somatic_addendum_consent_complete.html
  study-builder/studies/osteo/emails/parental_somatic_consent_addendum_received.html
  study-builder/studies/osteo/emails/parental_somatic_germline_addendum_reminder.html
  study-builder/studies/osteo/emails/parental_welcome.html
  study-builder/studies/osteo/emails/self_about_you_reminder.html
  study-builder/studies/osteo/emails/self_consent_1wk_reminder.html
  study-builder/studies/osteo/emails/self_consent_completed.html
  study-builder/studies/osteo/emails/self_germline_consent_addendum_complete.html
  study-builder/studies/osteo/emails/self_release_completed.html
  study-builder/studies/osteo/emails/self_release_reminder.html
  study-builder/studies/osteo/emails/self_saliva_received.html
  study-builder/studies/osteo/emails/self_somatic_consent_addendum_received.html
  study-builder/studies/osteo/emails/self_somatic_germline_addendum_reminder.html
  study-builder/studies/osteo/emails/self_welcome.html
  study-builder/studies/osteo/patches/addendum-new-activity.conf
  study-builder/studies/osteo/patches/osteo-new-activities.conf
  study-builder/studies/osteo/sendgrid_emails.conf
Due: none

removed todo
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved 7922
  study-builder/studies/singular/study-events.conf
Due: none

DDP-7921. Comparison rule API specification updated
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  study-builder/studies/basil/numeric-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Fixed CONSENT_DEPENDENT, reminder #2 (6 weeks) trigger bug.
  study-builder/studies/singular/study-events.conf
Due: none

- Required properties - Stable ID format
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

- Fewer queries to the DB
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/ComparisonRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RuleDto.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Redundant check removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
Due: action="build-test", dss, action="build-test-deploy"

adding fixes from https://github.com/broadinstitute/ddp-study-manager/pull/322
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSS] DDP-7921: Comparison rule API specification updated (#1550)
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/ComparisonRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  study-builder/studies/basil/numeric-activity.conf
Due: action="build-test", dss, api-docs, action="build-test-deploy"

DDP-7913: adding primaryKeyId into resultMap patch response
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/AbstractionPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7913: changed forEach because of possible double in participantDataMap columnValue added check for d.data -> only need to write workflow fields in that case
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

removed unused logger
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7822 fix facebook twitter spanish links
  study-builder/studies/pancan/emails/blood_received.es.html
  study-builder/studies/pancan/emails/blood_reminder.es.html
  study-builder/studies/pancan/emails/blood_sent.es.html
  study-builder/studies/pancan/emails/colorectal_consent_completed.es.html
  study-builder/studies/pancan/emails/colorectal_consent_reminder.es.html
  study-builder/studies/pancan/emails/consent_completed.es.html
  study-builder/studies/pancan/emails/consent_reminder.es.html
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/diet_created.es.html
  study-builder/studies/pancan/emails/diet_reminder.es.html
  study-builder/studies/pancan/emails/reconsent_child_contact.es.html
  study-builder/studies/pancan/emails/reconsent_email_verification.es.html
  study-builder/studies/pancan/emails/reconsent_next_steps.es.html
  study-builder/studies/pancan/emails/reconsent_next_steps_reminder.es.html
  study-builder/studies/pancan/emails/reconsent_thank_you.es.html
  study-builder/studies/pancan/emails/release_completed.es.html
  study-builder/studies/pancan/emails/release_reminder.es.html
  study-builder/studies/pancan/emails/saliva_received.es.html
  study-builder/studies/pancan/emails/sign_stool_collection_form.es.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
  study-builder/studies/pancan/emails/stoolkit_created.es.html
  study-builder/studies/pancan/emails/survey_reminder.es.html
  study-builder/studies/pancan/emails/welcome.es.html
Due: none

Alias added
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Attempt to use separate reducer
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", dss, action="build-test-deploy"

Added PEcoma cancer.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanNewCancer.java
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/patches/sarcomas-new-cancer.conf
Due: action="build-test", dss, action="build-test-deploy"

Alias added (#1559)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

add patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMailEvents.java
  study-builder/studies/osteo/patches/addendum-new-activity.conf
  study-builder/studies/osteo/patches/mail-event-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7815. Questions exporter utility
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionCached.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Updated PDF attachments.
  study-builder/studies/singular/assets/consent_dependent.pdf
Due: none

Resolved DDP-7903.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoGovernanceFix.java
  study-builder/studies/osteo/patches/updated-governance.conf
Due: action="build-test", dss, action="build-test-deploy"

Added OsteoGovernanceFix to OsteoV2Updates.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoGovernanceFix.java
Due: action="build-test", dss, action="build-test-deploy"

adding fixes from https://github.com/broadinstitute/ddp-study-manager/pull/322 (#1557)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-7913: abstraction (#1558)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/AbstractionPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

adding fixes from https://github.com/broadinstitute/ddp-study-manager/pull/322 (#1555)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

changes for abstraction from https://github.com/broadinstitute/ddp-study-server/pull/1558
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/AbstractionPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

changes for abstraction from https://github.com/broadinstitute/ddp-study-server/pull/1558 (#1564)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/AbstractionPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

add symbolic date for N/A, small refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

add method with meaningful name for more clarification
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParserFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ParticipantMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/AndOrFilterSeparatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSortTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

release/fix_data_loss | migrate develop changes to release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

updates to os about you v2 patch (#1537)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutYouV2.java
  study-builder/studies/osteo/patches/about-you-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed a little typo.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanNewCancer.java
  study-builder/studies/pancan/patches/sarcomas-new-cancer.conf
Due: action="build-test", dss, action="build-test-deploy"
