Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Resolved DDP-7960, DDP-7961.
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7754.
  pepper-apis/studybuilder-cli/studies/singular/study-base.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-7992. Extend Basil study equations activity with picklist example (#1606)
  pepper-apis/studybuilder-cli/studies/basil/equation-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/ru.conf
Due: action="build-test", dss, action="build-test-deploy"

Add definition of a tabular block
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Update versions
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Update tabular block definition
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

LOMBOK
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/AboutYouSurvey.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/AngioMigrationRun.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/BaseSurvey.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/ConsentSurvey.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/DatstatParticipantData.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/DatstatSurveyData.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/DependentQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/FollowupConsentSurvey.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/Institution.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/LovedOneSurvey.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/MailingListData.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/MailingListDatum.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/OtherCancer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/ParticipantData.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/ParticipantUser.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/Physician.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/ReleaseSurvey.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/StudyMigrationRun.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/SurveyAddress.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoaderMain.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoaderMain.java
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7754. (#1608)
  pepper-apis/studybuilder-cli/studies/singular/study-base.conf
Due: action="build-test", dss, action="build-test-deploy"

Add a new field for composite question
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Update prion. (#1602)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionDdp7717.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionPrionRequestUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionWorkflowAndEventsUpdate.java
  pepper-apis/studybuilder-cli/studies/prion/patches/activity_instance_creation_prionmedical_event.conf
Due: action="build-test", dss, action="build-test-deploy"

refactored FON
  pepper-apis/studybuilder-cli/studies/fon/activities/arrhythmia.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-cath.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/clinic-admin-questions.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/clinic-visit.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cmri.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/echocardiogram.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/exercise-test.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/heart-failure.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/hospitalization.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log-child.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-status.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/pregnancy-progeny.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-adult.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-pediatric.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-proxy.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/surgical-log-child.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/surgical-log.conf
  pepper-apis/studybuilder-cli/studies/fon/emails/welcome.html
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/fon/sendgrid-emails.conf
  pepper-apis/studybuilder-cli/studies/fon/snippets/picklist-question-state-province-required.conf
  pepper-apis/studybuilder-cli/studies/fon/study-activities.conf
  pepper-apis/studybuilder-cli/studies/fon/study-base.conf
  pepper-apis/studybuilder-cli/studies/fon/study-emails.conf
  pepper-apis/studybuilder-cli/studies/fon/study-events.conf
  pepper-apis/studybuilder-cli/studies/fon/study-kits.conf
  pepper-apis/studybuilder-cli/studies/fon/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/fon/study.conf
  pepper-apis/studybuilder-cli/studies/fon/substitution.conf
  pepper-apis/studybuilder-cli/studies/fon/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Update prion.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionAddPreconditionToEventUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionDdp7717.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionWorkflowAndEventsUpdate.java
  pepper-apis/studybuilder-cli/studies/prion/study-events.conf
  pepper-apis/studybuilder-cli/studies/prion/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

Selection column name conflict fixed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ClientDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/ClientDto.java
Due: action="build-test", dss, action="build-test-deploy"

Selection column name conflict fixed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClient.java
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-7999: Selection column name conflict fixed (#1610)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ClientDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/ClientDto.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8000. Drop auth0_domain column from client table
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8000.xml
Due: action="build-test", dss, action="build-test-deploy"

DP-7234 Adding `study_admin` liquibase and instance role and role for studies that have phone numbers
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiStudyAdmin.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/PostUserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-7234_instance_roles.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

bugfixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/QuestionType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/AgreementValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

Typo fixed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClient.java
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-8000: Drop auth0_domain column from the client table (#1611)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClient.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8000.xml
Due: action="build-test", dss, action="build-test-deploy"

Typo fixed
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7997: re-added skip address validation code from old branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7997: removed old code from pre ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7997: removed old code from pre ES and added code for skip address validation back
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7883 removing queries from application.conf to classes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantEvent.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

Fixes & cleanup for demo activity
  pepper-apis/studybuilder-cli/studies/basil/boolean-question-demo-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/ru.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-block-content.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-block-question.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-question-boolean.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-question.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-section.conf
  pepper-apis/studybuilder-cli/studies/basil/study-activities.conf
  pepper-apis/studybuilder-cli/studies/basil/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

Code review changes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/BooleanRenderMode.java
Due: action="build-test", dss, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParticipantDataSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7713. Tabular block implementation
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockTabular.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ConsentElectionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/GroupBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/SectionIcon.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularHeaderDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/ComponentBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/ConsentElection.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormSection.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/MailingAddressComponent.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/QuestionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/TabularBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/tabular/TabularContent.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/tabular/TabularHeader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/BlockType.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7713.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderException.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  pepper-apis/studybuilder-cli/studies/basil/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/ru.conf
  pepper-apis/studybuilder-cli/studies/basil/study-activities.conf
  pepper-apis/studybuilder-cli/studies/basil/study-events.conf
  pepper-apis/studybuilder-cli/studies/basil/subs.conf
  pepper-apis/studybuilder-cli/studies/basil/tabular-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

Equation & Picklist are friends or not?
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

Explicitly pass a RenderMode to the constructor
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"

Adds behavioral notes for the renderMode parameter
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/BoolQuestionDef.java
Due: action="build-test", dss, action="build-test-deploy"

We're only using one value of the picklist
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

Unused removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

comment out client column removal
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
Due: action="build-test", dss, action="build-test-deploy"

Fixes checkstyle errors
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/BoolQuestionDef.java
Due: action="build-test", dss, action="build-test-deploy"

Adds a missing import
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641: merging develop in fixing liquibase queries
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_addOS2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-7641_ddpKitRequestSetting_AutoIncrement.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641: added missing ES info to liquibase update
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_addOS2.xml
Due: action="build-test", dsm, action="build-test-deploy"
