Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

[DSM] PEPPER-881 (#2574)
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/cmi-lms/create-bucket.sh
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/dsm-setup.sh
Due: none

PEPPER-882 Created a bash script for creating the initial and results topics in pubsub
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/create-bucket.sh
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/create_results_topic.sh
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/create_trigger_topic.sh
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/dsm-setup.sh
Due: none

PEPPER-890 . DSS participant file download
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/service/FileDownloadService.java
  pepper-apis/docs/specification/src/components/parameters.yml
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.downloads.yml
  pepper-apis/docs/specification/src/pepper.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/FileDownloadResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetParticipantFileDownloadRoute.java
Due: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-890 . DSS participant file download
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/service/FileDownloadService.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-890 . Added test cases
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/FileDownloadServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-890 . cleanup
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/service/FileDownloadService.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

w-i-p
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetParticipantFileDownloadRoute.java
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-890 . cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetParticipantFileDownloadRoute.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

cleanup/refactor
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.download.yml
  pepper-apis/docs/specification/src/pepper.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

cleanup/refactor
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/service/FileDownloadService.java
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.download.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetParticipantFileDownloadRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/FileDownloadServiceTest.java
Due: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

cleanup/refactor
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/FileDownloadServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup/refactor
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.download.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Initial implementation for PEPPER-68. Still WIP.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/util/DaoUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/util/ResultsBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMBadRequestException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DsmInternalError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryHeadersProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/CodeStudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ESParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadColumn.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryValidationException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/StudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SystemUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryTestParser.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadServiceTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryDetail.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryExtraCols.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryMissingCols.txt
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-856 . on-demand-activity route updates to handle results file
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/dsm/TriggerActivityPayload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-856 . cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-811 Initial imlpemenentation of file upload.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SomaticResultMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultMetaData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/AntivirusScanningStatusListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-811_somatic_documents.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettingsTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-856 . on-demand-activity route updates to handle participant results file (#2577)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/dsm/TriggerActivityPayload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

Fix constraints and field sizes.
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-811_somatic_documents.xml
Due: action="build-test", dsm, action="build-test-deploy"

Turn on onchistory route
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dsm, action="build-test-deploy"

fix Auth
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetParticipantFileDownloadRoute.java
Due: action="build-test", dss, action="build-test-deploy"

Ensure elastic mapping is updated for nested somaticResultUpload; fix SQL and mappings; return the newly inserted object into the database.
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

Align with existing DSM configuration names.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

Adds the fileDownload configuration to the running CI environment configuration.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

Really fix the template.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

Refactor AV messages.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/AntivirusScanningStatusListener.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper-890 dss file download (#2576)
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/service/FileDownloadService.java
  pepper-apis/docs/specification/src/components/parameters.yml
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.download.yml
  pepper-apis/docs/specification/src/pepper.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/FileDownloadResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetParticipantFileDownloadRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/FileDownloadServiceTest.java
Due: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Naming consistency.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SomaticResultMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

Handle DSM's usage of this variable for now.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

w-i-p
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-results.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-882 Moved changes into a separate directory for DSM and also added a check for bucket pre-existing
  cloud-functions/cf-dsm-file-scanner/dsm-cf-file-scanner-setup/create-bucket.sh
  cloud-functions/cf-dsm-file-scanner/dsm-cf-file-scanner-setup/create_topic_and_sub.sh
  cloud-functions/cf-dsm-file-scanner/dsm-cf-file-scanner-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-cf-file-scanner-setup/init-bucket-event.sh
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/create_trigger_topic.sh
Due: none

PEPPER-882 Changed the directory name
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create-bucket.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create_topic_and_sub.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/init-bucket-event.sh
Due: none

Matching config to PEPPER-882 PR.
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

updates
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-results.conf
Due: action="build-test", dss, action="build-test-deploy"

updates
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
