Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, test_parallelism=15, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: .*
  dss: ((((((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: .circleci/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/config/.*)) or (any of: .circleci/.*)
  test_parallelism=15: any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*
  dsm: ((((any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*) or (any of: .circleci/.*)) or (any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*)) or (any of: pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml)) or (any of: .circleci/.*)
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

[PEPPER-59] Fix Gson issues with Java 17 (#2811)
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1334 . update osteo2 elastic index
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1266. fix text
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-invitation.html
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1266. fix text
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-child-invitation.html
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Pepper 1266 update osteo email text (#2812)
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-invitation.html
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Implement ParticipantData legacy ID analysis
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/util/JsonResponseTransformer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantAdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantListRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/DuplicateParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/ParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/FieldSettingsTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Adjust null handling for ParticipantData serialization
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ParticipantDataTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1334
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Pepper-1334 (#2814)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Changes due to code review
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/util/JacksonResponseTransformer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/util/GsonResponseTransformer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix checkstyle violations due to method rename
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Changes due to code review
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1267] Implement ParticipantData legacy ID analysis (#2813)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/util/JacksonResponseTransformer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantAdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantListRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/DuplicateParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/ParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/util/GsonResponseTransformer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/FieldSettingsTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalKitShippingRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalOncHistoryDetailsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1334 . delete from osteo2 index too
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/UserDeleteService.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1334 . delete from osteo2 index on User deletion (#2815)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/UserDeleteService.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1366 update appengine yaml runtime python version
  pepper-apis/docs/specification/deploy/app.yaml
Due: action="build-test", api-docs, action="build-test-deploy"

PEPPER-1366 update appengine yaml runtime python version (#2816)
  pepper-apis/docs/specification/deploy/app.yaml
Due: action="build-test", api-docs, action="build-test-deploy"

Implement Elastic export verification
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalKitShippingRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalOncHistoryDetailsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ClinicalOrderMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ParticipantDataMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SMIDMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SomaticResultMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/TissueMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/VerificationLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/Deserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantAdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantListRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/CohortTagTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Do not export NOT_SPECIFIED medical records
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/DefaultParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/NewOsteoParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/ParticipantExportPayload.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/ObjectTransformerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticSearchParticipantExporterFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/osteo1Mappings.json
  pepper-apis/dsm-core/src/test/resources/elastic/osteo1Settings.json
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalKitShippingRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalOncHistoryDetailsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1334 . fix to handle osteo old activities with no translations
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1334 . fix to handle osteo old activities with no translations (#2818)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPRequestJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1335_osteo2_es_index.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Align refresh policy for Elastic updates
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
Due: action="build-test", dsm, action="build-test-deploy"

Align refresh policy for Elastic updates
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Align DSM Elastic refresh policies (#2819)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1367] Implement Elastic export verification (#2817)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ClinicalOrderMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ParticipantDataMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SMIDMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SomaticResultMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/TissueMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/VerificationLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/Deserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantAdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantListRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/CohortTagTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/CohortTagTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/model/ParticipantMedicalRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1370] Do not export NOT_SPECIFIED medical records (#2820)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/DefaultParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/NewOsteoParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/ParticipantExportPayload.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/ObjectTransformerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticSearchParticipantExporterFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/osteo1Mappings.json
  pepper-apis/dsm-core/src/test/resources/elastic/osteo1Settings.json
Due: action="build-test", dsm, action="build-test-deploy"

Re-implement medical record creation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ddp/DDPActivityConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/DDPInstanceProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordInstanceProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DBUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/TestMedicalRecordInstanceProvider.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/osteo1Activities.json
  pepper-apis/dsm-core/src/test/resources/elastic/osteo2Activities.json
Due: action="build-test", dsm, action="build-test-deploy"

Temporarily disable OsteoMigratorTest
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1372 allow null address2 for unvalidated mailing addresses.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/juniper/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EasyPostUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/util/DeliveryAddress.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/QuartzExternalShipperTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/EasyPostUtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/CreateLabelTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/lddp/util/DeliveryAddressTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1335] Support separate osteo1 and osteo2 Elastic indexes (#2821)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/DDPRequestJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ddp/DDPActivityConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalKitShippingRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalOncHistoryDetailsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/DDPInstanceProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordInstanceProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DBUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1335_osteo2_es_index.xml
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/TestMedicalRecordInstanceProvider.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/CohortTagTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/model/ParticipantMedicalRecord.java
  pepper-apis/dsm-core/src/test/resources/elastic/osteo1Activities.json
  pepper-apis/dsm-core/src/test/resources/elastic/osteo2Activities.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1372 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EasyPostUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/util/DeliveryAddress.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/EasyPostUtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Turn off osteo exclusion for exports
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1335 (#2823)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1372 allow null address2 for unvalidated mailing addresses. (#2822)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/juniper/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EasyPostUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/util/DeliveryAddress.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/QuartzExternalShipperTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/EasyPostUtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/CreateLabelTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/lddp/util/DeliveryAddressTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix Osteo1 participant init when no consent
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ExportLogger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/VerificationLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/resources/elastic/osteoActivitiesNoConsent.json
Due: action="build-test", dsm, action="build-test-deploy"
