Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

GAE uses `config_file` for the config path
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8504: GAE uses `config_file` for the config path (#2139)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

merging develop and removing old `DownloadParticipantFileRoute`
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Use an empty config if one is not found
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Return `null` so DSM knows not to look here
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Checkstyle
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8504: Return null if a config is not found (#2140)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

adding export tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8563. Added reminder email events for ABOUT_HEALTHY
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | create kit daos
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ScanPayload.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8484 fix lms flow and preconditions
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | add logic to Kit final use case class
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitFinalScanRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Ddp 8511 dss osteov 2 medical release physician names country field does (#2113)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/InstitutionSuggestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/institution/InstitutionSuggestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetInstitutionSuggestionsRoute.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiInstitution.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetInstitutionSuggestionsRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8484 fix activity numbering
  pepper-apis/studybuilder-cli/studies/lms/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/about-your-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8484 fix email preconditions
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Fix styles for login page
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Fix body styles
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Small fix
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Fix styles for password-reset page
  pepper-apis/studybuilder-cli/tenants/singular/pages/password_reset.html
Due: action="build-test", dss, action="build-test-deploy"

fixing merge conflict deletion
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

DSP-7581: adding data dictionary to export and parse refactor (#2132)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantSurveyStatusResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/QuestionType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ModuleExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TsvParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/AmbulationValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/BooleanValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CohortTagNameProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CollatedQuestionValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/UnparsedDeserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/UnparsedESParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/Filterable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/BaseFilterTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/SavedFiltersTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[SINGULAR] DDP-8516 Footer styling fixes for login/password-reset Auth0 pages (#2143)
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
  pepper-apis/studybuilder-cli/tenants/singular/pages/password_reset.html
Due: action="build-test", dss, action="build-test-deploy"

revert change
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

Initial commit of change set
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8539-about-healthy-pex.conf
Due: action="build-test", dss, action="build-test-deploy"

More work on the patch impl
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/singular/SingularAboutHealthyPexTask.java
Due: action="build-test", dss, action="build-test-deploy"

patch data cleanup
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8539-about-healthy-pex.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | implement Scan, Final and Received use cases along with their two new Dao methods for updating and receiving kits
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/SentKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | refactor use case classes to eliminate duplication
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | create KitFinalSentBaseUseCase for combining Final and Sent use cases
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/SentKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Update pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/FileUploadNotificationJob.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/FileUploadNotificationJob.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | clean up base kit route
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ReceivedKitsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

hasError -> hasThrown
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/FileUploadService.java
Due: action="build-test", dss, action="build-test-deploy"

default null
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8248.xml
Due: action="build-test", dss, action="build-test-deploy"

hruid instead of id
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/FileUploadService.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8484 add intermediate activity to copy operator's answer into child's
  pepper-apis/studybuilder-cli/studies/lms/activities/add-participant.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8589 extend copy configuration to handle copying from parent activity instance to child's
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/copy/CopyExecutor.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/CopyConfigurationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/CopyConfigurationSql.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/copy/CopyAnswerLocation.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/CopyConfigurationDao.sql.stg
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8484-copy-configuration-operator.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
Due: action="build-test", dss, action="build-test-deploy"

Fix more styles for login page
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Fix more styles for password-reset page
  pepper-apis/studybuilder-cli/tenants/singular/pages/password_reset.html
Due: action="build-test", dss, action="build-test-deploy"

Small fix
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
  pepper-apis/studybuilder-cli/tenants/singular/pages/password_reset.html
Due: action="build-test", dss, action="build-test-deploy"
