Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7941 | add test to check if kit label is less than 14 digit
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | add unit test for kit final use case
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseIntegrationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | checkstyle fix
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | fix integration tests
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseIntegrationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | minor change
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8609] hide only not submitted consents
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp7601.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8411 | migrate changes to RC
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/FieldSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/Generator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializer.java
Due: action="build-test", dsm, action="build-test-deploy"

Fixes after PR
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8606.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularFileUploadNotifications.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/emails/file-upload-notification/en.html
  pepper-apis/studybuilder-cli/studies/singular/emails/file-upload-notification/file-record-en.html
Due: action="build-test", dss, action="build-test-deploy"

Ddp 8609 dss osteo v 2 completed osteo v 1 forms do not display in osteo v 2 (#2196)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp7601.java
Due: action="build-test", dss, action="build-test-deploy"

dsm event pex updates
  pepper-apis/studybuilder-cli/studies/singular/patches/update-email-delaySeconds.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8577. update medical-record-release definiton as writeOnce only (#2192)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8411 | migrate patch fix changes to RC branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/FieldSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/CamelCaseConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/Generator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializer.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8411 | migrate patch fix changes to RC branch (#2197)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/FieldSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/CamelCaseConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/Generator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializer.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8572. update medical-record-release's mailing_address_component definition
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
Due: action="build-test", dss, action="build-test-deploy"

changed some logic for osteoDdp7601
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp7601.java
Due: action="build-test", dss, action="build-test-deploy"

Changeset renamed
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8606.xml
Due: action="build-test", dss, action="build-test-deploy"

Name corrected
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularFileUploadNotifications.java
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-8624 (#2185)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

changed some logic for osteoDdp7601 (#2200)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp7601.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8616 singular email updates (#2193)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularEmailEventUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/update-email-delaySeconds.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7606: adding receivedBy info to sample pages
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

attempting circleCI tests for DSM
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

attempting ci dsm test exclusions
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

adding more exclusions
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

trying single line excludes
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

fixing pom syntax
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

trying different exclusion strategy
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

more maven property tweaks
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

fixing circleci config
  .circleci/main-config.yml
Due: none

Fixes an NPE from a null answer
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8634 . fix minor consent copy events.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdateConsentCopyEvents.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-consent-copy-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8634 . fix minor consent copy events.
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8642
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/SingularDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8374 | Onc History Created (#2186)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingOncHistoryPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8554. PS: Add prequal age / consent DOB validation
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/pex-antlr/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Pex.g4
  pepper-apis/studybuilder-cli/studies/singular/activities/consent-parental.conf
Due: action="build-test", dss, action="build-test-deploy"

Capability condition removed
  pepper-apis/studybuilder-cli/studies/singular/activities/consent-parental.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8640 fix osteo dob validations
  pepper-apis/studybuilder-cli/studies/osteo/patches/dob-validations.conf
Due: action="build-test", dss, action="build-test-deploy"

Template's name removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/MailTemplateDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/MailTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/mail/MailTemplate.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/mail/MailTemplateService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/mail/MailTemplateServiceTest.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8606.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularFileUploadNotifications.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | create a special factory for returning the appropriate instance for exporting dsm.participant
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/DefaultParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/ElasticSearchParticipantExporterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/NewOsteoParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/export/ParticipantExportPayload.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticSearchParticipantExporterFactoryTest.java
Due: action="build-test", dsm, action="build-test-deploy"
