Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7653 fix row generation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7653 revert alias OncHistory value
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

add initial support for release self
  study-builder/studies/lms/activities/medical-release.conf
Due: none

fixed germline addendum workflow
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/patches/addendum-new-activity.conf
Due: none

add semicolon
  study-builder/studies/osteo/patches/addendum-new-activity.conf
Due: none

fixed germline addendum workflow (#1355)
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/patches/addendum-new-activity.conf
Due: none

DDP-7736 fix spanish texts
  study-builder/studies/pancan/i18n/es.conf
Due: none

minor text updates in about your cancer
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
  study-builder/studies/osteo/patches/about-you-child-updates.conf
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

minor text updates in about your cancer (#1357)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
  study-builder/studies/osteo/patches/about-you-child-updates.conf
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

fix prequal (#1351)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed assent addendum workflow
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/patches/somatic-assent-addendum.conf
Due: none

DDP-7117 | add dynamic templates to apply analyzers dynamically for every text type field
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7736 fix spanish text
  study-builder/studies/pancan/i18n/es.conf
Due: none

minor update in about patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

minor update in about patch (#1363)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

changes since test was deployed
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ExcelUtils.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantColumn.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/BaseFilterTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
Due: action="build-test", dsm, action="build-test-deploy"

updated osteo event expression conditions with correct users
  study-builder/studies/osteo/patches/DDP-7601-new-event-for-dsm.conf
  study-builder/studies/osteo/study-events.conf
Due: none

updated pom
  pepper-apis/dsm-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Fix version
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
Due: action="build-test", api-docs, action="build-test-deploy"

Fix pepper-api-spec version
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
Due: action="build-test", api-docs, action="build-test-deploy"

Extend BOOLEAN question that can be rendered as a checkbox
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Correct pepper-api-spec version (package.json)
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
Due: action="build-test", api-docs, action="build-test-deploy"

Fix after review
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Update pepper-api-spec version (pepper.yml)
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7723: fixed npe
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7723: fixed npe (#1365)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

choose file from console and recive output name
  scripts/ddp-RxTerms-script/package-lock.json
  scripts/ddp-RxTerms-script/package.json
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

add readme
  scripts/ddp-RxTerms-script/README.md
Due: none

take args from console
  scripts/ddp-RxTerms-script/src/index.ts
  scripts/ddp-RxTerms-script/src/utils/common.ts
Due: none

update readme
  scripts/ddp-RxTerms-script/README.md
Due: none

remove dependencies
  scripts/ddp-RxTerms-script/package.json
Due: none

updated osteo v2 medical release titles
  study-builder/studies/osteo/patches/mrf-v2.conf
Due: none

minor marking added in about you subquestion 10
  study-builder/studies/osteo/patches/about-you-child-updates.conf
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: none

Osteo about minor fiv (#1367)
  study-builder/studies/osteo/patches/about-you-child-updates.conf
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: none

minor changes in prequal patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7575 distribute activity answers into multiple columns
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

Fixes according to Blake's comments
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluatorBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationVariablesCollector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationVariablesCollectorBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationVariablesCollectorTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7736 remove extra period from spanish
  study-builder/studies/pancan/i18n/es.conf
Due: none

DDP-7707: OpenAPI - Extend BOOLEAN question that can be rendered as a checkbox (#1345)
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
