Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

changed env to deployment_environment
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cors-config.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

committing changes
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

PEPPER-883
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

changes
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

Add support for multiple users per request
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AddUserRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

changes to the deploy scripts for docker tags and image names
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

[DSM] Cf deploy script changes (#2610)
  cloud-functions/cf-dsm-file-scanner/Dockerfile
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cors-config.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

PEPPER-932 stopping Juniper endpoint creation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-932 removing juniper code from prod (#2611)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Update pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AddUserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] minor fix for PEPPER-918-b (#2608)
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

PEPPER-934 changed logging from Warning to Severe
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/cf/DSMSomaticFileScanner.java
Due: none

PEPPER-918 added sleep so the ES updates are not collided together
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

[DSM] PEPPER-934 CF logging fix (#2612)
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/cf/DSMSomaticFileScanner.java
Due: none

PEPPER-934 changing the number of instances to 1 and changing warnings to Severe
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/cf/DSMSomaticFileScanner.java
Due: none

[DSM] fix for RC (#2614)
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/cf/DSMSomaticFileScanner.java
Due: none

Handle the case where no description is provided.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-918 adding sleep (#2613)
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

[PEPPER-941] Handle the case where no description is provided. (#2615)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

RC branch change for handling the case where no description is provided.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] RC branch change for handling the case where no description is provided. (#2616)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

adding a line to get the branch triggered after circle ci outage
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

Add user create and remove support
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/StudyRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRoleResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Update library versions to address vulnerabilities
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-database/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
Due: action="build-test", dsm, action="build-test-deploy"

Update Guava version
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

fixing the RGP error and adding one more log
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-947 changes from RC
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

Update dependency versions per AppSec (#2617)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-database/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRoleResponse.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Clean upload files of blank rows
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryParserTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryExtraRows.txt
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryTemplateRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/CodeStudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadColumn.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DbTxnBaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DSMDbTestContainer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DbSharedTestContent.java
Due: action="build-test", dsm, action="build-test-deploy"

pepper-809-remove-redundant-alerts
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LoggingFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

remove func throws
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

pepper-943
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
Due: action="build-test", dsm, action="build-test-deploy"

Finish route implementation; add test to write Excel file; add styling to Excel sheet
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryTemplateRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Remove testWriteDictionary for non-local testing
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Restructure for testing
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Exclude test that fails on CircleCI, for now
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
