Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

[DSM] more logging in the RC (#2701)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

Add missing exception handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
Due: action="build-test", dsm, action="build-test-deploy"

Add missing exception handling (#2702)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922 . os2 es translations validations support
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1152 forgot to remove a ctmpl block
  pepper-apis/config/application.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1152 completely removing slack appender from dss and dsm. (#2691)
  notice.md
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/log/SlackAppender.java
  pepper-apis/dsm-core/src/main/resources/logback.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/log/SlackAppenderTest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/log/SlackAppender.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/thread/ThreadFactory.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/thread/ThreadPriorities.java
  pepper-apis/dss-core/src/main/resources/logback.xml
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/log/SlackAppenderTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1171 eliminate primary key collisions in KitTrackingScanUseCase
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitTypeImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoImplTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171 eliminate primary key collisions in KitTrackingScanUseCase
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoImplTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/studies/osteo/family-history-self/snippets/family-history-block-question-side-control.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-self/snippets/family-history-section-instructions.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-786 added more details to logs related to exception handling in PatchRoute.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMBadRequestException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DuplicateException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-786 added more details to logs related to exception handling in PatchRoute.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-786 PR feedback. Removing DuplicateException and replacing it with DsmInternalError.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DuplicateException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Changes due to code review
  .circleci/main-config.yml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestContainer.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-786 PR feedback.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-786 More details in PatchRoute exceptions (#2703)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMBadRequestException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DuplicateException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Added DeletePatchTest for tests in patches and also made backend remove the deleted tissues and onc histories and sm ids
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DeleteOncHistoryPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DeletePatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DeleteTissuePatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/patch/DeletePatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/patch/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Fixed the things that got broken during merging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DuplicateException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

Added test for unique constraint and liquibase to drop indices changed the deleted field in SmId to boolean Removed value from UniqueField
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/structure/UniqueField.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-798_drop_unique_index.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/patch/DeletePatchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fix for tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
Due: action="build-test", dsm, action="build-test-deploy"

Adding more logging and fixing the exceptions that were getting lost
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
Due: action="build-test", dsm, action="build-test-deploy"

Adding better logging and cleanups
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

update app.yaml for dev env
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
