Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Three bug fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Example of our facility to return a 200 with text as Json object for frontend processing.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

New response handling via Elliot
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Add JsonTransformer to OncHistoryUpload route
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper-68 bug fixes (#2599)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-910 CORS config and SA permissions
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cors-config.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/update-download-service-account.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/upload_json_dev.json
Due: none

[DSM] PEPPER-910 CORS config (#2600)
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cors-config.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/update-download-service-account.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/upload_json_dev.json
Due: none

PEPPER-910 added .sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

PEPPER-883
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-915_field_settings.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix date formatting; setup correct access role; pepper-915
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/resources/onchistory/lmsOncHistory.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryBadValue.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryDetail.txt
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] some small changes to PEPPER-883 (#2601)
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

pepper-68, pepper-915 (#2602)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-915_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/lmsOncHistory.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryBadValue.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryDetail.txt
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-918 first commit
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

PEPPER-535 removed GoogleAnalyticsMetrics.java and GoogleAnalyticsMetricsTracker.java and unused codes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/analytics/GoogleAnalyticsMetrics.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/analytics/GoogleAnalyticsMetricsTracker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dsm, action="build-test-deploy"

Include SomaticResultUpload and ClinicalOrder in filtering since both can cross the OS1/OS2 boundaries
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ClinicalOrder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/DsmDdpInstanceIdPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/DsmDdpInstanceIdPostFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-535 removed backend code that sent GA metrics. (#2598)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/analytics/GoogleAnalyticsMetrics.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/analytics/GoogleAnalyticsMetricsTracker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/FrontendAnalyticsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetActivityInstanceRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

[DSM] PEPPER-873 (#2571)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-873_mercury_order_fields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/ComparisonTest.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AddUserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AddUserRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Added logging to debug ES update issue
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
Due: action="build-test", dsm, action="build-test-deploy"

Add logging to debug ES update issue (#2604)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-918 script to make the changes to the selected participant to make sure they have a pdo number for a tumor
  pepper-apis/scripts/dsm/tests/.gitignore
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

PEPPER-918 adding check for prod
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

Added force refresh on elastic update
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-918 fixed a bug
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

[DSM] PEPPER-918 script to make test data (#2605)
  pepper-apis/scripts/dsm/tests/.gitignore
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

Added force refresh on elastic update (#2606)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
Due: action="build-test", dsm, action="build-test-deploy"

Limiting IMMEDIATE refresh to only onc history upload
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryElasticUpdater.java
Due: action="build-test", dsm, action="build-test-deploy"

Limiting IMMEDIATE refresh to only onc history upload (#2607)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryElasticUpdater.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-918 moving guid and hruid to the end of parameters
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

PEPPER-918 some changes
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Due: action="build-test", action="build-test-deploy"

somatic-results pediatric email-events update to handle aged-up scenario. PEPPER-826 & PEPPER-831
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/somatic-results-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

somatic-results pediatric email-events update to handle aged-up scenario (#2609)
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/somatic-results-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-883 removed unused pubsub topic and changed bucket names to have environment name at the end moved from Dockerfile to secret
  cloud-functions/cf-dsm-file-scanner/Dockerfile
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cors-config.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

fixed
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none
