Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

refactored about-you-child patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/about-you-child-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed summary update
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
Due: action="build-test", dss, action="build-test-deploy"

final version
  pepper-apis/studybuilder-cli/studies/osteo/patches/about-you-child-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

refactor patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

add Multiple changes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7366, DDP-7367 (#1671)
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-benefits.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-cost.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-participation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-sharing.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-voluntary.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section1-withdraw.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-authorization.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section3-full-name-terms.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-authorization.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8019 | add CohortTagMigrator to export existing cohort tags to elastic search, add integration test for CohortTagMigrator, minor refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/tag/cohort/CohortTagDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/tag/cohort/CohortTagDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/tag/cohort/CohortTag.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Type.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagMigrationTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Added optional field country to physician component.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMedicalProvider.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/MedicalProviderDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/medicalprovider/GetMedicalProviderResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/medicalprovider/PostPatchMedicalProviderRequestPayload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/migration/Physician.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchMedicalProviderRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PostMedicalProviderRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoader.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/constants/TestConstants.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/JdbiMedicalProviderTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/DataExporterTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/collectors/ActivityResponseCollectorTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/collectors/MedicalProviderFormatterTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DeleteMedicalProviderRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetMedicalProviderListRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchMedicalProviderRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PostMedicalProviderRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/PdfGenerationServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/PdfTestingUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7384-add-country-field.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-8019 | add cohort tag migrators to the test and dsm task subscription
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fix.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchMedicalProviderRoute.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8036 *better fix for RGP upload problem
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8019 | fix master changelog of liquibase
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Update pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
Due: action="build-test", dss, action="build-test-deploy"

Fix property name
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

more checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/ParamsGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8024. fon medication_log, clinical-visit update
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
Due: action="build-test", dss, action="build-test-deploy"

Test
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/UserGovernanceDao.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DeleteUserRouteTestAbstract.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/userdelete/UserDeleteServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

Test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/userdelete/UserDeleteServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

Fix property name (#1679)
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

fix1
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

temp test
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/UserGovernanceDao.java
Due: action="build-test", dss, action="build-test-deploy"

added activity in workflow
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

Prequal fix 2 (#1680)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | add new method to ParticipantDao for retrieving pt based on ddp instance id and ddp participant id, make it singleton
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add empty Builder constructor to ParticipantDto
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | remove redundant spaces
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/OldOsteoPreFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add a few constant strings describing database column names
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | overload method isParticipantInDB by removing connection param from arguments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add DataCopyingException which will indicate that some column value was null while copying data, add OsteoWorkflowStatusUpdate class for handling business logic of OS1/OS2 stuff
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/DataCopyingException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7461 | remove redundant spaces
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoPreFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8057
  pepper-apis/studybuilder-cli/studies/osteo/snippets/loved-one-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8057 (#1681)
  pepper-apis/studybuilder-cli/studies/osteo/snippets/loved-one-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7362.
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed Medical Release Form (added disabling all unnecessary components blocks)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-self.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed loved one announcement.
  pepper-apis/studybuilder-cli/studies/osteo/snippets/loved-one-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

temporary
  pepper-apis/studybuilder-cli/studies/esc/about-you.conf
  pepper-apis/studybuilder-cli/studies/mpc/about-you.conf
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
