Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-8612 changing to `&lt;&gt;`
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8612_NA_Checkbox_options.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8616. update email template text
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8539: Update PEX expressions in the ABOUT_HEALTHY survey (#2164)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ComponentDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiFormSectionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/FormBlockDto.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAboutHealthyPexTask.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8539-about-healthy-pex.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7556 updated mapping and created migrator
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ClinicalOrder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryOrdersRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Error message and status fix (#2150)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitTypeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 added filtering ability for ClinicalOrders of a particiapnt
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 name change in mapping to `clinicalOrder`
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7941 | extract methods in FinalKitUseCase
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8578. Order participants
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetGovernedStudyParticipantsRoute.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7941 | add integration test for kit received use case
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitBaseUseCaseTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitReceivedUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | add comments to main use case classes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8511] update loader
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMedicalProvider.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8511-physician-country-add.xml
Due: action="build-test", dss, action="build-test-deploy"

Update DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | add the generic PreProcessor interface
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PreProcessor.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | add BasePatchPreProcessor and a special implementation for pre-processing Patch called PatchPreprocessor, write unit tests for both cases
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatchPreProcessor.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/PatchPreProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | add a new method to ParticipantDao interface for retrieving participant_id by using the combination of guid and ddp_instance_id
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchPreProcessor.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | change the client based on new additions
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8645 | change all source files which use ParticipantDao from using PariticpantDao to ParticipantDaoImpl based on refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/PostMercuryOrderDummyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/MedicalRecordMigrationTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/TissueDataMigrationTool.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | devise better name for the special implementation of patch processor which describes the intention and context, change comments accordingly
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParentRelatedPatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParentRelatedPatchPreProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-7477 | use naive approach to add first name, last name, dob (#2166)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | extract functions to make code more concise
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParentRelatedPatchPreProcessor.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed reconsent bug for aged up users and for os1 users
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/dob-validations.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/governance-fix.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/osteo/study.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed reconsent bug for aged up users and for os1 users (#2173)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/dob-validations.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/governance-fix.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/osteo/study.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | add factory method in BasePatchPreProcessor which will produce PreProcessor instances based on patch#tableAlias and patch#parent
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParentRelatedPatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchPreProcessorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | add @TableName & @ColumnName annotations for OncHistory in order for PatchUtil.java to be able to correctly build DBElement from it, add more meaningful comment to if statement
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | put processing related classes/interfaces into patch.process subpackage
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/BasePatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/ParentRelatedPatchPreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/PatchPreProcessorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/PreProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParentRelatedPatchPreProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8578. Order participants (#2172)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetGovernedStudyParticipantsRoute.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | drag tests into appropriate package, polish the code further, write unit tests for producing the instance of PrePocessor<A>
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/process/ParentRelatedPatchPreProcessor.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/process/BasePatchPreProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/process/ParentRelatedPatchPreProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7866: fixing edge case around text question handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | add more error messages if exception happened
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7941 | checkstyle fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
Due: action="build-test", dsm, action="build-test-deploy"

change physician dataloader data to country
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoader.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7866: fixing edge case around text question handling (DSM) (#2174)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 Adding the functionality to export to ES a new published order Changing type of `orderId` to keyword
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ClinicalOrder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercurySampleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ClinicalOrderMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 checkstyle fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7746: tests for singular participant data (#2148)
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DSP-8599: exporting option details in question defs (#2134)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/PicklistQuestionFormatStrategy.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/collectors/PicklistQuestionFormatStrategyTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7556 Exporting Status updates
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 fixed a bug in query
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
Due: action="build-test", dsm, action="build-test-deploy"
