Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-1191 WIP
  pepper-apis/scripts/admin/delete-participant-data-for-study.sql
Due: action="build-test", action="build-test-deploy"

PEPPER-922 Osteo spanish translations (#2772)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateOsteoActivityTemplatesInPlace.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateOsteoTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/child-contact.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/loved-one.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-self.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/parental-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-self/snippets/family-history-block-question-side-control.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-self/snippets/family-history-section-instructions.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/prequal-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/confidence-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/former-proxy-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/highest-level-school.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/loved-one-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/problem-understanding-written.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-assigned-sex.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-gender-identity.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-read-hospital-materials.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/speak-language.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

osteo spanish translations
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateOsteoTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/UpdateOsteoEmailSpanishEventTemplates.java
  pepper-apis/studybuilder-cli/studies/osteo/study.conf
Due: action="build-test", dss, dsm, action="build-test-deploy"

osteo spanish translations
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PdfDao.java
Due: action="build-test", dss, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalKitShippingRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalOncHistoryDetailsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OldOsteoCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalCohortTagsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DdpInstanceGroupTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/KitShippingTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Finish tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/KitShippingTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Added sonar.scanner.force-deprecated-java-version property
  pepper-apis/dsm-core/pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

Added sonar.scanner.force-deprecated-java-version property
  pepper-apis/ddp-common/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-526 one tiny change per Whitney
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-843] Fix OS1/OS1 export data erasure (#2773)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalKitShippingRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalOncHistoryDetailsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OldOsteoCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalCohortTagsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DdpInstanceGroupTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/KitShippingTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-526 Per Whitney's suggestion, added 3 more fields and changed the order a bit.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/phimanifest/PhiManifest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix logging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-843] Fix logging (#2774)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/CohortTagMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

osteo spanish email updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_1wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_2wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_3wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_welcome_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_1wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_2wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_3wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_completed_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_welcome_es.html
Due: action="build-test", dss, action="build-test-deploy"

osteo spanish email updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_consent_addendum_received_es.html
Due: action="build-test", dss, action="build-test-deploy"

[DSM] PEPPER-526 Phi Manifest (#2760)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Activities.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/phimanifest/PhiManifest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitAuthorizationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDeactivationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/phimanifest/PhiManifestReportRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DateTimeUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ParticipantUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/ParamsGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/patch/ObjectDeleteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/phimanifest/PhiManifestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DdpInstanceGroupTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MercuryOrderTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/lmsActivitiesSharedLearningEligible.json
  pepper-apis/dsm-core/src/test/resources/elastic/lmsActivitiesSharedLearningIneligible.json
  pepper-apis/dsm-core/src/test/resources/elastic/participantDsm.json
  pepper-apis/dsm-core/src/test/resources/patchRequests/updateFieldPatchRequests.json
Due: action="build-test", dsm, action="build-test-deploy"

osteo spanish email updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_release_completed_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_consent_addendum_received_es.html
Due: action="build-test", dss, action="build-test-deploy"

osteo spanish email updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_about_child_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_about_you_reminder_es.html
Due: action="build-test", dss, action="build-test-deploy"

osteo spanish email updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_family_history_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder_es.html
Due: action="build-test", dss, action="build-test-deploy"

osteo spanish email updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-child-invitation_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-invitation.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-invitation_es.html
Due: action="build-test", dss, action="build-test-deploy"

osteo spanish translations
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

osteo spanish email updates
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_somatic_germline_addendum_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_germline_addendum_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Cleanup KitUtil and EasyPostUtil code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestCreateLabel.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/KitUtilTest.java
  pepper-apis/dsm-core/src/test/resources/elastic/participantAddress.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1181 os es pdfs
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_v3_es.pdf
Due: action="build-test", dss, action="build-test-deploy"

Fix chatty debugging log statement
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-526 missing values should be blank, not "No", when dealing with booleans in the PHI report.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/phimanifest/PhiManifestTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-526 cleanup
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/phimanifest/PhiManifestTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-526 cleanup
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
Due: action="build-test", dsm, action="build-test-deploy"

Improve logging for 500 errors from DSS
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

os2 germline summary status fix
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

updates
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-526 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/phimanifest/PhiManifestTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-526 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-526 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/phimanifest/PhiManifestTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Osteo spanish updates (#2776)
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_about_child_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_1wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_2wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_3wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_family_history_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_somatic_germline_addendum_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_welcome_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_about_you_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_1wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_2wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_3wk_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_completed_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_release_completed_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_consent_addendum_received_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_germline_addendum_reminder_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_welcome_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-child-invitation_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-invitation.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-invitation_es.html
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_v3_es.pdf
Due: action="build-test", dss, action="build-test-deploy"

Bringing over some relevant java17 test bits from the isolated instance work
  .circleci/main-config.yml
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/configure.rb
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-526 PHI Manifest Yes/No/Blank fixes (#2777)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/phimanifest/PhiManifestService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/phimanifest/PhiManifestTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1301 disable sonar from circleci pipeline
  .circleci/main-config.yml
Due: none

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
