Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-8833: some int/long/Long conversion
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8618 singular aom updates
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8833: some int/long/Long conversion
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/ParamsGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8618 singular aom updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularInsertAOMEvents.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8877 adding duplication check for sm id insertion
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8877 checking for deleted upon accessioning
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8877 adding duplication check for sm id insertion (#2349)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8618 singular aom updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular aom updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular workflow updates to support aom
  pepper-apis/studybuilder-cli/studies/singular/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8812 | add logic for additional filtering if type is COUNT, since in this case we may have complex additional filter with different object filtering
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/AdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8618 singular workflow updates to support aom
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8812 | reuse activity and activity questions answers code for count additional filtering
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/AdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseActivitiesStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilder.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8808 adding all the new fields to the back for all the other types in radio buttons
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8808_singular_conditional_text_areas.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8618 singular aom edge case handling
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular aom. copy name and dob on ageup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular aom. copy name and dob on ageup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular aom. cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8721 fix osteo release pdfs
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPdfFixes.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV3Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoPdfFixes.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoReleaseV2PdfUpdates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-release-v2-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/pdf-fixes.conf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_contact_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_contact_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_physician_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_physician_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

add mapping and source migrators to DsmTaskSubscription class
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/MedicalRecordAbstractionFieldTypeParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/abstraction/source/MultiTypeArraySourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8618 singular AOM updates (#2350)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularInsertAOMEvents.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8810 adding better logs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8877 moving RC changes into develop
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8721 fix pdfs
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_contact_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_contact_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8812 | change regex to cover edge case for multiple options question type filtering
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DashboardValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8812 | fix getting field name for multiple options splittet strategy
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/CamelCaseConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/SplitterStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/CamelCaseConverterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8812 | add more tests to cover edge cases of filtering
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8812 | add comment to explain complex regex
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategy.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7993 | add null safety checks
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/abstraction/mapping/MultiOptionsMappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/abstraction/source/DateSourceGenerator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7993 | update participants_structured.json
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7993 | remove dead tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordFinalMappingMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordFinalMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Checkstyle fixes
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Adds a method to get an optional string from the config
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubConnectionManager.java
Due: action="build-test", dss, action="build-test-deploy"

Expose Answer's last_updated_at date
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiCompositeAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/AnswerDto.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiCompositeAnswer.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Enforce a single assignment
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", dss, action="build-test-deploy"

Adds a method to get a list of uploads by id
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/FileUploadDao.java
Due: action="build-test", dss, action="build-test-deploy"

Version bump required for Cloud Storage API upgrade
  pepper-apis/parent-pom.xml
Due: action="build-test", action="build-test-deploy"

Update google-cloud-storage dependency
  pepper-apis/ddp-common/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"
