Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7695: fix vitamin subquestion logic
  study-builder/studies/pancan/diet-lifestyle.conf
Due: none

DDP-7696: fix pediatric text in family history
  study-builder/studies/pancan/i18n/en.conf
Due: none

DDP-7696 fix additional details text
  study-builder/studies/pancan/i18n/en.conf
Due: none

updated pancan new activites precondition expressions for events (#1330)
  study-builder/studies/pancan/patches/new-activities.conf
Due: none

DDP-7736 add spanish text updates
  study-builder/studies/pancan/i18n/es.conf
Due: none

DDP-7736 fix spanish texts
  study-builder/studies/pancan/i18n/es.conf
Due: none

DDP-7736 fix spanish text
  study-builder/studies/pancan/i18n/es.conf
Due: none

DDP-7736 remove extra period from spanish
  study-builder/studies/pancan/i18n/es.conf
Due: none

DDP-7822 add pancan family history, diet/lifestyle and stoolkit email triggers & templates
  study-builder/studies/pancan/emails/diet_complete.en.html
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/diet_complete.tmpl.html
  study-builder/studies/pancan/emails/diet_created.en.html
  study-builder/studies/pancan/emails/diet_created.es.html
  study-builder/studies/pancan/emails/diet_created.tmpl.html
  study-builder/studies/pancan/emails/diet_reminder.en.html
  study-builder/studies/pancan/emails/diet_reminder.es.html
  study-builder/studies/pancan/emails/diet_reminder.tmpl.html
  study-builder/studies/pancan/emails/family_history_complete.en.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_complete.tmpl.html
  study-builder/studies/pancan/emails/family_history_created.en.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_created.tmpl.html
  study-builder/studies/pancan/emails/family_history_reminder.en.html
  study-builder/studies/pancan/emails/family_history_reminder.es.html
  study-builder/studies/pancan/emails/family_history_reminder.tmpl.html
  study-builder/studies/pancan/emails/stoolkit_complete.en.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
  study-builder/studies/pancan/emails/stoolkit_complete.tmpl.html
  study-builder/studies/pancan/emails/stoolkit_created.en.html
  study-builder/studies/pancan/emails/stoolkit_created.es.html
  study-builder/studies/pancan/emails/stoolkit_created.tmpl.html
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/subs.conf
Due: none

DDP-7822 fix config & templates
  study-builder/studies/pancan/emails/diet_complete.en.html
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/diet_created.en.html
  study-builder/studies/pancan/emails/diet_created.es.html
  study-builder/studies/pancan/emails/diet_reminder.en.html
  study-builder/studies/pancan/emails/diet_reminder.es.html
  study-builder/studies/pancan/emails/family_history_complete.en.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_created.en.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_reminder.en.html
  study-builder/studies/pancan/emails/family_history_reminder.es.html
  study-builder/studies/pancan/emails/stoolkit_complete.en.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
  study-builder/studies/pancan/emails/stoolkit_created.en.html
  study-builder/studies/pancan/emails/stoolkit_created.es.html
  study-builder/studies/pancan/study-events.conf
Due: none

DDP-7822 fix patch config
  study-builder/studies/pancan/patches/new-activities.conf
Due: none

DDP-7822 fix pancan emails
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_consent_completed.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_consent_completed.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_consent_created.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_consent_created.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_received.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_sent.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/colorectal_consent_completed.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/colorectal_consent_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/consent_completed.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/consent_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_child_contact.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_child_contact_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_email_verification.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_next_steps.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_next_steps_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/release_completed.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/release_reminder.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/saliva_received.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/sign_stool_collection_form.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/welcome.en.html
  study-builder/studies/pancan/emails/diet_complete.en.html
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/diet_created.en.html
  study-builder/studies/pancan/emails/diet_reminder.en.html
  study-builder/studies/pancan/emails/family_history_complete.en.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_created.en.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_reminder.en.html
  study-builder/studies/pancan/emails/family_history_reminder.es.html
  study-builder/studies/pancan/emails/stoolkit_complete.en.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
  study-builder/studies/pancan/emails/stoolkit_created.en.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-7822 fix instagram
  study-builder/studies/pancan/emails/diet_complete.es.html
Due: none

DDP-7822 fix subjects
  pepper-apis/studybuilder-cli/studies/pancan/study-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7822 fix projectname in email templates
  pepper-apis/studybuilder-cli/studies/pancan/study-emails.conf
  study-builder/studies/pancan/emails/family_history_complete.en.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_created.en.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_reminder.en.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-7822 add prepositions
  pepper-apis/studybuilder-cli/studies/pancan/study-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7822 fix facebook twitter spanish links
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_received.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_reminder.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/blood_sent.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/colorectal_consent_completed.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/colorectal_consent_reminder.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/consent_completed.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/consent_reminder.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_child_contact.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_email_verification.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_next_steps.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_next_steps_reminder.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/reconsent_thank_you.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/release_completed.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/release_reminder.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/saliva_received.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/sign_stool_collection_form.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/survey_reminder.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/welcome.es.html
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/diet_created.es.html
  study-builder/studies/pancan/emails/diet_reminder.es.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
  study-builder/studies/pancan/emails/stoolkit_created.es.html
Due: action="build-test", dss, action="build-test-deploy"

[DDP-7967] add ig link (#1625)
  pepper-apis/studybuilder-cli/studies/pancan/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

stool received mail update
  pepper-apis/studybuilder-cli/studies/pancan/emails/stool_received.en.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/stool_received.es.html
  pepper-apis/studybuilder-cli/studies/pancan/emails/stool_received.tmpl.html
  pepper-apis/studybuilder-cli/studies/pancan/study-emails.conf
  pepper-apis/studybuilder-cli/studies/pancan/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

stool received STOOL_RECEIVED event_type_code added to db
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7890-add-new-event-type.xml
Due: action="build-test", dss, action="build-test-deploy"

DSS: CMI: Stool Kit Received Email Trigger
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanStoolkitEventAdd.java
  pepper-apis/studybuilder-cli/studies/pancan/patches/stoolkit-event-add.conf
  pepper-apis/studybuilder-cli/studies/pancan/patches/stoolkit-sent-event.conf
  pepper-apis/studybuilder-cli/studies/pancan/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

feat: DDP-7363-Create-lms-about-you-angular-conf
  pepper-apis/d20220613-25372-k22l5p/build-manifest.rb
  pepper-apis/d20220613-25372-k22l5p/testing-inmemorydb.conf.ctmpl
  pepper-apis/d20220614-21812-8x5kcb/build-manifest.rb
  pepper-apis/d20220614-21812-8x5kcb/itextkey.xml
  pepper-apis/d20220614-21812-8x5kcb/local-java-props.txt.ctmpl
  pepper-apis/studybuilder-cli/studies/lms/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-section-intro.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-how-hear.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/question-race.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
Due: action="build-test", dss, action="build-test-deploy"

change dashboard ordering
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-self/family-history-top-level.conf
Due: action="build-test", dss, action="build-test-deploy"

changed about child tittle and dashboard summaries
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

fix: bug
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-section-intro.conf
Due: action="build-test", dss, action="build-test-deploy"

fix:bug
  pepper-apis/studybuilder-cli/studies/lms/family-history-self/snippets/family-history-section-intro.conf
Due: action="build-test", dss, action="build-test-deploy"

Leyomyosarcoma fixed as Leiomyosarcoma
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-brief-description.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-brief-description.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-procedures.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-procedures.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-description.conf
Due: action="build-test", dss, action="build-test-deploy"

changed about child tittle and dashboard summaries
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed about child dashboard summaries
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child.conf
Due: action="build-test", dss, action="build-test-deploy"

feat: revert unwanted changes
  pepper-apis/d20220613-25372-k22l5p/build-manifest.rb
  pepper-apis/d20220613-25372-k22l5p/testing-inmemorydb.conf.ctmpl
  pepper-apis/d20220614-21812-8x5kcb/build-manifest.rb
  pepper-apis/d20220614-21812-8x5kcb/itextkey.xml
  pepper-apis/d20220614-21812-8x5kcb/local-java-props.txt.ctmpl
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
Due: action="build-test", dss, action="build-test-deploy"

remove unnecessary condition for checking guid under dsm.participant
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participant/GetParticipantRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8163 fix os about you citations
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7417 include missing liquibase script
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-8024. Cardiac Catheterization
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-cath.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8024. Exercise test
  pepper-apis/studybuilder-cli/studies/fon/activities/exercise-test.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8024. Labs (part 1)
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
Due: action="build-test", dss, action="build-test-deploy"

Stream
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/QuestionBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/TabularBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/FormInstanceCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8024. Labs (part 2)
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
