Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-1163 . cleanup/refactor
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Pepper 1171 remove kit dao interface (#2749)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestCreateLabel.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitInitialScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/RGPKitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryEligibleSamplesRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 WIP fake commit to trigger circle
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1205 added script to hard delete previously soft-deleted onc histories, etc. (#2741)
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-1205_CleanupDeletedOncHistoryEtc.sql
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 Use VPC egress instead of docker (#2746)
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 WIP
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1059 (#2737)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NullAdditionalParticipantMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/ElasticSearchExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/EmptyExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 WIP
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171 Rename ScanError to ScanResult (#2743)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitInitialScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/NullObjectDecorator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/ScanResult.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitInitialScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/RGPKitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentKitRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/KitStatusChangeRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitScanResultTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1209 fixing bug introduced when replacing strings with ints (#2748)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 created cache of jwk providers in DSM to reduce the load on auth0's jwk endpoint.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171 WIP
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 Just one RSAKeyProviderFactory, please (#2747)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/security/RSAKeyProviderFactory.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/RSAKeyProviderFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
  pepper-apis/dss-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-1209 another instance of string -> int class cast exception
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

Ddp-5823 email blaster PEPPER-1163 (#2744)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/EmailBlasterCLI.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Adding more exception detail when a clinical kit is not found.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171_KitTrackingPKClashes (#2712)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestCreateLabel.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitTypeImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitInitialScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/NullObjectDecorator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/ScanError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/ScanResult.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitInitialScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/RGPKitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryEligibleSamplesRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/KitStatusChangeRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitScanResultTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Adding more exception detail when a clinical kit is not found. (#2750)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 fixing failing test
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueDao.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 changing housekeeping to use new VPC for egress
  pepper-apis/config/Housekeeping.yaml.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-655 changing housekeeping to use new VPC for egress (#2751)
  pepper-apis/config/Housekeeping.yaml.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-655 fake change to trigger redeploy
  pepper-apis/ddp-common/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1232 trigger builds when appengine yaml files change
  .circleci/config.yml
Due: none

PEPPER-1232 trigger builds when appengine yaml files change (#2752)
  .circleci/config.yml
Due: none

PEPPER-1232 trigger builds when dss config/* files change
  .circleci/config.yml
Due: none

Pepper 1232 app engine yaml triggers builds (#2753)
  .circleci/config.yml
Due: none

PEPPER-1232 making a commit to a yaml file to see whether circle filtering is working
  pepper-apis/config/Housekeeping.yaml.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-1232 making a commit to a yaml file to see whether circle filtering is working
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 NPE fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] NPE fix (#2754)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 remove deleted columns (#2745)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LookupRoute.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1205_CleanupDeletedOncHistoryEtc.sql
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1205_remove_deleted_columns.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1234 Bug fix for initial scanned kits and tissue list
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1234 added and fixed tests, added initial scans into testing and did a bit refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitInitialScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/InitialScanPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ScanPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentAndFinalScanPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/TrackingScanPayload.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1234 checkstyle fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1234 checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/InitialScanPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ScanPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentAndFinalScanPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/TrackingScanPayload.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1234 kit final scan fix (#2755)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitInitialScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/InitialScanPayload.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1240 Concurrency Bug in DSM Kit Scan Pages (#2756)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitInitialScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/RGPKitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
