Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

AT translations cleanup/fix
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
  pepper-apis/studybuilder-cli/studies/atcp/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

AT translations cleanup/fix (#2669)
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
  pepper-apis/studybuilder-cli/studies/atcp/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpReferralSource.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AdminOperationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
Due: action="build-test", dsm, action="build-test-deploy"

Add retrying to UPDATE_CUSTOM_WORKFLOW handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

Resurface TokenExpiredException (#2668)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

Add retrying to UPDATE_CUSTOM_WORKFLOW handling (#2670)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpReferralSource.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
Due: action="build-test", dsm, action="build-test-deploy"

TEMP logging for before filters
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LoggingFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

Fake commit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1071 cleanup and snuck in removal of checkstyle line length
  cloud-functions/cf-dsm-file-scanner/checkstyle.xml
  cloud-functions/cf-file-scanner/checkstyle.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1071 revert line length in checkstyle
  cloud-functions/cf-dsm-file-scanner/checkstyle.xml
  cloud-functions/cf-file-scanner/checkstyle.xml
Due: none

PEPPER-1071 updating to take advantage of newly updated admin test utilities. And snuck in PR template as we discussed at a meeting earlier in the day.
  .github/pull_request_template.md
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1071 updating to take advantage of newly updated admin test utilities. And snuck in PR template as we discussed at a meeting earlier in the day.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/SetUserRoleRequest.java
Due: action="build-test", dsm, action="build-test-deploy"

Mostly updates for ReferralSourceServiceTest for new capabilities
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDataDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpReferralSourceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1071 PR feedback
  .github/pull_request_template.md
Due: none

PEPPER-1071 PR feedback
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Refactored ReferralSourceService into sync and async parts and added an interface
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AdminOperationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperation.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1093 Add email deny list support to Housekeeping so that play playwright user emails can be skipped
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandler.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandler.java
Due: action="build-test", dss, action="build-test-deploy"

Add admin operation record handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1075_admin_operation.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

refactor
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandler.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1071 re-enabled `AuthenticationTest` (#2662)
  .github/pull_request_template.md
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
Due: action="build-test", dsm, action="build-test-deploy"

Add AdminOperationRecord GET support
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/RouteUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AdminOperationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/AdminOperationRecordTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1093 (#2671)
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandler.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Set up AdminOperationService GET handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/RouteUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AdminOperationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/AdminOperationRecordTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed double check on a condition, sonar fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1123 some sonar fixes, also changed DSM to ack and log error in case of the DSMPubSubException being thrown
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMPubSubException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/InstitutionRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/RouteUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/StudyRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/route/RouteUtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Changes due to code review
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1123 some sonar fixes, also changed DSM to ack and log error in case of the DSMPubSubException being thrown
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1123 using Math.min
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1058 Added method to calculate the current status of the kit by DSM standards
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitStatusDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/nonPepperKit/NonPepperKitStatusDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperStatusKitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1058 changed string variables to be static finals
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperStatusKitService.java
Due: action="build-test", dsm, action="build-test-deploy"

Finish test
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/osteo/study.conf
Due: action="build-test", dss, action="build-test-deploy"

Set policy by realm
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/InstitutionRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
