Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, test_parallelism=15, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: .*
  dss: ((((((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: .circleci/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/config/.*)) or (any of: .circleci/.*)
  test_parallelism=15: any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*
  dsm: ((((any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*) or (any of: .circleci/.*)) or (any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*)) or (any of: pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml)) or (any of: .circleci/.*)
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

PEPPER-1397 PR comment
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/EventServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1397 removed extra line
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1397 PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1397 moved the retry variables to config (#2894)
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1397 replacing ConfigManager with DSMConfig
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

[PEPPER-1483] Try structured logging for ERROR messages (#2895)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/src/main/resources/logback.xml
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1397 replacing ConfigManager with DSMConfig, improving clarity of DSMConfig
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/ElasticExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/EventServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-397 Redux (#2896)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/ElasticExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/EventServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Try cloud LoggingAppender
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/src/main/resources/logback.xml
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

Pulling over PEPPER-1397 changes from develop
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/ElasticExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/EventServiceTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Pulling over PEPPER-1397 changes from develop (#2898)
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/ElasticExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/EventServiceTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

[PEPPER-1483] Try cloud LoggingAppender (#2897)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/src/main/resources/logback.xml
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-294 fix for bsp sample id not taking the previous ones into account
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateBSPDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 fix for checkstyle
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 fix for uploading without short id
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 fix for uploading without short id
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 added java docs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 PR comments applied
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 fixed tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 fixed tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-294 Fix for uploading kit with UUID and Fix for collaborator sample id counter (#2899)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateBSPDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 fixed bug found by PW test
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-294 fixed a small npe bug (#2900)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

fixes and changes from PR #2900 and #2899 to go in the rc
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateBSPDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] Fixes for RC (#2901)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateBSPDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-58 . lms prequal/proxy/gov users fixes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertGovUserConsentEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsProxyFixes.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-copy-events-upd.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-govuser-consent-events.conf
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-58 . lms prequal/proxy/gov users fixes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsProxyFixes.java
  pepper-apis/studybuilder-cli/studies/lms/study.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-58 . lms prequal/proxy/gov users fixes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsProxyFixes.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-58 . lms prequal/proxy/gov users fixes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsProxyFixes.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-copy-events-upd.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-govuser-consent-events.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1349 clinical order updates
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/ClinicalOrderDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1492 adding more details to log when patch id is null.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1349 clinical order updates
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/ComparisonTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1492 adding more details to log when patch id is null. (#2903)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1349 DSM clinical order page update (#2904)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/ClinicalOrderDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/ComparisonTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1347 GP phone number update
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1347_gp_phone_update.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1437 GP phone number update
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1437_gp_phone_update.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1437 GP phone number update
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1437_gp_phone_update.xml
Due: action="build-test", dsm, action="build-test-deploy"
