Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-8125: changing check for duplicate kit to check bsp_collaborator_participant_id instead of ddp_participant_id
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/DynamicFieldsConverterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/FollowUpsConverterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/TestResultConverterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfoTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8090. Resolved DDP-8091. Resolved DDP-8092. Resolved DDP-8093.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularPatientSurveyUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/singular/activities/patient-survey.conf
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/patient-survey-had-arrhythmia-new-opt.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7556 * moved the `createAllOrders` before the pubsub publishing to check for existing
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 * added the ability to always have test tissues with sample id
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Ensure needed sheetappend dependencies are installed for sheetappend
  pepper-apis/build-utils/build-support-images/Dockerfile-build
Due: action="build-test", action="build-test-deploy"

Ensure needed sheetappend dependencies are installed for sheetappend (#1737)
  pepper-apis/build-utils/build-support-images/Dockerfile-build
Due: action="build-test", action="build-test-deploy"

Resolved DDP-8149.
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Added check for gov participants.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetUserAnnouncementsRoute.java
Due: action="build-test", dss, action="build-test-deploy"

Added FILE type to traverseQuestion method.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8101.
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-confidentiality.conf
Due: action="build-test", dss, action="build-test-deploy"

HousekeepingLocal
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/HousekeepingLocal.java
Due: action="build-test", dss, action="build-test-deploy"

add summeries for dashboard
  pepper-apis/studybuilder-cli/studies/lms/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7506, DDP-7493, DDP-7520.
  pepper-apis/studybuilder-cli/studies/fon/activities/arrhythmia.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-proxy.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed the bug for participant assignment
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantConsumer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/BooleanValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/JsonArrayValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/MatrixValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/NumberValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/DynamicFieldsConverterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/FollowUpsConverterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/TestResultConverterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ActivityStatusValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/BooleanValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/DateValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/PickListValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfoTest.java
Due: action="build-test", dsm, action="build-test-deploy"

checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7364/lms-pre-qualification done
  pepper-apis/studybuilder-cli/studies/lms/activities/prequal.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed tissue changes to select a tissue that has `CollaboratorSampleId`
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

*fixed tissue changes to select a tissue that has `CollaboratorSampleId` *moved the not enrolled selection into BSPDummyKitDao.getRandomParticipantForStudy
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

*fixed tissue changes to select a tissue that has `CollaboratorSampleId` *moved the not enrolled selection into BSPDummyKitDao.getRandomParticipantForStudy
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8101. (#1741)
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-confidentiality.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Ddp 8090 8091 8092 8093 (#1738)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularPatientSurveyUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/singular/activities/patient-survey.conf
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/patient-survey-had-arrhythmia-new-opt.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Added FILE type to traverseQuestion method. (#1740)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
Due: action="build-test", dss, action="build-test-deploy"

add pop-up
  pepper-apis/d20220608-14532-a0yras/DataDonationPlatform.yaml
  pepper-apis/d20220608-14532-a0yras/DataDonationPlatform.yaml.ctmpl
  pepper-apis/d20220608-14532-a0yras/manifest.rb
  pepper-apis/d20220608-14532-a0yras/redisson-jcache-housekeeping.yaml
  pepper-apis/d20220608-14532-a0yras/redisson-jcache.yaml
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Revert "add pop-up"
  pepper-apis/d20220608-14532-a0yras/DataDonationPlatform.yaml
  pepper-apis/d20220608-14532-a0yras/DataDonationPlatform.yaml.ctmpl
  pepper-apis/d20220608-14532-a0yras/manifest.rb
  pepper-apis/d20220608-14532-a0yras/redisson-jcache-housekeeping.yaml
  pepper-apis/d20220608-14532-a0yras/redisson-jcache.yaml
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

add pop-up message
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7506, DDP-7493, DDP-7520. (#1744)
  pepper-apis/studybuilder-cli/studies/fon/activities/arrhythmia.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-proxy.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Log the identifier of the sendgrid key used
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, action="build-test-deploy"

Include the response body when there's a request failure
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/SendGridClient.java
Due: action="build-test", dss, action="build-test-deploy"

Include more detail when the version request fails
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandler.java
Due: action="build-test", dss, action="build-test-deploy"

Increase logging when SendGrid fails to fetch a template version (#1746)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/SendGridClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandler.java
Due: action="build-test", dss, action="build-test-deploy"

housekeeping local setup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, action="build-test-deploy"

housekeeping local setup
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7890-add-new-event-type.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-8120: fixing pagination error when applied saved filter is just a view
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] dsm_mercury_GP_fix (#1745)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

housekeeping local setup
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
