Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Migrate Brain legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/brain/emails/about_you_completed.html
  pepper-apis/studybuilder-cli/studies/brain/emails/blood_received.html
  pepper-apis/studybuilder-cli/studies/brain/emails/blood_sent.html
  pepper-apis/studybuilder-cli/studies/brain/emails/blood_sent_reminder.html
  pepper-apis/studybuilder-cli/studies/brain/emails/consent_completed.html
  pepper-apis/studybuilder-cli/studies/brain/emails/consent_reminder_1wk.html
  pepper-apis/studybuilder-cli/studies/brain/emails/consent_reminder_2wk.html
  pepper-apis/studybuilder-cli/studies/brain/emails/consent_reminder_3wk.html
  pepper-apis/studybuilder-cli/studies/brain/emails/exit_request.html
  pepper-apis/studybuilder-cli/studies/brain/emails/join_mailing_list.html
  pepper-apis/studybuilder-cli/studies/brain/emails/not_in_study.html
  pepper-apis/studybuilder-cli/studies/brain/emails/post_consent.html
  pepper-apis/studybuilder-cli/studies/brain/emails/release_completed.html
  pepper-apis/studybuilder-cli/studies/brain/emails/release_reminder.html
  pepper-apis/studybuilder-cli/studies/brain/emails/resend_email.html
  pepper-apis/studybuilder-cli/studies/brain/emails/saliva_received.html
  pepper-apis/studybuilder-cli/studies/brain/emails/user_not_in_study.html
  pepper-apis/studybuilder-cli/studies/brain/emails/welcome.html
  pepper-apis/studybuilder-cli/studies/brain/sendgrid_emails.conf
Due: action="build-test", dss, action="build-test-deploy"

Migrate ATCP legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/atcp/emails/registration_updated.html
  pepper-apis/studybuilder-cli/studies/atcp/emails/self_enrollment_completed.html
  pepper-apis/studybuilder-cli/studies/atcp/sendgrid-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

Migrate Angio legacy templates to dynamic
  pepper-apis/studybuilder-cli/studies/angio/emails/about_you_completed.html
  pepper-apis/studybuilder-cli/studies/angio/emails/blood_received.html
  pepper-apis/studybuilder-cli/studies/angio/emails/blood_sent.html
  pepper-apis/studybuilder-cli/studies/angio/emails/blood_sent_reminder.html
  pepper-apis/studybuilder-cli/studies/angio/emails/consent_completed.html
  pepper-apis/studybuilder-cli/studies/angio/emails/consent_reminder_1wk.html
  pepper-apis/studybuilder-cli/studies/angio/emails/consent_reminder_2wk.html
  pepper-apis/studybuilder-cli/studies/angio/emails/consent_reminder_3wk.html
  pepper-apis/studybuilder-cli/studies/angio/emails/dashboard_link.html
  pepper-apis/studybuilder-cli/studies/angio/emails/exit_request.html
  pepper-apis/studybuilder-cli/studies/angio/emails/join_mailing_list.html
  pepper-apis/studybuilder-cli/studies/angio/emails/loved_one_completed.html
  pepper-apis/studybuilder-cli/studies/angio/emails/loved_one_welcome.html
  pepper-apis/studybuilder-cli/studies/angio/emails/release_completed.html
  pepper-apis/studybuilder-cli/studies/angio/emails/release_reminder.html
  pepper-apis/studybuilder-cli/studies/angio/emails/resend_email.html
  pepper-apis/studybuilder-cli/studies/angio/emails/saliva_received.html
  pepper-apis/studybuilder-cli/studies/angio/emails/user_not_in_study.html
  pepper-apis/studybuilder-cli/studies/angio/emails/welcome.html
  pepper-apis/studybuilder-cli/studies/angio/sendgrid_emails.conf
Due: action="build-test", dss, action="build-test-deploy"

Remove support for legacy SendGrid templates
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/SendGridClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventActionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventActionSql.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/SendgridEmailEventActionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandler.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/message/NotificationMessage.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/NotificationTemplate.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/housekeeping/handler/EmailNotificationHandlerTest.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateEmailEventTemplates.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-500: adding place to filter wrong os info out
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: removed unused class
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/EmptyFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-445: changing logic of triggering DSS
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/EventTypeDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/KitInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-445_tissueReceivedEvent.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-445: changing logic of triggering DSS
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-445: removing previous logic
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: replacing the list of dsm things with a cleaned out list
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-429 created the changed PDF, and the task and patch to insert it into the tables.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LMSV2ConsentPDFUpdate.java
  pepper-apis/studybuilder-cli/studies/lms/patches/consent-version2.conf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent-v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-127: os2 filters (#2433)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: moving `ddpInstanceId` to ESObjectConstants
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: renaming method to more general name
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-715 . new DSM notification events and osteo updates
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/dsm/DsmNotificationEventType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/DsmNotificationSignal.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/PEPPER-175-dsm-notifications-events.xml
Due: action="build-test", dss, action="build-test-deploy"

Pepper-417 os self consent update (#2432)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion3.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/consent-version-3.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-500: moving `ddpInstanceId` to ESObjectConstants
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: reworking PR because of comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-500: fixed query
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper-500: export fixe (#2437)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/EmptyFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper-445: change trigger (#2436)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/EventTypeDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/KitInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-445_tissueReceivedEvent.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-506 first pass--stuff is compiling
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/VelocityUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/environment/HostUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/pubsubtask/api/PubSubTaskProcessorAbstract.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/pubsubtask/impl/updateprofile/UpdateProfileProcessor.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetDsmInstitutionRequestsRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PostMedicalProviderRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/UserCreationRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/EventService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/PicklistCreatorHelper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/I18nUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PropertiesToMapTreeUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RedisConnectionValidator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoader.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/RateLimitTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Adding Housekeeping instructions to README.md
  pepper-apis/README.md
Due: action="build-test", action="build-test-deploy"

PEPPER-715 . new DSM notification events and osteo updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertDsmEvents.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-715 . new DSM notification events and osteo updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertDsmEvents.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-716 . new DSM notification events for lms.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertDsmEvents.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-dsm-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-506 tests are mostly passing
  pepper-apis/README.md
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/VelocityUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PropertiesToMapTreeUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FileUploadDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/study/PasswordPolicyTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/OLCServiceTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-506 upgrading testcontainers due to stability issues when running locally
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Adding the name of the new patch to the patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

changing the patch file name to consent-version2-pdf.conf
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LMSV2ConsentPDFUpdate.java
  pepper-apis/studybuilder-cli/studies/lms/patches/consent-version2-pdf.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-445: fixed query
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-445: fixed query (#2441)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper-175 os2 dsm event for germline consent addendum (#2439)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/dsm/DsmNotificationEventType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/DsmNotificationSignal.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/PEPPER-175-dsm-notifications-events.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertDsmEvents.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-138: fixing unrelated NPE
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-138: removed unused logic
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

playing around with ideas
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-416: filtering also for consent v3
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-506 PR feedback, cleaning up duplicated logback declarations in poms.
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dss-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-416: filtering also for consent v3 (#2443)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-716 . new DSM notification events for lms.
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
