Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7641 | apply changes based on suggestions
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/institution/DDPInstitutionDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantRecordDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/NewOsteoParticipant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalParticipantMigratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoParticipantMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-adult.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixes a typo
  pepper-apis/docs/specification/src/components/responses.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Composite child visibility API proposal [DDP-8154] (#1725)
  pepper-apis/docs/specification/src/components/responses.yml
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-8091 make medical record readonly
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-readonly-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixes
  pepper-apis/studybuilder-cli/studies/fon/activities/exercise-test.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-8024. Update FON forms to use new features (#1785)
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-cath.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/exercise-test.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-adult.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-pediatric.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-proxy.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8193. Cardiac CT (migration to tabular)
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

Some blocks were removed
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

w-i-p
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/fon/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Refactored to remove threading and double-calling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantConsumer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantProducer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/parent-pom.xml
Due: action="build-test", dsm, action="build-test-deploy"

w-i-p
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

enrollment tabular
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8163 fix link class, remove extra paragraph
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8203 update singular maxfilesize
  pepper-apis/studybuilder-cli/studies/singular/activities/medical-record-file-upload.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8091 fix medical record patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
  pepper-apis/studybuilder-cli/studies/singular/activities/medical-record-release.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8091 fix announcement preconditions
  pepper-apis/studybuilder-cli/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8090 capitalize
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-7362] fix texts and numeration
  pepper-apis/studybuilder-cli/studies/lms/activities/about-your-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | add more unit tests, add a few more useful logs for DB/ES operations, refactor code a little bit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/NewOsteoParticipant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalCohortTagsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalParticipantMigratorFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8090 fix checkstyle
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8090 fix inmemory maxFileSize
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

Migration to composite. First two rows done
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

Migration to composite. Lines 3 & 4
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

Migration to composite. Line 5
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

Migration to composite. Line 6
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

Migration to composite. Line 7
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

Migration to composite. Line 8
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8188 | minor change of FilterFactory
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/tag/cohort/BulkCreateCohortTagRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | apply checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantRecordDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoCohortTagsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ParticipantMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/BaseStudyPreFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/StudyPreFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoPreFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/OldOsteoPreFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/DataCopyingException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalCohortTagsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalMedicalRecordsRetrieverTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalParticipantMigratorFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/StudyPreFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoStudyPreFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/OldOsteoPreFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdateTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | remove unused method
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

enrollment : medical complications tabular
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | fix imports in Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
Due: action="build-test", dsm, action="build-test-deploy"

Ddp 8193 cardiac ct (#1801)
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

tabular updates
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
Due: action="build-test", dss, action="build-test-deploy"

switching off gbf job
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

switching off gbf job
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/QuartzExternalShipperTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
