Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

tabular updates
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
Due: action="build-test", dss, action="build-test-deploy"

Adding collectionDate
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryEligibleSamplesRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7556_mercury_sequencing_roles.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8126 Build support updates
  pepper-apis/Dockerfile-build
  pepper-apis/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
Due: action="build-test", action="build-test-deploy"

Common changes
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditActionType.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditEntityType.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditTrailFilter.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditTrailService.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/common/Limitation.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dao/AuditTrailDao.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/AuditTrailDto.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Changes to dss backend database
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7248.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7709-add-boolean-render-mode.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7713.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7890-add-new-event-type.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7709-add-boolean-render-mode-type.xml
Due: action="build-test", dss, action="build-test-deploy"

Changes to pepper back-end API spec
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/components/responses.yml
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/studies.audit.yml
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Changes to config templates
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/ddp.conf.ctmpl
  pepper-apis/config/housekeeping_startup.sh.ctmpl
  pepper-apis/config/local-java-props.txt.ctmpl
  pepper-apis/config/redisson-jcache-housekeeping.yaml.ctmpl
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/config/sqlproxy.env.ctmpl
  pepper-apis/config/startup.sh.ctmpl
  pepper-apis/config/tcell_agent.config.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", action="build-test-deploy"

Moved files
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/MatrixQuestionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/MatrixQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/MatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
Due: action="build-test", action="build-test-deploy"

Build apps changes. Use newer Docker image for templates
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Update to lombok config
  pepper-apis/lombok.config
Due: action="build-test", action="build-test-deploy"

gson version bump
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

gson version bump
  cloud-functions/cf-atcp-contact/pom.xml
  cloud-functions/cf-circadia-sleeplog-connector/pom.xml
Due: none

Code updates to studybuilder-cli
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderException.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
Due: action="build-test", dss, action="build-test-deploy"

Rename file
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/AddToSingleScriptBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

Update docker images in CircleCi
  .circleci/main-config.yml
Due: none

Rename file
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8012.xml
Due: action="build-test", dss, action="build-test-deploy"

Pick up column name change
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8012.xml
Due: action="build-test", dss, action="build-test-deploy"

tabular updates
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8209. Handle tabular block visibility during patch
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormActivityDef.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8209. Handle tabular block visibility during patch (#1805)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormActivityDef.java
Due: action="build-test", dss, action="build-test-deploy"

set block visibility
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
Due: action="build-test", dss, action="build-test-deploy"

Fon tabular conf (#1800)
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/fon/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

conf fix
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
Due: action="build-test", dss, action="build-test-deploy"

conf fix (#1806)
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8203 fix sqlHelper
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
Due: action="build-test", dss, action="build-test-deploy"

remove timing for mail
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

changed question race detail label temlate
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-race.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed workflow
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

dashboard bug fixes
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/thank-you-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

removed commented fields
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

bugfix | remove hardcoded db name from script file
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_apply_OS_tag_to_old_osteo_pts.xml
Due: action="build-test", dsm, action="build-test-deploy"

fix | remove db name
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_apply_OS_tag_to_old_osteo_pts.xml
Due: action="build-test", dsm, action="build-test-deploy"

fix | remove db name (#1811)
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_apply_OS_tag_to_old_osteo_pts.xml
Due: action="build-test", dsm, action="build-test-deploy"

fixed and updated some emails
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

fix mails
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medial-release-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8196 add activity & section categorization feature during StudyBuilder
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ActivityCategoryDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ActivityGroupDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/ActivityCategoryDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityCategoryDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormGroupDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormSectionDef.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8196-activity-groups.xml
  pepper-apis/studybuilder-cli/studies/snippets/activity-general-form.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8196 fix categorization, include into ES export
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ActivityCategoryDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ActivityGroupDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/ActivityCategoryDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/ActivityFormGroupDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityCategoryDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormGroupDef.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8196-activity-groups.xml
Due: action="build-test", dss, action="build-test-deploy"
