Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

fixed pediatric consent addendum typo (#2097)
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8538] fix lms family history question text
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8534] fix the ordering for consent-addendum (#2098)
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-documentation.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8537] removed extra quotation mark
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

pediatric assent form text updated
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8537] removed extra quotation mark (#2100)
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8528] update texts in config and pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent.pdf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-benefits.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-benefits.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-involvement.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-publishing.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8528] update texts in config and pdf (#2102)
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent.pdf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section1-benefits.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-benefits.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-involvement.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-section2-publishing.conf
Due: action="build-test", dss, action="build-test-deploy"

pediatric assent form text updated (#2101)
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8532] edit texts and pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent_parental.pdf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-risks.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8532] pediatric consent form text updates (#2103)
  pepper-apis/studybuilder-cli/studies/lms/pdfs/consent_parental.pdf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section2-risks.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8529 Add period
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8529 (#2104)
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

updated pediatric consent form text
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8538] fix lms family history question text (#2099)
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Ddp 8531 os pediatric consent form text updates (#2105)
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8248: Send file uploaded notification
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/enums/DSMTaskType.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/enums/PubSubAttributes.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Test fix
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/event/FileScanResultReceiverTest.java
Due: action="build-test", dss, action="build-test-deploy"

Test fix
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/event/FileScanResultReceiverTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Message was extended with user's name & file's name
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/enums/PubSubAttributes.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/user/UserProfile.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/event/FileScanResultReceiverTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8514 remove sign
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7855 | refactoring, add check for non activity query builders
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Address.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Files.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/BaseProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryStrategyFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoStudyPreFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8514 (#2107)
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed typo error in somatic consent addendum
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-pediatric-documentation.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7855 | add more tests to cover as much cases as possible, change code to gather if user choose several filters
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/SingleQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed typo error in somatic consent addendum (#2108)
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-pediatric-documentation.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7588 | do more refactoring and clean up of the code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseActivitiesStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/CompositeNestedQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QuestionsAnswersActivityStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

Initial PubSub Emulator work for running locally
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Adds a local docker support environment
  pepper-apis/local-support-environment/.gitignore
  pepper-apis/local-support-environment/conf/mysql/initdb.d/00-local-dss.sql
  pepper-apis/local-support-environment/conf/mysql/initdb.d/01-local-dsm.sql
  pepper-apis/local-support-environment/conf/mysql/initdb.d/02-local-housekeeping.sql
  pepper-apis/local-support-environment/conf/mysql/my.cnf
  pepper-apis/local-support-environment/conf/redis/redis.conf
  pepper-apis/local-support-environment/docker-compose.yml
Due: action="build-test", action="build-test-deploy"

Adds example run configurations for VSCode & IDEA
  pepper-apis/docs/ide-run-configurations.md
Due: action="build-test", api-docs, action="build-test-deploy"

Allow for a null/blank password or username
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/ElasticsearchServiceUtil.java
Due: action="build-test", dss, action="build-test-deploy"

Pub/Sub changes for emulator use
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Adds an example configuration for DSM
  pepper-apis/dsm-server/src/resources/config/application.conf.default
Due: action="build-test", dsm, action="build-test-deploy"

Link to ancillary docs in main readme
  pepper-apis/README.md
Due: action="build-test", action="build-test-deploy"

Should be the topic name
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Update the default config paths
  pepper-apis/docs/ide-run-configurations.md
Due: action="build-test", api-docs, action="build-test-deploy"

Configuration fixes
  pepper-apis/dsm-server/src/resources/config/application.conf.default
Due: action="build-test", dsm, action="build-test-deploy"

Enable Pub/Sub Emulator use for all Subscribers
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/PubSubResultMessageSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

Logging doesn't need to be as verbose out of the gate
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Usage clarification
  pepper-apis/dsm-server/src/resources/config/application.conf.default
Due: action="build-test", dsm, action="build-test-deploy"
