Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DSS & DSM target ES 6.8.x
  pepper-apis/local-support-environment/docker-compose.yml
Due: action="build-test", action="build-test-deploy"

Bump up to the latest patch release of the ES client
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-8423 . notes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
Due: action="build-test", dss, action="build-test-deploy"

Revert "[DDP-8502] [DDP-8509] fix medical record release suspension triggers (#2089)"
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8502] [DDP-8509] fix medical record release suspension triggers (#2116)
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8119 | rename instance field
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/stool/upload/StoolUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

Added recipients
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8248.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8119 | fix tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/stoolupload/StoolUploadDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/stoolupload/StoolUploadDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/stoolupload/StoolUploadDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/stool/TSVStoolUploadRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/stool/upload/StoolUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/TSVRecordsParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/stool/StoolUploadHeadersProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/stool/TSVStoolUploadRecordsParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8119 | refactor code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/stool/TSVStoolUploadRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/stool/upload/StoolUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/StoolUploadRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/TSVRecordsParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/stool/StoolUploadHeadersProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/stool/TSVStoolUploadRecordsParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | Onc History Detail (#2082)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8549] fix medical record visibility after ageup
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8119 | return success message
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantSurveyStatusResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/stool/upload/StoolUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/StoolUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8549] fix medical record visibility after ageup (#2117)
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8192] revision pi updates brugada
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/BrugadaPIUpdates.java
  pepper-apis/studybuilder-cli/studies/brugada/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/brugada/patches/text-revisions.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8192] fix
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8119 | refine error handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/RegexSeparatorDictionary.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/stool/upload/StoolUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8119 | create RegexSeparatorDictionary which provides the definition for regex separators
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/RegexSeparatorDictionary.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP parse refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/UnparsedDeserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/UnparsedESParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/Filterable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

export options fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CollatedQuestionValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing composite repeat questions
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

adding basic parser config test
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DSP-7581 export fixes for AT (#2087)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TsvParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/AmbulationValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/BooleanValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CohortTagNameProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CollatedQuestionValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

work-in-progress data dictionary
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadDataDictionaryRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

handling file uploads in export tool
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

adding data dictionary to participant list export
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TsvParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CollatedQuestionValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadDataDictionaryRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DSS: Adds new Pub/Sub keys & documentation
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Refactor of PubSubConnectionManager
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubConnectionManager.java
Due: action="build-test", dss, action="build-test-deploy"

Test cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/publish/pubsub/PubSubPublisherInitializer.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/event/publish/pubsub/TaskForDsmPubSubPublisherStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Publicly expose if the emulator is in use
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubConnectionManager.java
Due: action="build-test", dss, action="build-test-deploy"

Keep the transaction window as small as possible
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, action="build-test-deploy"

refactoring ES parsing logic
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CollatedQuestionValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/UnparsedDeserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/UnparsedESParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/EmptyFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/BaseFilterTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/SavedFiltersTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participant/GetParticipantRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | add data alias for non activity objects
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryStrategyFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/OperatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8499] add update of templates in place
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrugadaAddKitConfigurationAndUpdateEnrolledEvent.java
  pepper-apis/studybuilder-cli/studies/brugada/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

revert line endings
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrugadaAddKitConfigurationAndUpdateEnrolledEvent.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8119 | write unit tests for RegexSeparatorDictionary, return strings instead of spark response objects
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/RegexSeparatorDictionary.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/stool/upload/StoolUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/RegexSeparatorDictionaryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
