Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

commented out ObjectMapperSingleton
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/proxy/jackson/ObjectMapperSingleton.java
Due: action="build-test", dsm, action="build-test-deploy"

Add an always succeed job
  .circleci/main-config.yml
Due: none

Add executor for do-nothing job
  .circleci/main-config.yml
Due: none

changed TransactionWrapper.init
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/EventQueueToolTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/KitRequestMigrationToolTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/MedicalRecordMigrationToolTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TissueDataMigrationToolTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/careevolve/Covid19OrderRegistrarTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/CreateLabelTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/EventQueueTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/KitRequestMigrationTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/MedicalRecordMigrationTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/ParticipantMedicalRecordTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/TissueDataMigrationTool.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/UpdateReceivedDateTool.java
Due: action="build-test", dsm, action="build-test-deploy"

Pretend change to a study configuration
  study-builder/studies/study-example.conf
Due: none

Make sure ANY change will trigger build-test
  .circleci/config.yml
Due: none

Remove do-nothing-job. Turns out not needed
  .circleci/main-config.yml
Due: none

Undo play conf change
  study-builder/studies/study-example.conf
Due: none

Add a couple of changes
  .circleci/main-config.yml
Due: none

Undo whitespac change
  .circleci/main-config.yml
Due: none

DDP-7569. Lombok. Part I. DTO classes #1
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/dsm/DsmKitRequest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/dsm/DsmStudyParticipant.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/housekeeping/BackupJobDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitConfigurationDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitCountryRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitPexRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/pdf/MailingAddressTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/pdf/PdfTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/pdf/PhysicianInstitutionTemplateDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/AgeRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/DateRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/DecimalRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/IntRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/LengthRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/NumOptionsSelectedRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RegexRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RuleDto.java
  pepper-apis/lombok.config
Due: action="build-test", dss, action="build-test-deploy"

DDP-7569. Lombok. Part I. DTO classes #1.1
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/KitConfigurationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitConfigurationDto.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/DsmKitRequestDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7306. Decimal support. Fix
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/ActivityInstanceSql.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

added appengine folder
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

added intelliJ folder
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

added dsm config
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

DDP-7306. Decimal support. Fix (#1170)
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/ActivityInstanceSql.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

DDP-7306. Translations fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrainRename.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  study-builder/studies/basil/numeric-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

fixing tests: changing JSONObject to JsonObject, fixing reset for transactionwrapper and emailclient.configure
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/KitStatusChangeRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/NotificationJobTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ParticipantMedicalRecordToolTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/log/SlackAppenderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7306. Translations fix (#1171)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrainRename.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  study-builder/studies/basil/numeric-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7306. API description update
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7306. API description update (#1172)
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7306. Question extended with scale
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDecimalQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/DecimalQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DecimalQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/DecimalQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRuleTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7306-decimal-question-scale.xml
  study-builder/studies/basil/numeric-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

Fix GitHub status check (#1168)
  .circleci/config.yml
  .circleci/main-config.yml
Due: none

DDP-7306. Question extended with scale (type fix)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDecimalQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/DecimalQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DecimalQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/DecimalQuestion.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRuleTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7568/Update-Spanish-translation-file-for-CMI-SOW2
  study-builder/studies/pancan/i18n/es.conf
Due: none

DDP-7566/Site-Edits-for-CMI
  study-builder/studies/pancan/family-history/snippets/family-history-block-question-sex.conf
Due: none

DDP-7306. Decimal question extended with scale (#1173)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDecimalQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/DecimalQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DecimalQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/DecimalQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRuleTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7306-decimal-question-scale.xml
  study-builder/studies/basil/numeric-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

moving LiquibaseUtil to ddp-common and all related classes
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ErrorMessages.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dao/JdbiAuth0Tenant.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/Auth0TenantDto.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/security/AesUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/security/EncryptionKey.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/MiscUtil.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/util/Utility.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dss-core/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7173 . Handle additional domains/tenants
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiClientUmbrellaStudy.java
Due: action="build-test", dss, action="build-test-deploy"

changing import class to static import of method
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Handle optional clientDomain in clients
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  study-builder/studies/study-example.conf
Due: none

DDP-7173 . schema cleanup
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7173-add-client-study-uk.xml
Due: action="build-test", dss, action="build-test-deploy"

add matrix question field in api response doc
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Lombok version is upgraded to the latest
  pepper-apis/dsm-core/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Comments restored
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/dsm/DsmKitRequest.java
Due: action="build-test", dss, action="build-test-deploy"

Comment restored
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/dsm/DsmStudyParticipant.java
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
