Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done package-lock.json deleted
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
Due: none

started updating existing emails
  study-builder/studies/osteo/emails/parental_about_child_reminder.html
  study-builder/studies/osteo/emails/parental_consent_1wk_reminder.html
  study-builder/studies/osteo/emails/parental_consent_completed.html
  study-builder/studies/osteo/emails/parental_release_completed.html
  study-builder/studies/osteo/emails/parental_release_reminder.html
  study-builder/studies/osteo/emails/parental_saliva_received.html
  study-builder/studies/osteo/emails/self_about_you_reminder.html
  study-builder/studies/osteo/emails/self_consent_1wk_reminder.html
  study-builder/studies/osteo/emails/self_consent_completed.html
  study-builder/studies/osteo/emails/self_release_completed.html
  study-builder/studies/osteo/emails/self_release_reminder.html
  study-builder/studies/osteo/emails/self_saliva_received.html
Due: none

DDP-7809-os-updates-to-pediatric-consent done package-lock.json deleted
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
Due: none

DDP-7809-os-updates-to-pediatric-consent done package-lock.json deleted
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

DDP-7809-os-updates-to-pediatric-consent done package-lock.json deleted
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done package-lock.json deleted
  package-lock.json
Due: none

updated dashboard for adult workflow
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoDashboardUpdates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/patches/adult-about-you-activity-dashboard-update.conf
  study-builder/studies/osteo/patches/adult-about-you-dashboard-update.conf
  study-builder/studies/osteo/patches/adult-consent-dashboard-update.conf
  study-builder/studies/osteo/patches/adult-mr-dashboard-update.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed bug related to tge duplicate tasks.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoFamilyHistoryReturnToDashboard.java
Due: action="build-test", dss, action="build-test-deploy"

Added @Slf4j
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoFamilyHistoryReturnToDashboard.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7857 | add custom IoReactorConfig in order to keep TCP connection alive
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7857 | keep TCP connection alive in case if socket timeout exception happens
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved 7817/7818/7819/7820/7821
  study-builder/studies/singular/activities/about-healthy.conf
  study-builder/studies/singular/activities/about-patient.conf
  study-builder/studies/singular/activities/add-participant-dependent.conf
  study-builder/studies/singular/activities/add-participant-self.conf
  study-builder/studies/singular/activities/consent-dependent.conf
  study-builder/studies/singular/activities/consent-parental.conf
  study-builder/studies/singular/activities/consent-self.conf
  study-builder/studies/singular/activities/medical-record-release.conf
  study-builder/studies/singular/activities/patient-survey.conf
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/study-activities.conf
  study-builder/studies/singular/study-events.conf
  study-builder/studies/singular/study-workflows.conf
  study-builder/studies/singular/substitutions.conf
Due: none

update
  study-builder/studies/osteo/emails/reconsent_child_contact.html
  study-builder/studies/osteo/emails/reconsent_next_steps_1wk_reminder.html
  study-builder/studies/osteo/emails/reconsent_thank_you.html
Due: none

Changed disable and insert composite child question.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoLovedOneV2.java
  study-builder/studies/osteo/patches/lovedone-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

Added task to OsteoV2Updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

initial changes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/WorkflowDao.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionWorkflowUpdate.java
  study-builder/studies/prion/medical.conf
  study-builder/studies/prion/patches/workflow-update.conf
Due: action="build-test", dss, action="build-test-deploy"

change line separators
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/WorkflowDao.java
  study-builder/studies/prion/medical.conf
Due: action="build-test", dss, action="build-test-deploy"

improvement/migrator | send a single request in order to get all guids in one shot instead of having to work with legacy alt pid-s
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-introduction.conf
Due: none

added new email events
  study-builder/studies/osteo/emails/self_somatic_addendum_consent_complete.html
  study-builder/studies/osteo/emails/self_somatic_germline_addendum.html
  study-builder/studies/osteo/patches/osteo-new-activities.conf
  study-builder/studies/osteo/sendgrid_emails.conf
Due: none

Changed study structure.
  study-builder/studies/prion/activities/consent.conf
  study-builder/studies/prion/activities/medical.conf
  study-builder/studies/prion/activities/request.conf
  study-builder/studies/prion/sendgrid_emails.conf
  study-builder/studies/prion/study-activities.conf
  study-builder/studies/prion/study-emails.conf
  study-builder/studies/prion/study-events.conf
  study-builder/studies/prion/study-workflows.conf
  study-builder/studies/prion/study.conf
Due: none

Improvement | finish improve of replacing legacy alt pids by guids
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

reduce elastic search calls if participant data is mapped by legacy alt pid
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/patches/about-you-child-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7856 fix participant list export memory issue
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ExcelUtils.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/Filterable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7809-os-updates-to-pediatric-consent done
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7859: added personalization to mail
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7859: added missing personalization to mail
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from https://github.com/broadinstitute/ddp-study-server/pull/1478
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

hot fix for SQL Exception
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

hot fix for test result bug
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
Due: action="build-test", dsm, action="build-test-deploy"

hot fix for test result bug (#1485)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
Due: action="build-test", dsm, action="build-test-deploy"

moved DashboardRoute from previous release back
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DashboardRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

ClamAV Cloud Function refactor [DDP-7621] (#1237)
  cloud-functions/cf-file-scanner/.gitignore
  cloud-functions/cf-file-scanner/Dockerfile
  cloud-functions/cf-file-scanner/README.md
  cloud-functions/cf-file-scanner/build-clamav-inside-docker.sh
  cloud-functions/cf-file-scanner/build-clamav.sh
  cloud-functions/cf-file-scanner/checkstyle.xml
  cloud-functions/cf-file-scanner/config/example.env
  cloud-functions/cf-file-scanner/deploy.sh
  cloud-functions/cf-file-scanner/freshclam.conf
  cloud-functions/cf-file-scanner/pom.xml
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
  cloud-functions/cf-file-scanner/src/main/resources/container/clamd.conf
  cloud-functions/cf-file-scanner/src/main/resources/container/entrypoint.sh
  cloud-functions/cf-file-scanner/src/main/resources/container/freshclam.conf
Due: none

DDP-7857 | add custom IoReactorConfig in order to keep TCP connection alive (#1473)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

updated child dashboard
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoDashboardUpdates.java
  study-builder/studies/osteo/about-you-activity-content.conf
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/patches/adult-about-you-activity-dashboard-update.conf
  study-builder/studies/osteo/patches/adult-about-you-dashboard-update.conf
  study-builder/studies/osteo/patches/adult-consent-dashboard-update.conf
  study-builder/studies/osteo/patches/adult-mr-dashboard-update.conf
  study-builder/studies/osteo/patches/child-about-you-dashboard-update.conf
  study-builder/studies/osteo/patches/child-consent-dashboard-update.conf
  study-builder/studies/osteo/patches/child-mr-dashboard-update.conf
  study-builder/studies/osteo/patches/mrf-v2.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7837 | add two missing fields in field settings table in order to make sure that their mappings are exported properly, set deleted to 1
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
