Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

PEPPER-235 .
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/CreateKitEventAction.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-235 .
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/CreateKitEventAction.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-235 .
  pepper-apis/studybuilder-cli/studies/study-example.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-235 .
  pepper-apis/dss-database/src/main/resources/db-changes/seed/housekeeping/PEPPER-235-add-create-kit-event-type.xml
Due: action="build-test", dss, action="build-test-deploy"

Pepper-235 create kit request event (#2413)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventActionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventActionSql.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/CreateKitDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/EventConfigurationDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/message/CreateKitMessage.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/EventActionType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/dsm/DsmNotificationEventType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/CreateKitEventAction.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/event/EventConfiguration.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/KitCheckService.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/EventDao.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/event/NotificationEventActionTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/event/UpdateCustomWorkflowEventActionTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/PEPPER-235-create-kit-event-action.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/PEPPER-235-add-kit-creation.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/PEPPER-235-add-saliva-sent-dsm-event-type.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/housekeeping/PEPPER-235-add-create-kit-event-type.xml
  pepper-apis/dss-database/src/main/resources/housekeeping-changelog-master.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertKitCreateEvent.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertKitCreateEvent.java
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-blood-kit-event.conf
  pepper-apis/studybuilder-cli/studies/lms/study.conf
  pepper-apis/studybuilder-cli/studies/osteo/patch-log.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-blood-kit-event.conf
  pepper-apis/studybuilder-cli/studies/study-example.conf
Due: action="build-test", dss, action="build-test-deploy"

Revert "PEPPER-176: Create addendum activity once blood/saliva kit marked as received (#2411)"
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertEvents.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Revert "PEPPER-175: Create addendum activity once blood/saliva kit marked as received (#2407)"
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventDao.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV3Updates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-425: Revert PEPPER-175 & PEPPER-176 (#2416)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/EventDao.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV3Updates.java
  pepper-apis/studybuilder-cli/studies/lms/patches/lms-new-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-235 Changes in DSM to trigger the SALIVA_SENT for PE-CGS studies
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP: Option insertion patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanAddAdditionalDiagnosis.java
Due: action="build-test", dss, action="build-test-deploy"

WIP: option patch config (needs ES translations)
  pepper-apis/studybuilder-cli/studies/pancan/patches/add-additional-diagnosis.conf
Due: action="build-test", dss, action="build-test-deploy"

Minor cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanAddAdditionalDiagnosis.java
Due: action="build-test", dss, action="build-test-deploy"

Minor code cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanAddAdditionalDiagnosis.java
Due: action="build-test", dss, action="build-test-deploy"

Print the description when starting the task
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanAddAdditionalDiagnosis.java
Due: action="build-test", dss, action="build-test-deploy"

Expose picklist option field & method to the public
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

Adds the final implementation of the patch (and config)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanAddAdditionalDiagnosis.java
  pepper-apis/studybuilder-cli/studies/pancan/patches/add-additional-diagnosis.conf
Due: action="build-test", dss, action="build-test-deploy"

Remove unnecessary visibility specifiers
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

Update missing accents in the translations
  pepper-apis/studybuilder-cli/studies/pancan/patches/add-additional-diagnosis.conf
Due: action="build-test", dss, action="build-test-deploy"

Handle changes related to PropertyManager
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

itest wip
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PdfLicenseUtil.java
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Fix deprecations
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Adds a class for managing defined system properties
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/PropertyManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

We are using iText 7.1, so the 3.x series is needed here.
  pepper-apis/parent-pom.xml
Due: action="build-test", action="build-test-deploy"

Simplify the implementation
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Redisson updates
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ApplicationProperty.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Application property cleanup
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ApplicationProperty.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/PropertyManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Support loading the iText license from Google Secrets
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PdfLicenseUtil.java
Due: action="build-test", dss, action="build-test-deploy"

Refactor to use Cleaner
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

[PEPPER-36] Adds additional diagnoses to the Pancan cancer lists (#2415)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanAddAdditionalDiagnosis.java
  pepper-apis/studybuilder-cli/studies/pancan/patches/add-additional-diagnosis.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-232 added more logging to know when a PDF is of size 0
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadPDFRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-232 removed unnecessary code, also found a bug with fileName being empty (already in dev) and fixed it
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-235 Changes in DSM to trigger the SALIVA_SENT for PE-CGS studies (#2417)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-232 PDF Fix (#2414)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadPDFRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing the NPE in rc
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] fixing the rc (#2418)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-211: draft
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/AdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/QueryBuilderStrategyFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-445: tissue receive trigger
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitDDPNotification.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/BSPKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/stool/upload/StoolUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-445: changing column
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-445_eventQueue.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-211: fixing dashboard calculation logic to work with time range removing unused stuff
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/AdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-211: unit tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"
