Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-1059 fixed the logging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 fixed the try-catch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 changed the `deleteOncHistoryDirectlyFromDB` to call Dao
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 added script to hard delete previously soft-deleted sm ids, tissues, and onc histories.
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-1205_CleanupDeletedOncHistoryEtc.sql
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1190 . Osteo2 user enrollment event updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertUserEnrollmentEvents.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-1171 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1190 . Osteo2 user enrollment event updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertUserEnrollmentEvents.java
Due: action="build-test", dss, action="build-test-deploy"

Pepper-1190 os2 enrollment event updates (#2742)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoInsertUserEnrollmentEvents.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-1171 changing ScanError to ScanResult
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitInitialScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitSentUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitTrackingScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/NullObjectDecorator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/ScanResult.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitInitialScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/KitTrackingScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/RGPKitFinalScanRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/ReceivedKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/kit/SentKitRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/KitStatusChangeRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoImplTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitScanResultTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-1205 added deleted_by and deleted_date values
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-1205_CleanupDeletedOncHistoryEtc.sql
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 checkstyle fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 checkstyle fixes (may introduce some noise into PR )
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/ElasticSearchExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1163 . update develop
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/EmailBlasterCLI.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1205 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueDao.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LookupRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1205 added script to hard delete previously soft-deleted onc histories, etc. (#2741)
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-1205_CleanupDeletedOncHistoryEtc.sql
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 one more test, PR comments applied and added retries for clearing scroll
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1163 . update develop
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/EmailBlasterCLI.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1059 PR comments and a javadoc comment added
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NullAdditionalParticipantMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 Changing the getAllPartici
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 WIP
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1059 changed the scope of the `participantsInTheStudy` to be in the method and added one more test
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/EmptyExportTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 Use VPC egress instead of docker (#2746)
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 WIP
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1163 . update develop
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUser.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1059 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1059 (#2737)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NullAdditionalParticipantMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/DeletedDataExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/ElasticSearchExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/elasticexport/EmptyExportTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/OncHistoryTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 WIP fake commit to trigger circle
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1163 . Added test for Auth0Util email lookup
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-655 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1171 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-655 replacing two copies of RSAKeyProviderFactory with a single version, along with single versions of auth0 libs in parent pom.
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/security/RSAKeyProviderFactory.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
  pepper-apis/dss-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-655 replacing two copies of RSAKeyProviderFactory with a single version, along with single versions of auth0 libs in parent pom.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/RSAKeyProviderFactory.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1163 . cleanup/refactor
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/EmailBlasterCLI.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1209 fixing bug introduced when replacing strings with ints in various queries.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
