Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-922. OS2 spanish translations
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-798 PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1057 phone number added
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1057 removed carrier line, it should be added by hand
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1057 changed group name to juniper-ourHealth
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DbAndElasticBaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DbTxnBaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticContainerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestContainer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/indexSettings.json
  pepper-apis/dsm-core/src/test/resources/elastic/lmsMappings.json
  pepper-apis/dsm-core/src/test/resources/onchistory/patch.json
Due: action="build-test", dsm, action="build-test-deploy"

Log DataSyncJob exceptions and stop throwing JobExecutionException
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1057 adding missing instance_role
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1057 adding missing kit_type
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1057 fixing the kit type insertion and tests
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1057 Our Health Setup (#2678)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Remove stack trace. log.error will give us one anyway
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
Due: action="build-test", dss, action="build-test-deploy"

Log DataSyncJob exceptions and stop throwing JobExecutionException (#2680)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
Due: action="build-test", dss, action="build-test-deploy"

Convert more erroneous longs to ints
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/snippets/confidence-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/highest-level-school.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/problem-understanding-written.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-assigned-sex.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-gender-identity.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/question-read-hospital-materials.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/speak-language.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
Due: action="build-test", dss, action="build-test-deploy"

Add more logging
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/StudyDataExportJob.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/former-proxy-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/loved-one-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-784 centralized sendgrid config so that DSM can use the egress proxy as part of switching to the production sendgrid account.
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/SendGridFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/NotificationJobTest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/SendGridMailUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1123 applying PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1123 applying PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
Due: action="build-test", dsm, action="build-test-deploy"

Add more logging (#2682)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/StudyDataExportJob.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1079 eating disorders setup
  pepper-apis/dsm-core/src/main/resources/liquibase/neale-lab/PEPPER-1079_neale_lab_eating_disorders_setup.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Convert more erroneous longs to ints (#2681)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1057 added extra group role
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1079 Neale lab's Eating Disorders study setup (#2684)
  pepper-apis/dsm-core/src/main/resources/liquibase/neale-lab/PEPPER-1079_neale_lab_eating_disorders_setup.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1057 added extra group role (#2685)
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1123 PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 PR feedback
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailSender.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
  pepper-apis/dss-core/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1123 PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-1123 Mercury error fix (#2674)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-self.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/parental-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/self-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/child-contact.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/loved-one.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-self.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/parental-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922. OS2 spanish translations w-i-p
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
