Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7465 | extract constants in CustomSortBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/CustomSortBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465_sorting (#1240)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/AdditionalValueTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/CustomSortBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/JsonArrayTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/RegistrationSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/SortBy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Type.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/RegistrationSortTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/SortTest.java
Due: action="build-test", dsm, action="build-test-deploy"

minor change to log study name and its index
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed config
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/study-activities.conf
Due: none

Schema & test fixed
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/lang/EquationParserTest.java
Due: action="build-test", dss, api-docs, action="build-test-deploy"

Patch response extended with equations
  pepper-apis/docs/specification/src/components/responses.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7611/Update-email-text
  study-builder/studies/singular/i18n/en.json
Due: none

DDP7185 . Add REMOTE_AUTOCOMPLETE question
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/picklist-autocomplete-activity.conf
  study-builder/studies/basil/snippets/question-rx-list.conf
  study-builder/studies/basil/subs.conf
  study-builder/studies/snippets/picklist-question-single-remote-autocomplete.conf
Due: none

changed method to get field settings related to study instead of all of the field settings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

add more log information for migration
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7623: add stool kit help text
  study-builder/studies/pancan/stool-kit.conf
Due: none

implement adult consent full form patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoParentConsent.java
  study-builder/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

Added new signer to support bsp
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Possible NPE fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/Question.java
Due: action="build-test", dss, action="build-test-deploy"

created new test method to use the BSP signer
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/SecurityHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed bug
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed naming
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/SecurityHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed missed code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed the GPReceivedKit code and BSPKitDao, as well as naming in the statics/DBConstants
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/TestBostonUPSTrackingJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

renamed the method to match what it does
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7636: PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailClient.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/NotificationJobTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7636: stylecheck fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/CustomSortBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/RegistrationSort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/SortBy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Type.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/RegistrationSortTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7636: re-did checkstyle fixes for Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
Due: action="build-test", dsm, action="build-test-deploy"

addendum pediatric fix
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
Due: none

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/PicklistQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

refactor
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetOptionsForActivityInstanceQuestionRoute.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetOptionsForActivityInstanceQuestionRoute.java
Due: action="build-test", dss, action="build-test-deploy"

add germline consent OS
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoGermlineConsent.java
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/patches/addendum-new-activity.conf
  study-builder/studies/osteo/study-activities.conf
  study-builder/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

update consent patch, minor fixes
  study-builder/studies/osteo/patches/self-consent.conf
Due: none

consent form patch wip
  study-builder/studies/osteo/patches/self-consent.conf
Due: none

updated family history diet and life style pancan texts
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
Due: none

implement parent consent patch osteo
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoParentConsent.java
  study-builder/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StringSuggestionTypeaheadComparator.java
Due: action="build-test", dss, action="build-test-deploy"

added patch(some bugs)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SomaticAssentAddendumV2.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/patches/parent-consent-assent.conf
  study-builder/studies/osteo/patches/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7648 | change exitDate field to reference long from primitive to avoid just zeros in ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
Due: action="build-test", dsm, action="build-test-deploy"

Schema updated according to our discussion
  pepper-apis/docs/specification/src/components/responses.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7322: adding singular mr dynamic forms
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab1.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab3.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

refactor
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetOptionsForActivityInstanceQuestionRoute.java
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
