Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7930: fix list export over 500
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

Update build instructions
  pepper-apis/studybuilder-cli/README.md
Due: action="build-test", dss, action="build-test-deploy"

DDP-7234 adding users
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/UserRoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserRoleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/GetUserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/PostUserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/EditParticipantTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

updated assent form introduction
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/consent-version-2.conf
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed a little typo. (#1568)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanNewCancer.java
  study-builder/studies/pancan/patches/sarcomas-new-cancer.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7815. Questions exporter utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiTemplate.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/i18n/I18nTranslation.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/I18nTranslationService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
Due: action="build-test", dss, action="build-test-deploy"

Less local variables
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
Due: action="build-test", dss, action="build-test-deploy"

change match query builder to bool - must - query to avoid adding data to different records in ES, used template method in UpsertPainlessFacade to eliminate duplication, added corresponding tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
Due: action="build-test", dsm, action="build-test-deploy"

migrate testobston/bugfix changes to release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
Due: action="build-test", dsm, action="build-test-deploy"

changes in emails
  study-builder/studies/osteo/emails/parental_about_child_reminder.html
  study-builder/studies/osteo/emails/parental_consent_1wk_reminder.html
  study-builder/studies/osteo/emails/parental_consent_completed.html
  study-builder/studies/osteo/emails/parental_germline_consent_addendum_complete.html
  study-builder/studies/osteo/emails/parental_release_completed.html
  study-builder/studies/osteo/emails/parental_release_reminder.html
  study-builder/studies/osteo/emails/parental_saliva_received.html
  study-builder/studies/osteo/emails/parental_somatic_addendum_consent_complete.html
  study-builder/studies/osteo/emails/parental_somatic_consent_addendum_received.html
  study-builder/studies/osteo/emails/parental_somatic_germline_addendum_reminder.html
  study-builder/studies/osteo/emails/parental_welcome.html
  study-builder/studies/osteo/emails/self_about_you_reminder.html
  study-builder/studies/osteo/emails/self_consent_1wk_reminder.html
  study-builder/studies/osteo/emails/self_consent_completed.html
  study-builder/studies/osteo/emails/self_germline_consent_addendum_complete.html
  study-builder/studies/osteo/emails/self_release_completed.html
  study-builder/studies/osteo/emails/self_release_reminder.html
  study-builder/studies/osteo/emails/self_saliva_received.html
  study-builder/studies/osteo/emails/self_somatic_consent_addendum_received.html
  study-builder/studies/osteo/emails/self_somatic_germline_addendum_reminder.html
  study-builder/studies/osteo/emails/self_welcome.html
  study-builder/studies/osteo/patches/addendum-new-activity.conf
  study-builder/studies/osteo/patches/osteo-new-activities.conf
  study-builder/studies/osteo/sendgrid_emails.conf
Due: none

add patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMailEvents.java
  study-builder/studies/osteo/patches/addendum-new-activity.conf
  study-builder/studies/osteo/patches/mail-event-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7930: fix list export over 500 (#1569)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

Validation rules
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
Due: action="build-test", dss, action="build-test-deploy"

create separate value provider and renderer for all type of questions & answers
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/AgreementValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/BooleanValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/JsonArrayValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/MatrixValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/NumberValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Picklist possible answers (limited by 100)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7234 adding user_add permission DDP-7234 adding new_user permissions
  pepper-apis/ddp-database/src/main/resources/db-changes/schema/DDP-7172_Authentication_tables.xml
  pepper-apis/ddp-database/src/main/resources/db-changes/seed/DDP-7234_user_add_permission.xml
  pepper-apis/ddp-database/src/main/resources/shared-master-changelog.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

changes for different role names being possible
  pepper-apis/ddp-database/src/main/resources/db-changes/schema/DDP-7172_Authentication_tables.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7546 `GetRoleRoute` and relevant classes added
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/RoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/RoleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/access/GetRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dsm, action="build-test-deploy"

changes to Dtos for json names
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserRoleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserRole.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7235 user access permission
  pepper-apis/ddp-database/src/main/resources/db-changes/seed/DDP-7235_user_access_permission.xml
  pepper-apis/ddp-database/src/main/resources/shared-master-changelog.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7235 assigning new roles to user
  pepper-apis/ddp-database/src/main/resources/db-changes/seed/DDP-7235_user_access_permission.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/RoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/UserRoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/access/GetRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/ModifyUserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

minor fix
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/patches/self-consent-update.conf
  study-builder/studies/osteo/patches/self-consent.conf
Due: none

fit_data_loss | fix checkstyle warnings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SearchHitProxy.java
Due: action="build-test", dsm, action="build-test-deploy"

release/fix_data_loss | checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SearchHitProxy.java
Due: action="build-test", dsm, action="build-test-deploy"

minor fix
  study-builder/studies/osteo/patches/self-consent.conf
Due: none

test_result_fix | checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

test result fix | checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7455-lms-pre-qualification-bugs start
  study-builder/studies/lms/activities/prequal.conf
  study-builder/studies/lms/substitutions.conf
Due: none

Slf4j, checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoPDFv2.java
Due: action="build-test", dss, action="build-test-deploy"

init
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
  study-builder/studies/osteo/patches/about-child-v2.conf
  study-builder/studies/osteo/patches/about-you-v2.conf
  study-builder/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7455-lms-pre-qualification-bugs finished
  study-builder/studies/lms/study-activities.conf
  study-builder/studies/lms/study-events.conf
Due: none

DDP-7913: some fix for broken abstraction submit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/AbstractionUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7937 | fix exact, non exact search, create NonExactMatchQueryStrategy for non exact searches, refactor and add tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/Operator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BuildQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/DsmAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/NonExactMatchQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/mapping/FieldTypeExtractor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/mapping/NullObjectTypeExtractor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/mapping/TypeExtractor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/MockFieldTypeExtractor.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/NonExactMatchQueryStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7923: fixing npe if value is null
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"
