Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

updated pdf consent form links
  study-builder/studies/singular/activities/consent-assent.conf
  study-builder/studies/singular/activities/consent-parental.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

updated pdf consent form links (#1314)
  study-builder/studies/singular/activities/consent-assent.conf
  study-builder/studies/singular/activities/consent-parental.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

fixed osteo assent patch text mismatches
  study-builder/studies/osteo/patches/consent-version-2.conf
Due: none

add button section (bug)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoMedicalReleaseUpdate.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/patches/medical-release-minor-v2.conf
  study-builder/studies/osteo/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed text bugs
  study-builder/studies/osteo/patches/somatic-assent-addendum.conf
Due: none

fixed text bug
  study-builder/studies/osteo/patches/somatic-assent-addendum.conf
Due: none

add numeration
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/parental-consent.conf
  study-builder/studies/osteo/self-consent.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-contact.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-description.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-documentation.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-procedures.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-risks.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-contact.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-description.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-documentation.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-procedures.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-risks.conf
  study-builder/studies/osteo/somatic-consent-addendum-parental.conf
Due: action="build-test", dss, action="build-test-deploy"

fix consent
  study-builder/studies/osteo/consent-assent.conf
Due: none

Ddp 7375/osteo pre qualifier (#1306)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

Missed type added
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

Missed type added (#1319)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

Test
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/EquationQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreator.java
Due: action="build-test", dss, action="build-test-deploy"

Test (#1320)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/EquationQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreator.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7648 | fix bug related to "participant withdrawn" case by merging two different data sources into one data source and migrating it to ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ParticipantMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7648 | fix bug related to "participant withdrawn" case by merging two different data sources into one data source and migrating it to ES (#1321)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ParticipantMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed texts
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/parental-consent.conf
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-contact.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-description.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-documentation.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-documentation.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-parental-procedures.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-description.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-risks.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-procedures.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-risks.conf
  study-builder/studies/osteo/somatic-consent-addendum-parental.conf
  study-builder/studies/osteo/somatic-consent-addendum.conf
Due: none

pediatric consent text fixes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

add changes to patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/parental-consent.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-documentation.conf
  study-builder/studies/osteo/somatic-consent-addendum-parental.conf
Due: action="build-test", dss, action="build-test-deploy"

hotfix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7619: adding @ColumnName(DBConstants.DDP_INSTANCE_ID) to have fields expoted to ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7465 | added lower_case_sort to support alphabetic sorting for text type fields
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/TypeParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
Due: action="build-test", dsm, action="build-test-deploy"

minor replacement
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/TypeParser.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7619: fixed test
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

fix pediatric consent ordering
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

adult consent bugs fixed
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

added todo
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/UserSettings.java
Due: action="build-test", dsm, action="build-test-deploy"

removing new Authentication
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MRCoverPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MiscPDFDownload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/TissueCoverPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDiscardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LoggingFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/JWTConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SecurityUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/ExternalShipper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/DDPEventTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/DDPRequestTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/EasypostShipmentStatusTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/ExternalShipperTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/GPNotificationTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/LabelCreationTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/NotificationTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/UPSTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/Auth0Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/CookieUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/SecurityHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

added missing classes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MRCoverPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MiscPDFDownload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/TissueCoverPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/ExternalShipper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/DDPEventTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/DDPRequestTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/EasypostShipmentStatusTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/ExternalShipperTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/GPNotificationTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/LabelCreationTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/NotificationTriggerListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/triggerlistener/UPSTriggerListener.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7534 remove tooltip
  study-builder/studies/singular/activities/medical-record-file-upload.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

fix bugs for adult
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/snippets/germline-consent-form-brief-description.conf
  study-builder/studies/osteo/snippets/germline-consent-form-contact.conf
  study-builder/studies/osteo/snippets/germline-consent-form-documentation.conf
  study-builder/studies/osteo/snippets/germline-consent-form-introduction.conf
  study-builder/studies/osteo/snippets/germline-consent-form-procedures.conf
  study-builder/studies/osteo/snippets/germline-consent-form-risks.conf
Due: action="build-test", dss, action="build-test-deploy"

fix: updated auth0 singular login page
  study-builder/tenants/singular/pages/login.html
Due: none

dix pediatric form
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-brief-description.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-contact.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-documentation.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-introduction.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-procedures.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-risks.conf
Due: action="build-test", dss, action="build-test-deploy"

Blake's comments processed
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

fix about you activity names on dashboard
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

updated pancan new activites precondition expressions for events
  study-builder/studies/pancan/patches/new-activities.conf
Due: none

Ddp 7382 create os somatic addendum adult pediatric (#1322)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticConsentAddendum.java
  study-builder/studies/osteo/parental-consent.conf
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
  study-builder/studies/osteo/self-consent.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-contact.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-description.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-documentation.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-contact.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-description.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-documentation.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-procedures.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-risks.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-procedures.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-risks.conf
  study-builder/studies/osteo/somatic-consent-addendum-parental.conf
  study-builder/studies/osteo/somatic-consent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

Ddp 7385 create os germline consent addendum adult pediatric (#1328)
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/snippets/germline-consent-form-brief-description.conf
  study-builder/studies/osteo/snippets/germline-consent-form-contact.conf
  study-builder/studies/osteo/snippets/germline-consent-form-documentation.conf
  study-builder/studies/osteo/snippets/germline-consent-form-introduction.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-brief-description.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-contact.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-documentation.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-introduction.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-procedures.conf
  study-builder/studies/osteo/snippets/germline-consent-form-pediatric-risks.conf
  study-builder/studies/osteo/snippets/germline-consent-form-procedures.conf
  study-builder/studies/osteo/snippets/germline-consent-form-risks.conf
Due: none

Answer extraction using the user guid
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerCachedDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"
