Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Added new liquibase migration
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-195_geneticTestingUpdate.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-21. Maximal file size error message formatting (#2384)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRoute.java
Due: action="build-test", dss, action="build-test-deploy"

Renamed migration
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/Pepper-195_geneticTestingUpdate.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Fixed spacing
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/Pepper-195_geneticTestingUpdate.xml
Due: action="build-test", dsm, action="build-test-deploy"

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

PEPPER-61. update templates formatting. revert pdf bucket change.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/PdfBucketService.java
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_agreement_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-61. update templates formatting. revert pdf bucket change. (#2387)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/PdfBucketService.java
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement_v2.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_agreement_v2.pdf
Due: action="build-test", dss, action="build-test-deploy"

at medical history PEPPER-210
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoader.java
Due: action="build-test", dss, action="build-test-deploy"

fixed the quickfilter bug, that it was not applied if it didn't have a query
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

Adds localized strings for ADD_PARTICIPANT flows
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Adds data file for the patch
  pepper-apis/studybuilder-cli/studies/singular/patches/add-participant-aom-location.conf
Due: action="build-test", dss, action="build-test-deploy"

Clearly indicate the patch was successful
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMAddParticipantUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

final patch & conf
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMAddParticipantUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/patches/add-participant-aom-location.conf
Due: action="build-test", dss, action="build-test-deploy"

unused method
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMAddParticipantUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

Remove misplaced javadoc
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMAddParticipantUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

Adds location question to the add-dependent flow
  pepper-apis/studybuilder-cli/studies/singular/activities/add-participant-dependent.conf
Due: action="build-test", dss, action="build-test-deploy"

Update activity configuration with location validations
  pepper-apis/studybuilder-cli/studies/singular/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

Adds location question to the add-participant flow
  pepper-apis/studybuilder-cli/studies/singular/activities/add-participant-parental.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed typo
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMAddParticipantUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

Let Lombok create the ctor
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMAddParticipantUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-29: fixing saved filter for dynamic fields
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-29: added tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-29: age up quick filter fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed a potential NPE
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-16] Adds patch for location questions in child & dependent add participant activities (#2388)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMAddParticipantUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/add-participant-aom-location.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-29: fixing return to frontend
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

AT medical history PEPPER-210
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUser.java
  pepper-apis/studybuilder-cli/studies/atcp/snippets/assent/bool-question-yes-no.conf
  pepper-apis/studybuilder-cli/studies/atcp/snippets/bool-question-yes-no-required.conf
Due: action="build-test", dss, action="build-test-deploy"

AT medical history PEPPER-210
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoaderAT.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/StudyDataLoaderMainAT.java
Due: action="build-test", dss, action="build-test-deploy"

minor configuration cleanup
  pepper-apis/studybuilder-cli/studies/singular/activities/add-participant-dependent.conf
  pepper-apis/studybuilder-cli/studies/singular/activities/add-participant-parental.conf
Due: action="build-test", dss, action="build-test-deploy"

changes from the commit ce73128
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from the commit 8800659
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from the commit d3a7aa6
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from the commit d9cfdeb
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from the commit 28d5dd9
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCase.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] fixes from RC (#2391)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/QuickFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCase.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-211: first draft for sending start and stop date for dashboard
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BaseQueryBuilderStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DashboardUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/QueryBuildPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/dashboard/NewDashboardRoute.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/dashboard/DashboardUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/SingleQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
