Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

removed copy answer event from singular family member cancer
  study-builder/studies/singular/study-events.conf
Due: none

DDP-7735 hide family aliases in ES export
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/ExportUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataExporterCli.java
  pepper-apis/dss-core/src/main/resources/ESprotectedColumns.conf
Due: action="build-test", dss, dsm, action="build-test-deploy"

removed copy answer event from singular family member cancer (#1384)
  study-builder/studies/singular/study-events.conf
Due: none

added somatic assent only for child
  study-builder/studies/lms/activities/consent-assent.conf
  study-builder/studies/lms/snippets/bool-question-somatic-assent-addendum.conf
  study-builder/studies/lms/snippets/text-question-date-somatic-assent-addendum.conf
  study-builder/studies/lms/snippets/text-question-somatic-assent-addendum.conf
  study-builder/studies/lms/somatic-assent-addendum.conf
Due: none

change validation message
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

change validation
  study-builder/studies/singular/activities/patient-survey.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

Try to make Vault access more resilient
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Bogus change to trigger tests
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiValidation.java
Due: action="build-test", dss, action="build-test-deploy"

fix question type
  study-builder/studies/singular/activities/patient-survey.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

Fix retry count
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Try to make Vault access more resilient (#1389)
  pepper-apis/configure.rb
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiValidation.java
Due: action="build-test", dss, action="build-test-deploy"

Make sure consul-template retry param is used in CircleCi
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Try to force a Java build by including a bogus code change
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiValidation.java
Due: action="build-test", dss, action="build-test-deploy"

Add units to retry
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Try to get around vault flakiness2 (#1392)
  pepper-apis/configure.rb
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiValidation.java
Due: action="build-test", dss, action="build-test-deploy"

Added activities pdf update to v2.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PdfSql.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/pdf/PdfVersion.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoMRFv2.java
  study-builder/studies/osteo/patches/mrf-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

Added v2 changes to activities configs.
  study-builder/studies/osteo/medical-release-minor.conf
  study-builder/studies/osteo/medical-release-self.conf
  study-builder/studies/osteo/study-pdfs.conf
Due: none

DDP-7768 fix height field in patient survey
  study-builder/studies/singular/activities/patient-survey.conf
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/snippets/question-sample-collect-height-feet.conf
  study-builder/studies/singular/snippets/question-sample-collect-height-inches.conf
  study-builder/studies/singular/substitutions.conf
Due: none

Single answer support for the equations (#1298)
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluatorBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationVariablesCollector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/EvaluationDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationVariablesCollectorTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Class cast exception fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
Due: action="build-test", dss, action="build-test-deploy"

Class cast exception fix (#1394)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
Due: action="build-test", dss, action="build-test-deploy"

Logback & jackson library versions updated
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

add placeholder
  study-builder/studies/singular/i18n/en.conf
Due: none

DDP-6034_SMIDs | represent smId as a separate nested object connected to tissue by tissueId
  elasticsearch/templates/participants_structured.json
Due: none

Equations population fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/QuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Equations population fix (#1395)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/QuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-6034-SMIDs | fix mapping, rename TissueSmId to SmId
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
Due: action="build-test", dsm, action="build-test-deploy"

DecimalDef class now implements serializable since otherwise its instance can't be put to the cache
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
Due: action="build-test", dss, action="build-test-deploy"

DecimalDef class now implements serializable since otherwise its instance can't be put to the cache (#1396)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
Due: action="build-test", dss, action="build-test-deploy"

add date question to self release
  study-builder/studies/lms/activities/medical-release-minor.conf
  study-builder/studies/lms/activities/medical-release.conf
  study-builder/studies/lms/study-activities.conf
  study-builder/studies/lms/study-workflows.conf
Due: none

add medicar release form
  study-builder/studies/lms/activities/medical-release-minor.conf
  study-builder/studies/lms/study-activities.conf
  study-builder/studies/lms/study-events.conf
  study-builder/studies/lms/study-workflows.conf
Due: none

Resolved DDP-7455
  study-builder/studies/lms/activities/prequal.conf
  study-builder/studies/lms/i18n/en.json
  study-builder/studies/lms/i18n/es.json
  study-builder/studies/lms/substitutions.conf
Due: none

change title for pediatric
  study-builder/studies/lms/i18n/en.json
Due: none

DDP-6034_SMIDs | add ParentChildRelationGenerator which will add parentId to the data source for ES in order to track parent-child relationships
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactoryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Equations activity was added to Basil study
  study-builder/studies/basil/equation-activity.conf
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/study-activities.conf
  study-builder/studies/basil/subs.conf
Due: none

Equations activity was added to Basil study (#1400)
  study-builder/studies/basil/equation-activity.conf
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/study-activities.conf
  study-builder/studies/basil/subs.conf
Due: none

rename picklist options
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
