Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Pediatric About Your Child Survey Dashboard Updates. Done
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle :)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

hotfix/ add cache for possible values
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

pediatric-updates.conf configuration done
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

Pediatric About Your Child Survey Dashboard Updates. Almost done
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/patches/about-you-child-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

hotfix/ add more logs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

hotfix/ return 0 if age field is empty
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7823.
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
Due: none

OSTEO PDF generation fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutYouV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentAddendumV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp7601.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewActivities.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoPDFv2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7797 OS: Adult About You Survey Logic
  study-builder/studies/osteo/about-you-activity-content.conf
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/patches/osteo-new-activities.conf
Due: none

DDP-7796 OS: Updates to Adult Family History Survey
  study-builder/studies/osteo/family-history/family-history-grandparent.conf
  study-builder/studies/osteo/family-history/family-history-half-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent-sibling.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side-control.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side-nested.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side.conf
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/patches/family-history.conf
  study-builder/studies/osteo/study-workflows.conf
  study-builder/studies/osteo/subs.conf
Due: none

DDP-7801 OS: Adult Family History Survey Dashboard Updates
  study-builder/studies/osteo/i18n/en.conf
Due: none

DDP-7803 OS: Pediatric About Your Child's Cancer Survey Dashboard Updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutYouV2.java
  study-builder/studies/osteo/about-child.conf
  study-builder/studies/osteo/about-you.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7824 . Added missed question to handle dates in composite questions
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7824 . Added missed question to handle dates in composite questions (#1443)
  elasticsearch/templates/participants_structured.json
Due: none

Removes clamav build scripts
  cloud-functions/cf-file-scanner/build-clamav-inside-docker.sh
  cloud-functions/cf-file-scanner/build-clamav.sh
Due: none

Removed some unnecessary ignore patterns
  cloud-functions/cf-file-scanner/.gitignore
Due: none

Update the Google Cloud libraries
  cloud-functions/cf-file-scanner/pom.xml
Due: none

FileScanner clamd POC
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
Due: none

Adds a clamd client
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
Due: none

Integrate the ClamAV client
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
Due: none

Removes the EICAR test string
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
Due: none

Optional Publisher
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
Due: none

Fetches the clamd host details from the environment
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
Due: none

Log the state of the scan in addition to the response message
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
Due: none

Updates to the example env file
  cloud-functions/cf-file-scanner/config/example.env
Due: none

Logging tweaks & checkstyle
  cloud-functions/cf-file-scanner/pom.xml
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
Due: none

Example environment file updates
  cloud-functions/cf-file-scanner/config/example.env
Due: none

Fixes from review comments
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/cf/FileScanner.java
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
Due: none

throws if the default case is hit
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
Due: none

Fixes a typo
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
Due: none

Delimiter type refactoring
  cloud-functions/cf-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
Due: none

Explicitly set the checkstyle plugin version
  cloud-functions/cf-file-scanner/pom.xml
Due: none

Setup the shade plugin to produce an uberjar
  cloud-functions/cf-file-scanner/pom.xml
Due: none

Copy the dss checkstyle file into the local tree
  cloud-functions/cf-file-scanner/checkstyle.xml
  cloud-functions/cf-file-scanner/pom.xml
Due: none

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
