Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Update RGP study.conf to send a message after enrollment. Fix error handling in StudyBuilderCli. Remove RGP handling for PARTICIPANT_REGISTERED.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
  pepper-apis/studybuilder-cli/studies/rgp/study.conf
Due: action="build-test", dss, dsm, action="build-test-deploy"

retry
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-790 . Osteo2 and lms germline pe-cgs email updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertGermlineEmailEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/Osteo2InsertGermlineEmailEvents.java
  pepper-apis/studybuilder-cli/studies/lms/patches/germline-consent-addendum-email-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/germline-consent-addendum-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-430 . Added consent pdf patch to rootpatch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rootpatches/Osteo2pecgsUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-790 os2 & lms germline email events (#2556)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertGermlineEmailEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/Osteo2InsertGermlineEmailEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rootpatches/Osteo2pecgsUpdates.java
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/germline-consent-addendum-email-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/germline-consent-addendum-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

retry
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/resources/testdbs/testdbsetup.cnf
Due: action="build-test", dss, action="build-test-deploy"

fix flaky unit test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/resources/testdbs/testdbsetup.cnf
Due: action="build-test", dss, action="build-test-deploy"

Z
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

build
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

no Z
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

log
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/I18nTemplateDefaultRenderer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

log
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/I18nTemplateDefaultRenderer.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

tweak
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/resources/testdbs/testdbsetup.cnf
Due: action="build-test", dss, action="build-test-deploy"

clean up
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/I18nTemplateDefaultRenderer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

restore
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-819 PR for changing some errors to warnings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LoggingFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-819 PR for changing some errors to warnings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

log
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Add liquibase.properties
  pepper-apis/liquibase.properties
Due: action="build-test", action="build-test-deploy"

Updates test so that user profile includes timezone and test leverages it. Cleans up errata.
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-760 .rgp updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/RgpPrequalV3.java
  pepper-apis/studybuilder-cli/studies/rgp/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-760-rgp-updates login.html tenant updated
  pepper-apis/studybuilder-cli/tenants/rgp/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-760 .rgp updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/RgpPrequalV3.java
  pepper-apis/studybuilder-cli/studies/rgp/study.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-819 removing some of the redundant and noisy errors (#2558)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LoggingFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-760 . RGP updates (#2560)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/RgpPrequalV3.java
  pepper-apis/studybuilder-cli/studies/rgp/patch-log.conf
  pepper-apis/studybuilder-cli/studies/rgp/study.conf
  pepper-apis/studybuilder-cli/tenants/rgp/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-804] Alternate approach. (#2559)
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-834 . typo fix in email template
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required.html
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-834 . typo fix in email template (#2561)
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required.html
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-482 . add consent-assent MR pdf config v3
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-v3-medicalrecords-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-482 . add consent-assent MR pdf config v3 (#2562)
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-v3-medicalrecords-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

Get Docker DB based tests running on CircleCI
  .circleci/main-config.yml
Due: none

Probably don't really need liquibase.properties in the repo
  pepper-apis/liquibase.properties
Due: action="build-test", action="build-test-deploy"

PEPPER-754 PR comments and some more fixes and removing special kits
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperKits/JuniperKitCreationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-754 changed the endpoint to work with a single kit instead of array and removed some unnecessary lines
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperKits/JuniperKitCreationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Replace sonar.jacoco.reportPaths settig with sonar-jacoco plugin
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Reorganize Jacoco coverage and Sonar for CirclCI
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-server/pom.xml
  pepper-apis/dss-database/pom.xml
  pepper-apis/dss-server/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Fix typos. (Cannot be tested locally.)
  .circleci/main-config.yml
Due: none
