Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

PEPPER-559 AT translations
  pepper-apis/studybuilder-cli/studies/atcp/i18n/de.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/es.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/fr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/it.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ja.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pl.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pt.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ru.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/tr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/zh.json
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-559 AT translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/AtcpAssentV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/atcp/ATCPConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/atcp/patches/assent-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UpdateUserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-559 AT translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/AtcpAssentV2.java
Due: action="build-test", dss, action="build-test-deploy"

Add mr_no_request_tissue role for cmi and pecgs
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-971_study_roles.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-559 AT translations update
  pepper-apis/studybuilder-cli/studies/atcp/i18n/de.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/es.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/fr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/it.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ja.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pl.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pt.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ru.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/tr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/zh.json
Due: action="build-test", dss, action="build-test-deploy"

Set roles for each study (#2629)
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-971_fix_ddp_group.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-971_study_roles.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-559 ATCP translations (#2630)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/AtcpAssentV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/atcp/ATCPConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/atcp/i18n/de.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/en.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/es.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/fr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/it.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ja.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pl.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pt.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ru.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/tr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/zh.json
  pepper-apis/studybuilder-cli/studies/atcp/patches/assent-v2.conf
  pepper-apis/studybuilder-cli/studies/atcp/patches/consent-edit-version-2.conf
  pepper-apis/studybuilder-cli/studies/atcp/patches/consent-version-2.conf
Due: action="build-test", dss, action="build-test-deploy"

Modify TransactionWraper::inTransaction to handle nested closables; remove logging that includes secrets; make DB initializatio failures clearer
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/exception/DDPInternalError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Create and delete user settings; improve user add and remove
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/UserSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserInfo.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

merge develop
  pepper-apis/parent-pom.xml
Due: action="build-test", action="build-test-deploy"

Implement basic DSM user admin service and endpoints (#2626)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/StudyRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AddUserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/StudyRoleResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRoleResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDiscardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Remove unused subclass
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-841 Created StatusKitRoute and NonPepperStatusKitService to return the status of
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMBadRequestException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitResponseError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperStatusKitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/StatusKitResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/juniper/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/juniper/StatusKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RequestParameter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/NonPepperKitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/kit/KitDaoMock.java
Due: action="build-test", dsm, action="build-test-deploy"

Add study_user_admin for roles in each study
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1004_study_roles_admin.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

reduce error log noises
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

update
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-972_access_role_display.xml
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix typo
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
Due: action="build-test", dsm, action="build-test-deploy"

Add support for adding existing users to study
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AddUserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-841 more endpoints to call for kit status
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dsm, action="build-test-deploy"

pepper-559 AT translation update
  pepper-apis/studybuilder-cli/studies/atcp/i18n/de.json
Due: action="build-test", dss, action="build-test-deploy"

pepper-559 AT translation update (#2634)
  pepper-apis/studybuilder-cli/studies/atcp/i18n/de.json
Due: action="build-test", dss, action="build-test-deploy"

Add study_user_admin for roles in each study group (#2632)
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1004_study_roles_admin.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-130 upgrade elastic to 7.17
  pepper-apis/parent-pom.xml
Due: action="build-test", action="build-test-deploy"

PEPPER-853 added a check for the number of scrolls and uss to not be zero
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
Due: action="build-test", dsm, action="build-test-deploy"

Rework UserAdminService, routes and request classes to support a different RESTful interface
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AddUserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/SetUserRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UpdateUserRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Edit user info admin service (#2631)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/UserSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AddUserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UpdateUserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserInfo.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Add access_role display text for each role
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-972_access_role_display.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-130 upgrade elastic to 7.17
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, action="build-test-deploy"

Cleanup exception handling; update Hikari and JDBI libraries
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-130 upgrade elastic to 7.17
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/ElasticsearchServiceUtil.java
Due: action="build-test", dss, action="build-test-deploy"

Add access_roles display text (#2638)
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-972_access_role_display.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
