Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7822 fix pancan emails
  study-builder/studies/pancan/emails/blood_consent_completed.en.html
  study-builder/studies/pancan/emails/blood_consent_completed.es.html
  study-builder/studies/pancan/emails/blood_consent_created.en.html
  study-builder/studies/pancan/emails/blood_consent_created.es.html
  study-builder/studies/pancan/emails/blood_received.en.html
  study-builder/studies/pancan/emails/blood_reminder.en.html
  study-builder/studies/pancan/emails/blood_sent.en.html
  study-builder/studies/pancan/emails/colorectal_consent_completed.en.html
  study-builder/studies/pancan/emails/colorectal_consent_reminder.en.html
  study-builder/studies/pancan/emails/consent_completed.en.html
  study-builder/studies/pancan/emails/consent_reminder.en.html
  study-builder/studies/pancan/emails/diet_complete.en.html
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/diet_created.en.html
  study-builder/studies/pancan/emails/diet_reminder.en.html
  study-builder/studies/pancan/emails/family_history_complete.en.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_created.en.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_reminder.en.html
  study-builder/studies/pancan/emails/family_history_reminder.es.html
  study-builder/studies/pancan/emails/reconsent_child_contact.en.html
  study-builder/studies/pancan/emails/reconsent_child_contact_reminder.en.html
  study-builder/studies/pancan/emails/reconsent_email_verification.en.html
  study-builder/studies/pancan/emails/reconsent_next_steps.en.html
  study-builder/studies/pancan/emails/reconsent_next_steps_reminder.en.html
  study-builder/studies/pancan/emails/release_completed.en.html
  study-builder/studies/pancan/emails/release_reminder.en.html
  study-builder/studies/pancan/emails/saliva_received.en.html
  study-builder/studies/pancan/emails/sign_stool_collection_form.en.html
  study-builder/studies/pancan/emails/stoolkit_complete.en.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
  study-builder/studies/pancan/emails/stoolkit_created.en.html
  study-builder/studies/pancan/emails/welcome.en.html
Due: none

DDP-7822 fix nullpointer
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7822 fix instagram
  study-builder/studies/pancan/emails/diet_complete.es.html
Due: none

DDP-7384 Fix: Removed composite question (added component)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  study-builder/studies/osteo/patches/mrf-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7822 fix subjects
  study-builder/studies/pancan/study-emails.conf
Due: none

DDP-7822 fix spanish texts
  study-builder/studies/pancan/emails/diet_complete.es.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_reminder.es.html
  study-builder/studies/pancan/emails/stoolkit_complete.es.html
Due: none

Derived answer
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/FileInfo.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/SelectedMatrixCell.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/SelectedPicklistOption.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/TextAnswer.java
Due: action="build-test", dss, action="build-test-deploy"

Readonly
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/EquationQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

Equation name added to log message
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

More logs
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

[DSS] Derived answer fix attempt (#1520)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/FileInfo.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/SelectedMatrixCell.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/SelectedPicklistOption.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/TextAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/EquationQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

studyBuilder fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
Due: action="build-test", dss, action="build-test-deploy"

Activity Instance response extended with equation computed answer
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DecimalQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

[DSS] Activity Instance response extended with equation computed answer (#1521)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DecimalQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7722 fix rgp export
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

Add new ERROR_PRESENT activity instance status to Basil
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
Due: none

change logs, improve code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[SB] Update basil error present status (#1522)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/loved-one-activity.conf
  study-builder/studies/basil/study-activities.conf
  study-builder/studies/basil/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

setting size
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSS] Derived question: added support of multiple answers for children of a composite question (#1435)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerCachedDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluatorBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/AbstractVector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/MultiValueVector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/SingleValueVector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/containers/VectorUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/Answer.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
Due: action="build-test", dss, action="build-test-deploy"

Resolved 7863
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanNewCancer.java
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/patches/sarcomas-new-cancer.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7888: getting abstraction activity with AbstractionWrapper
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/AbstractionWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AbstractionRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7889: fixing RGP actions workflow bug
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7822 fix projectname in email templates
  study-builder/studies/pancan/emails/family_history_complete.en.html
  study-builder/studies/pancan/emails/family_history_complete.es.html
  study-builder/studies/pancan/emails/family_history_created.en.html
  study-builder/studies/pancan/emails/family_history_created.es.html
  study-builder/studies/pancan/emails/family_history_reminder.en.html
  study-builder/studies/pancan/study-emails.conf
Due: none

RGP/field_settings | add missing fields for AT and RGP (#1501)
  pepper-apis/dsm-core/src/main/resources/liquibase/at/DDP-7837_AT_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_more_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] Onc history detail/bug fix (#1499)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/ReceiveKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7837 | add two missing fields in field settings table in order to make sure that their mappings are exported properly, set deleted to 1 (#1487)
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

improved migration code, make logs more informative
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7722 cleanup
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7822 add prepositions
  study-builder/studies/pancan/study-emails.conf
Due: none

Resolved DDP-7894 PS: Pediatric Consent - Unable to submit
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/study-activities.conf
  study-builder/studies/singular/study-events.conf
Due: none

Fixes after the review
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/studies.audit.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Filtering
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

Filtering (#1528)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7868 fix missing fields
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7248: Audit Trail Service implementation
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditActionType.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditEntityType.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditTrailFilter.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditTrailService.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/common/Limitation.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dao/AuditTrailDao.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/AuditTrailDto.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/audit/AuditTrailServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/AuditTrailDaoTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7248.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7248: Audit Trail Service implementation
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/audit/AuditTrailService.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7248: Audit Trail Service implementation
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/migration/DsmDataLoader.java
Due: action="build-test", dss, dsm, action="build-test-deploy"
