Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7923: changing info message to error
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/EditParticipantMessagePublisher.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7937 | exact/non exact fix for release
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/Operator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BuildQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/DsmAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/NonExactMatchQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/mapping/FieldTypeExtractor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/mapping/NullObjectTypeExtractor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/mapping/TypeExtractor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/MockFieldTypeExtractor.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/NonExactMatchQueryStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7923: reducing calls to db
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from https://github.com/broadinstitute/ddp-study-server/pull/1581/files
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/EditParticipantMessagePublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/AbstractionUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from https://github.com/broadinstitute/ddp-study-server/pull/1581/files (#1582)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/EditParticipantMessagePublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/AbstractionUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-7923: rgp workflow fields (#1581)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/EditParticipantMessagePublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/AbstractionUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed some checkstyles
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/NestedUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/SingleUpsertPainlessFacadeTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7238 liquibase
  pepper-apis/ddp-database/src/main/resources/db-changes/schema/DDP-7238_removing_users.xml
  pepper-apis/ddp-database/src/main/resources/db-changes/seed/DDP-7238_removing_users_permission.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7754. Add new kit_type BUCHAL_SWABS
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP7754-add-new-kit-type.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7926: adding ddplabel to kitRequestShipping object in ES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7926: adding ddplabel to kitRequestShipping object in ES (#1584)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7754. Add new kit_type (#1583)
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP7754-add-new-kit-type.xml
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-7815: Questions exporter utility (#1560)
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionCached.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiTemplate.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/RuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/i18n/I18nTranslation.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/I18nTranslationService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/QuestionsExporter.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoPDFv2.java
Due: action="build-test", dss, action="build-test-deploy"

Comments
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/studies.audit.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7234 changes to match the workflow of thee design
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/RoleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserRoleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/PostUserRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

changes in mails
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_post_consent_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_post_consent_reminder.html
Due: action="build-test", dss, action="build-test-deploy"

fix bugs
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_completed.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_post_consent_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_post_consent_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_addendum_consent_complete.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_welcome.html
  pepper-apis/studybuilder-cli/studies/osteo/patches/mail-event-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/sendgrid_emails.conf
Due: action="build-test", dss, action="build-test-deploy"

quick fix for N/A
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
Due: action="build-test", dsm, action="build-test-deploy"

quick fix for N/A (#1588)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
Due: action="build-test", dsm, action="build-test-deploy"

some fixes.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewActivities.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-activities.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

add missing types
  elasticsearch/templates/participants_structured.json
Due: none

add missing types (#1589)
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7368
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-assent-section4-child-instruction.conf
Due: action="build-test", dss, action="build-test-deploy"

Basil definition a bit simplified in order to avoid any stable IDs transformation
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
  pepper-apis/studybuilder-cli/studies/basil/loved-one-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/numeric-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

fix: singular auth0 singup/login page
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

.gitignore file modified
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

Git ignore modified
  .gitignore
Due: none

Basil definition a bit simplified in order to avoid any stable IDs transformation (#1590)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
  pepper-apis/studybuilder-cli/studies/basil/loved-one-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/numeric-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

Removed redundant asterisks
  .gitignore
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

DDP-7455-lms-pre-qualification-bugs finished based on develop branch
  pepper-apis/studybuilder-cli/studies/lms/activities/prequal.conf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Simplified
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

[DSS/DSM] .gitignore file modified (#1591)
  .gitignore
  pepper-apis/.gitignore
Due: action="build-test", action="build-test-deploy"

DDP-7235 *removed new user role insertion query in `ddp-database` *changed the `modify` functions to assign roles or change `user_profile` info
  pepper-apis/ddp-database/src/main/resources/db-changes/seed/DDP-7234_user_add_permission.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/UserRoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/RoleDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/user/ModifyUserRoute.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7754 add new kit type
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7754-add-new-kit-type.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7754 add new kit type (#1593)
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7754-add-new-kit-type.xml
Due: action="build-test", dss, action="build-test-deploy"

comparison validation fix
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

comparison rule/validation fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionCached.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
