Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7360 fix lms dashboard bugs
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/about-your-cancer.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/thank-you-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

OS: Parental Consent Form Header Update
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | add liquibase file for adding kit role for osteo2
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_kit_participant_notifications_activated_osteo2.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add artificial test for OsteoWorkflowStatusUpdate
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdateTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7360 bold announcement
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | make corrections in artificial unit test
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/study/osteo/OsteoWorkflowStatusUpdateTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7360 fix pediatric about child
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7360 fix title
  pepper-apis/studybuilder-cli/studies/lms/activities/about-child.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved 7863
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanNewCancer.java
  pepper-apis/studybuilder-cli/studies/lms/patches/sarcomas-new-cancer.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
  pepper-apis/studybuilder-cli/studies/pancan/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/pancan/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Added PEcoma cancer.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanNewCancer.java
  pepper-apis/studybuilder-cli/studies/lms/patches/sarcomas-new-cancer.conf
  pepper-apis/studybuilder-cli/studies/pancan/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/pancan/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed a little typo. (#1568)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PancanNewCancer.java
  pepper-apis/studybuilder-cli/studies/lms/patches/sarcomas-new-cancer.conf
Due: action="build-test", dss, action="build-test-deploy"

Revert "Resolved 7863"
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8152. (#1763)
  pepper-apis/studybuilder-cli/studies/singular/activities/medical-record-file-upload.conf
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8170 osteo mail content fix
  .run/Osteo.run.xml
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_completed.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_germline_consent_addendum_complete.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_release_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_saliva_received.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_somatic_addendum_consent_complete.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_somatic_consent_addendum_received.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_somatic_germline_addendum_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_welcome.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_about_you_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_completed.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_germline_consent_addendum_complete.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_release_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_saliva_received.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_addendum_consent_complete.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_consent_addendum_received.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_germline_addendum_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_welcome.html
Due: action="build-test", dss, action="build-test-deploy"

remove unnecessary files
  .run/Osteo.run.xml
Due: none

DDP-8144 . Tabular changes w-i-p
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockTabular.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/BlockTabularQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/QuestionBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularColumnDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/TabularBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  pepper-apis/studybuilder-cli/studies/basil/study-events.conf
  pepper-apis/studybuilder-cli/studies/basil/tabular-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

Applying PR comments and fixes to the branch *fixed merge conflicts
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8144 . Tabular changes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockTabular.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/BlockTabularQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/QuestionBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/QuestionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/TabularBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/Question.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  pepper-apis/studybuilder-cli/studies/basil/tabular-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . Tabular changes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . Tabular changes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . Tabular changes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/TabularBlockDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularRowDef.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . Tabular changes
  pepper-apis/studybuilder-cli/studies/basil/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . Tabular changes
  pepper-apis/studybuilder-cli/studies/basil/study.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/tabular/TabularColumnDef.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . cleanup
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . update test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8144 . Tabular Block Question updates
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/TabularBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/FormInstanceCreatorHelper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/FormBlockCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7360 fix pediatric workflow
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8161 fix osteo about you & about child citations
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

added numeration to question of about your child
  pepper-apis/studybuilder-cli/studies/osteo/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8176/consent text cvhange
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

add mails
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_kit_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_saliva_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_saliva_received.html
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Delete Housekeeping.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, action="build-test-deploy"

Housekeeping local setup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, action="build-test-deploy"

Leiomyosarcoma typos are fixed
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/consent-minors-section3-additional-terms.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-brief-description.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-brief-description.conf
Due: action="build-test", dss, action="build-test-deploy"

Research Consent Form typo fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

Pancan new activities bugfix (#1114)
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/patches/new-activities.conf
  study-builder/studies/pancan/study-events.conf
Due: none

DDP-7480
  study-builder/studies/pancan/assets/stool_kit_chart.png
Due: none

DDP-7637
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/MatrixQuestionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/MatrixQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/MatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/src/test/resources/teststudy/activity.conf
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/snippets/matrix-single-question.conf
Due: action="build-test", action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
