Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantListRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1191 WIP
  pepper-apis/scripts/admin/delete-participant-data-for-study.sql
Due: action="build-test", action="build-test-deploy"

Implement ElasticExportService, exporting specific pariticipants, and testing support
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/onchistory/OncHistoryDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Add some Java doc
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ExportLog.java
Due: action="build-test", dsm, action="build-test-deploy"

bump sonar scanner version, fix includedModules
  .gitignore
  pepper-apis/config/pepper-apis-settings.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1191 added script to aid in purging data for a study. (#2769)
  pepper-apis/scripts/admin/delete-participant-data-for-study.sql
Due: action="build-test", action="build-test-deploy"

Create missing ES DSM entity
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1264 . update germline and somatic pex
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsSomaticGermlinePexUpdate.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1264 . update germline and somatic pex
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsSomaticGermlinePexUpdate.java
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1264 . update germline and somatic pex for osteo and lms
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-1324] Create missing ES DSM entity (#2794)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1264 . update germline and somatic pex for osteo and lms
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsSomaticGermlinePexUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-1206] Implement ElasticExportService (#2792)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/onchistory/OncHistoryDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NullAdditionalParticipantMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/StudyMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ExportLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/MedicalRecordTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Updating poms to use java17 release instead of java11
  pepper-apis/dss-core/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1264 . update germline and somatic pex for osteo and lms
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsSomaticGermlinePexUpdate.java
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1264 . update germline and somatic pex for osteo and lms
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

Rewrite and test AT kit search and update
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/ReceiveKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/SearchKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitSearchRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/resources/elastic/atcpActivities.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1264 pecgs child current age calculation in Somatic and Germline pe-cgs (#2795)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsSomaticGermlinePexUpdate.java
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1264 . update somatic pex for lms (#2797)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsSomaticGermlinePexUpdate.java
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1264 . update germline pex for osteo and lms (#2798)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PecgsSomaticGermlinePexUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

Implement two phase RGP participant data creation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/FieldSettingsTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/participantProfile.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/acceptanceStatus.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/acceptanceStatusAction.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/active.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/dataSharing.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/redcapSurveyTaker.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/redcapSurveyTakerAction.json
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1270] Rewrite and test AT kit search and update (#2796)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/ReceiveKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/SearchKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitReceivedUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitSearchRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/resources/elastic/atcpActivities.json
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1161] Implement two phase RGP participant data creation (#2799)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/FieldSettingsTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/participantProfile.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/acceptanceStatus.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/acceptanceStatusAction.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/active.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/dataSharing.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/redcapSurveyTaker.json
  pepper-apis/dsm-core/src/test/resources/fieldsettings/redcapSurveyTakerAction.json
Due: action="build-test", dsm, action="build-test-deploy"

Add critical section for updating AT genomic ID
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1311] Add critical section for updating AT genomic ID (#2800)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
Due: action="build-test", dsm, action="build-test-deploy"

Add force flag for ParticipantDataFixupService
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ExportLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
Due: action="build-test", dsm, action="build-test-deploy"

Add temporary diagnostic logging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix synchronizaton in ATDefaultValues
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1311] Fix synchronization in ATDefaultValues (#2801)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ExportLog.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValuesTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
