Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

More tweaking
  .circleci/main-config.yml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

More tweaking
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

More tweaking
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

More tweaking
  .circleci/main-config.yml
Due: none

Ensure IntegrationTestSuite doesn't assume it's the only set of tests running; Update AllowListFilterTest so it no longer assumes it's the only Spark instance running.
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/filter/AllowlistFilterTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, action="build-test-deploy"

Cleanup static strings.
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/filter/AllowlistFilterTest.java
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-823] Fix local DSS tests so they pass when all tests are run together locally. (#2565)
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/filter/AllowlistFilterTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, action="build-test-deploy"

Use the latest version of org.testcontainers
  pepper-apis/parent-pom.xml
Due: action="build-test", action="build-test-deploy"

Add pex-antlr to Sonar scan
  pepper-apis/pex-antlr/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Add a label to new event for easier activation via StudyBuilder
  pepper-apis/studybuilder-cli/studies/rgp/study.conf
Due: action="build-test", dss, action="build-test-deploy"

Cleanse error messages
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/DatabaseTestUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Update plus code for test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/MailAddressRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

Change checkAddress to be tolerant of plus code changes
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/MailAddressRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-864] Update plus code for test (#2566)
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/MailAddressRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

pepper-193 Integrate SonarCloud into CircleCi builds (#2564)
  .circleci/config.yml
  .circleci/main-config.yml
  pepper-apis/config/pepper-apis-settings.xml
  pepper-apis/ddp-common/pom.xml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-server/pom.xml
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-database/pom.xml
  pepper-apis/dss-server/pom.xml
  pepper-apis/housekeeping/pom.xml
  pepper-apis/parent-pom.xml
  pepper-apis/pex-antlr/pom.xml
  pepper-apis/pom.xml
  pepper-apis/studybuilder-cli/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

pepper-803 fix flaky testCreateAndLoginNewTestUser test
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

fix parent-pom.xml
  pepper-apis/parent-pom.xml
Due: action="build-test", action="build-test-deploy"

log total wait time
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

pr feedback
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

restore else break
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

test failure
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

fix log error
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

withRetries redo
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

pr feedback
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/Auth0ManagementClientTest.java
Due: action="build-test", dss, action="build-test-deploy"

clarify time
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

log.warn
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
Due: action="build-test", dss, action="build-test-deploy"

unit test
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/Auth0ManagementClientTest.java
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
