Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7248: Audit Trail Service implementation
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7248: Audit Trail Service implementation
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/audit/AuditTrailServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-7888: abstraction (#1525)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/AbstractionWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AbstractionRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

some fixes
  study-builder/studies/singular/activities/consent-assent.conf
  study-builder/studies/singular/activities/consent-dependent.conf
  study-builder/studies/singular/activities/consent-parental.conf
  study-builder/studies/singular/activities/consent-self.conf
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/study-activities.conf
  study-builder/studies/singular/study-events.conf
Due: none

fix for the Notification Error
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] label creation fix (#1465)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailRecord.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7868 fix missing fields (#1529)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

added new fixes from develop
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ExcelUtils.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/AbstractionWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainlessFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/Filterable.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AbstractionRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing NPE on test for LabelCreationJob
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing NPE on test for LabelCreationJob (#1533)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

fixing NPE for LabelCreationJob
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Bump JDBI to 3.28.0
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Fixes for changes to StringTemplate behavior
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/MatrixQuestionDao.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/SectionBlockDao.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/TemplateDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Missed an escape
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiFormSectionBlock.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

attempt to fix AT related data loss for legacy participants
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Fixed events for minor and adult participants.
  study-builder/studies/singular/activities/add-participant-dependent.conf
  study-builder/studies/singular/activities/add-participant-parental.conf
  study-builder/studies/singular/activities/add-participant-self.conf
  study-builder/studies/singular/activities/consent-dependent.conf
  study-builder/studies/singular/activities/consent-parental.conf
  study-builder/studies/singular/activities/consent-self.conf
  study-builder/studies/singular/study-activities.conf
  study-builder/studies/singular/study-events.conf
  study-builder/studies/singular/study-workflows.conf
Due: none

Fix attempt
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Fix attempt (#1536)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

updates to os about you v2 patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutYouV2.java
  study-builder/studies/osteo/patches/about-you-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

fixing NPE for LabelCreationJob (#1534)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix attempt
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

add functionality to TissueSourceGenerator if return date of tissue was filled, change generator payload to get whole patch, change tests according to generator payload change
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7866 fix AT column mappings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

remove unused imports
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorHelper.java
Due: action="build-test", dsm, action="build-test-deploy"

migrate changes to release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/AdditionalCollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MedicalRecordSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/NullObjectStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailFaxSentStrategyDecorator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailTissueReceivedStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailUnableObtainTissueStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/UnableObtainTissueStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParserFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MockOncHistoryDetailDao.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Added promptTemplate to CONSENT_DEPENDENT_GUARDIAN_SIGNATURE question.
  study-builder/studies/singular/activities/consent-dependent.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

Fixed bug with About me-healthy survey is not reachable
  study-builder/studies/singular/activities/consent-dependent.conf
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/study-events.conf
Due: none

Upgrade JDBI to v3.28.0 (#1535)
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiFormSectionBlock.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/MatrixQuestionDao.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/SectionBlockDao.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/TemplateDao.sql.stg
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

removing old/unused libraries
  pepper-apis/dsm-core/pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-7702 elastic support for Decimal question/answer
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, action="build-test-deploy"

added code for migrating roles and users
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/SqlConstants.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/DdpDBUtils.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/GuidUtils.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationMigration.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

inserting auth0 user id when missing changing UserSettingsDao changing user id from int to long adding study_guid to ddp_instance queries
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/EditParticipantMessage.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/UserSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/UserSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/user/UserDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/jdbi/JdbiUserSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/familymember/AddFamilyMember.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/AddFamilyMemberPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/EditParticipantMessageReceiverRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/familymember/AddFamilyMemberRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/EditParticipantTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/route/familymember/AddFamilyMemberRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7866 fix hardcode
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7831-os-updates-to-age-up-reconsent-process-for-ny-canada-residents fix PARENTAL_CONSENT trigger
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
Due: none

update adult and pediatric consent forms
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/patches/self-consent.conf
Due: none

minor updates in prequal osteo
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/i18n/es.conf
  study-builder/studies/osteo/patches/prequal-updates.conf
Due: none

DDP-7702 elastic support for Decimal question/answer (#1544)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, action="build-test-deploy"

Fix attempt (#1539)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"
