Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, test_parallelism=15, dsm, api-docs, action="build-test-deploy"

PEPPER-1435 updated text for RGP validation email (#2860)
  pepper-apis/studybuilder-cli/tenants/rgp/emails/verify_email.html
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1402 changed BaseKitTestUtil into KitTestUtil and removed PepperKitUtil.java and JuniperKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/BaseKitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitDisplayNameTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/PepperKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/EventServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1314 added a test to make sure some things are working and null date values could be parsed and saved
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DsmNullDateException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/faxSentPatch.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1314 removing unnecessary change
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 changed the check to being a migratedDDP and adjusted tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1314 removed the exception and added null check
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DsmNullDateException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-294 fixing kit's collaborator ids for legacy participants (#2879)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateBSPDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LookupRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/DataExporterTest.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

[DSM] PEPPER-1314 (#2884)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/faxSentPatch.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1402 resolving conflicts
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Add cmi-lms as valid realm for MedicalRecordInitService
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/MedicalRecordInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantAdminOperationService.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1326] Add cmi-lms as valid realm for MedicalRecordInitService (#2885)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/MedicalRecordInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantAdminOperationService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1426 Adding the SCAD realm
  pepper-apis/dsm-core/src/main/resources/liquibase/scad/PEPPER-1426_scad_study_setup.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-312 . pancan family-history workflow changes
  pepper-apis/studybuilder-cli/studies/pancan/family-history/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/pancan/study-workflows.conf
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1426 changed the liquibase to one changeset
  pepper-apis/dsm-core/src/main/resources/liquibase/scad/PEPPER-1426_scad_study_setup.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-849 . os1 user creation event fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/Osteo1ParticipantCreator.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-312 . pancan family-history workflow
  pepper-apis/studybuilder-cli/studies/pancan/study-workflows.conf
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-849 . Osteo1 user creation event fix (#2887)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/Osteo1ParticipantCreator.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-294 fix for RGP upload with subject id and some new tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/model/ParticipantUtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 one small fix
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] SCAD realm creation (#2886)
  pepper-apis/dsm-core/src/main/resources/liquibase/scad/PEPPER-1426_scad_study_setup.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 PR comments
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/model/ParticipantUtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-294 PR comments
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-294 Fix for RGP kits (#2888)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/model/ParticipantUtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1474 . osteo1 test user creation event update
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/Osteo1ParticipantCreator.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-312 pancan familyhistory (#2889)
  pepper-apis/studybuilder-cli/studies/pancan/family-history/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/pancan/study-workflows.conf
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1402 fix for some kits have the string "null" instead of a null value for their upload reason
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitDDPNotification.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1402 added a todo for future
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitDDPNotification.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1402 fix for kit notifications (#2890)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitDDPNotification.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1478 removing testboston-specific code from dsm
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/Covid19OrderRegistrarFunction.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/ExternalShipperJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/birch/DSMTestResult.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/Address.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/GBFOrderFinder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/GBFOrderGateKeeper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/GBFOrderTransmitter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/Item.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/LineItem.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/Order.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/Orders.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/Response.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/ShippingConfirmation.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/ShippingConfirmations.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ups/UPSKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/ExternalShipper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFOrderFinderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/GBFTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/QuartzExternalShipperTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/ParamsGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/GBFMockServer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/GBFMockServerRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1478 removing testboston-specific code from dsm
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/TestBostonKitTrackerDispatcher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/birch/TestBostonResult.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/ShippingInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/SimpleKitOrder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/Status.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/SubItem.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/Tube.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1474 osteo1 user creation event update (#2891)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/Osteo1ParticipantCreator.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Write ERROR severity log messages to stderr
  pepper-apis/dsm-core/src/main/resources/logback.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1397 moving the values to the configs
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DSMConfig.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/EventServiceTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1397 reading values from vault
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-1483] Write ERROR severity log messages to stderr (#2893)
  pepper-apis/dsm-core/src/main/resources/logback.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1397 handling null cases
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/EventService.java
Due: action="build-test", dsm, action="build-test-deploy"

Try structured logging for ERROR messages
  pepper-apis/dsm-core/src/main/resources/logback.xml
Due: action="build-test", dsm, action="build-test-deploy"

Add logback-encoder dependency
  pepper-apis/ddp-common/pom.xml
  pepper-apis/parent-pom.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: .*
  dss: ((((((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: .circleci/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/config/.*)) or (any of: .circleci/.*)
  test_parallelism=15: any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*
  dsm: ((((any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*) or (any of: .circleci/.*)) or (any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*)) or (any of: pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml)) or (any of: .circleci/.*)
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
