Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

fix logic
  pepper-apis/studybuilder-cli/studies/fon/activities/heart-failure.conf
Due: action="build-test", dss, action="build-test-deploy"

Add renderMode to boolean question types [DDP-7709] (#1552)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/BooleanQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/BoolQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/BoolQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/BooleanRenderMode.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/question/BoolQuestionTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/CompleteRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/RequiredRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/actvityinstancebuilder/FormInstanceTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7709-add-boolean-render-mode.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7709-add-boolean-render-mode-type.xml
  pepper-apis/studybuilder-cli/studies/basil/boolean-question-demo-activity.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/es.conf
  pepper-apis/studybuilder-cli/studies/basil/i18n/ru.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-block-content.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-block-question.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-block.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-question-boolean.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-question.conf
  pepper-apis/studybuilder-cli/studies/basil/snippets/defaults/empty-section.conf
  pepper-apis/studybuilder-cli/studies/basil/study-activities.conf
  pepper-apis/studybuilder-cli/studies/basil/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] Equation & Picklist are friends or not? (#1616)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8012: Picklist option extended by adding value field
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/PicklistOptionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/PicklistOptionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/PicklistAnswer.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8012.xml
  pepper-apis/studybuilder-cli/studies/basil/equation-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8012: Picklist option extended by adding value field
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/PicklistOptionDto.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

fixed country conditions
  pepper-apis/studybuilder-cli/studies/lms/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8012: Picklist option extended by adding value field
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/SelectedPicklistOption.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8012: Picklist option extended by adding value field
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Add special columns value providers
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantColumn.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/AmbulationValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProviderFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8012: Picklist option extended by adding value field
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/ActivityInstanceSql.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/ActivityDefStoreTest.java
Due: action="build-test", dss, action="build-test-deploy"

refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/AmbulationValueProvider.java
Due: action="build-test", dsm, action="build-test-deploy"

Update activities param writeOnce=true.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutYouV2.java
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-self/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history/snippets/family-history-block-conditional-cancer-list.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history/snippets/family-history-block-question-jewish-ancestry.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history/snippets/family-history-section-instructions.conf
Due: action="build-test", dss, action="build-test-deploy"

Added announcement after LOVEDONE activity completes.
  pepper-apis/studybuilder-cli/studies/osteo/snippets/loved-one-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Updated thank-you-announcement template.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/studies/osteo/snippets/thank-you-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

Added ANNOUNCEMENT event.
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Updated appearance of ABOUT_CHILD_ACTIVITY and ABOUT_YOU_ACTIVITY in dashboard.
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Updated appearance of FAMILY_HISTORY_SELF and FAMILY_HISTORY_PARENTAL in dashboard.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Some additional changes to Tabular API. Move to columnSpan instead of start/stop. Add columnSpan to question blocks, rename property
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Remove default value
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7373-create-lms-germline-consent-addendum-child-and-adult-v2 finished based on develop branch
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-brief-description.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-documentation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-introduction.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-brief-description.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-contact.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-documentation.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-introduction.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-procedures.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-pediatric-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-procedures.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/germline-consent-form-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Fix default values for columnSpan property
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Updated appearance of RELEASE_SELF and RELEASE_PARENTAL in dashboard.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/mrf-v2.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DSS-Some additional changes to Tabular API. Move to columnSpan instead of… (#1618)
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Updated names and titles for Peds consent.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-7711: Add definition of a tabular block (#1505)
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7709 . boolean column fix
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7709-add-boolean-render-mode.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7709. boolean question liquibase fix
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7709-add-boolean-render-mode.xml
Due: action="build-test", dss, action="build-test-deploy"

Some fixes.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoMRFv2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewFamilyHistory.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/family-history.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/mrf-v2.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Added renderMode param to bool question.
  pepper-apis/studybuilder-cli/studies/snippets/bool-question-yes-no.conf
Due: action="build-test", dss, action="build-test-deploy"

Some fixes.
  pepper-apis/studybuilder-cli/studies/osteo/patches/mrf-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7709 Boolean question liquibase fix (#1619)
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7709-add-boolean-render-mode.xml
Due: action="build-test", dss, action="build-test-deploy"

Some fixes.
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-8012: Picklist option extended by adding value field (#1617)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/PicklistOptionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/PicklistOptionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/PicklistAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/SelectedPicklistOption.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/ActivityInstanceSql.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/ActivityDefStoreTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8012.xml
  pepper-apis/studybuilder-cli/studies/basil/equation-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7709. boolean question update
  pepper-apis/studybuilder-cli/studies/basil/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7993 | create mapping for "medicalRecordFinal" - alternative name for abstraction
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7993 | extract set of statements as a method called "processAndBuildMapping()"
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7993 | add a few constants into DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7993 | call the utility method for generating random string to DynamicFieldParserTest
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParserTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7993 | add the utility method for generating random string to TestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
