Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, test_parallelism=15, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: .*
  dss: ((((((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: .circleci/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/config/.*)) or (any of: .circleci/.*)
  test_parallelism=15: any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*
  dsm: ((((any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*) or (any of: .circleci/.*)) or (any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*)) or (any of: pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml)) or (any of: .circleci/.*)
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

PEPPER-1392 initialize spark and response to ah/start routes sooner in the boot process so that gae does not keep trying to create instances due to slower than expected startup times.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 initialize spark and response to ah/start routes sooner in the boot process so that gae does not keep trying to create instances due to slower than expected startup times.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1392 initialize spark and response to ah/start routes sooner (#2838)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 initialize spark and response to ah/start routes sooner in the boot process so that gae does not keep trying to create instances due to slower than expected startup times.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 test infrastructure needs to wait for full boot, not just return from main()
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 test infrastructure needs to wait for full boot, not just return from main()
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 test infrastructure needs to wait for full boot, not just return from main()
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 reverting
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 reverting
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 revert `_ah/start` changes (#2839)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1276 . lms self announcement fix
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-849 . update os1 user profile
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/Osteo1ParticipantCreator.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-849 . update os1 user profile (#2840)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/Osteo1ParticipantCreator.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Add temporary logging for missing ES data
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1353] Add temporary logging for missing ES data (#2841)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-849 . update os1 user profile
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Pepper 1276 lms notification fix (#2842)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1141 injecting the sampleQueue value to downloads and calculating it on the flight. Added tests for it
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/SampleQueue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/SampleQueueTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmParticipantProfile.txt
  pepper-apis/dsm-core/src/test/resources/elastic/dsmWithKitRequestShipping.json
  pepper-apis/dsm-core/src/test/resources/elastic/filterWithSampleQueueColumn.json
Due: action="build-test", dsm, action="build-test-deploy"

Filter instances in MedicalRecordInstanceProvider
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordInstanceProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/ParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
Due: action="build-test", dsm, action="build-test-deploy"

Code review feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1335] Filter instances in MedicalRecordInstanceProvider (#2844)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordInstanceProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/ParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1141 PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/SampleQueueTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1141 PR comments
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/SampleQueueTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1141 clean ups
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/SampleQueueTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1141 missed one comment
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/SampleQueue.java
Due: action="build-test", dsm, action="build-test-deploy"

Fix search scrolling in getLegacyPidsByGuid
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
Due: action="build-test", dsm, action="build-test-deploy"

Improve handling of missing ES participant document
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Convert more usage to ElasticSearchService.getParticipantDocumentById
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/MedicalRecordInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/ParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1141 PR comments applied
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShipping.json
  pepper-apis/dsm-core/src/test/resources/elastic/filterWithSampleQueueColumn.json
  pepper-apis/dsm-core/src/test/resources/elastic/participantProfileTemplate.json
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1141 PR comments applied
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/DownloadParticipantListServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1267] Fix search scrolling in getLegacyPidsByGuid (#2845)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
Due: action="build-test", dsm, action="build-test-deploy"

Rewrite RgpParticipantDataService.insertFamilyId to properly handle missing participant document
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1420 removing openapi docs
  .circleci/config.yml
  .circleci/main-config.yml
Due: action="build-test", dss, dsm

PEPPER-1420 removing openapi docs (#2847)
  .circleci/config.yml
  .circleci/main-config.yml
Due: action="build-test", dss, dsm

PEPPER-1379 remove tcell clutter
  .circleci/main-config.yml
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/Housekeeping.yaml.ctmpl
  pepper-apis/config/manifest.rb
  pepper-apis/config/tcell_agent.config.ctmpl
  pepper-apis/dsm-deploy/build-and-deploy.sh
  pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Do not handle ptps with legacy PIDs in ParticipantInitService
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1402 WIP some refactoring and test working now
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/queue/EventDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/TestBostonUPSTrackingJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EventUtil.java
  pepper-apis/dsm-core/src/main/resources/application.conf
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/events/EventsTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/DDPInstanceWithKitSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/KitShippingTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"
