Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Applied PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Applied PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Changed OncHistoryDetailId to be an int everywhere
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/CancerItem.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Cancer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CancerRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/DsmClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/dsm/Cancer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/suggestion/CancerSuggestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/ListCancersRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/schedule/DsmCancerLoaderJob.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/CancerService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/CancerStoreTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/ListCancersRouteStandaloneTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Cancer.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1182_cancer_list_translations.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/CancerItem.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Cancer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/DsmClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/DsmClientTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/DsmClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/ListCancersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/ListCancersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRoute.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1170 . PI name changes support study-builder task
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBlockContent.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/TemplateActionType.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/TemplateUpdateInfo.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityContentSourceDB.java
  pepper-apis/studybuilder-cli/studies/pancan/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/LanguageStore.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/CancerStoreTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/ListCancersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 WIP
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/ListCancersRoute.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1170 . PI name changes support study-builder task
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/TemplateActionType.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityContentSourceDB.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/pancan/PancanActivityVersionPI.java
  pepper-apis/studybuilder-cli/studies/pancan/patches/pi-changes.conf
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-682][Bug] Remove Osteo2 onc history, medical records and kitshippingrequest entries when a ptpt is returned from Osteo. (#2517)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ClinicalOrder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/StudyPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/ActivityAndDdpIdPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/DdpInstanceIdPostFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/DsmDdpInstanceIdPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/ActivityAndDdpIdPostFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/ActivityAndDdpIdPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/DdpInstanceIdPostFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/StudyPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/DsmDdpInstanceIdPostFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-833 changed the kit_display_name to display_name, and changed querying to be done with kitTypeId and not with kit type name.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitTypeImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/KitTypeDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitSubKits.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/PEPPER-833_rgp_kit_display_name.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1182 PR feedback
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/CancerItem.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-1182 PR feedback
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/ListCancersRoute.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 Cancer Translations (#2708)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/dto/CancerItem.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Cancer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CancerRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-1182_cancer_list_translations.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/LanguageStore.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/DsmClient.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/dsm/Cancer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/suggestion/CancerSuggestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/ListCancersRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/schedule/DsmCancerLoaderJob.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/CancerService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/DsmClientTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/CancerStoreTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/ListCancersRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

os2 spanish translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PI changes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityContentSourceDB.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 Improving cancer search experience for Spanish
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/CancerSuggestionResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/CancerStoreTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1182 improving cancer search experience for Spanish (#2710)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/CancerStore.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/CancerSuggestionResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/CancerStoreTest.java
Due: action="build-test", dss, action="build-test-deploy"

sendgrid_emails.conf
  pepper-apis/studybuilder-cli/studies/osteo/emails/exit_request_es.html
  pepper-apis/studybuilder-cli/studies/osteo/sendgrid_emails.conf
Due: action="build-test", dss, action="build-test-deploy"

more
  pepper-apis/studybuilder-cli/studies/osteo/emails/exit_request_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_release_completed_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_addendum_consent_complete_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_consent_addendum_received_es.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/somatic-results-child-invitation_es.html
Due: action="build-test", dss, action="build-test-deploy"

study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

study.conf
  pepper-apis/studybuilder-cli/studies/osteo/study.conf
Due: action="build-test", dss, action="build-test-deploy"

google translate for exit email
  pepper-apis/studybuilder-cli/studies/osteo/emails/exit_request_es.html
Due: action="build-test", dss, action="build-test-deploy"
