Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Moving DSM emails to the production sendgrid account (#2683)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/SendGridFactory.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailSender.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/NotificationJobTest.java
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/SendGridMailUtil.java
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Check for null OncHistoryDetail before updating (#2694)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Check for null OncHistoryDetail before updating
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 email proxy config value is optional, not required.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Check for null OncHistoryDetail before updating (#2695)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 proxyUrl config value is optional (#2696)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 emailSender was not being assigned
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 fixing NPE (#2698)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityBaseSettings.java
Due: action="build-test", dss, action="build-test-deploy"

Add Docker image for CircleCI Elastic container
  .circleci/main-config.yml
Due: none

Fix ES image repo
  .circleci/main-config.yml
Due: none

Tweak to get this running in CircleCI
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestContainer.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 added a test to kick the tires on notificationutil startup.
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/NotificationUtilTest.java
  pepper-apis/dsm-core/src/test/resources/NotificationUtilTest.conf
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 added a test to kick the tires on notificationutil startup.
  pepper-apis/dsm-core/target/test-classes/NotificationUtilTest.conf
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 added a test to kick the tires on notificationutil startup.
  pepper-apis/dsm-core/src/test/resources/NotificationUtilTest.conf
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-784 PR feedback
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/NotificationUtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Playing with CircleCI config
  .circleci/main-config.yml
Due: none

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

Playing with CircleCI config
  .circleci/main-config.yml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestContainer.java
Due: action="build-test", dsm, action="build-test-deploy"

Playing with CircleCI config
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestContainer.java
Due: action="build-test", dsm, action="build-test-deploy"

Playing with CircleCI config
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticContainerTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityBaseSettings.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/medical-release-self.conf
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTranslationsSourceDB.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityTemplatesInPlace.java
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-784 added very basic test to cover NotificationUtil startup (#2700)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/NotificationUtilTest.java
  pepper-apis/dsm-core/src/test/resources/NotificationUtilTest.conf
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-922 . os2 es translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityBaseSettings.java
  pepper-apis/studybuilder-cli/studies/osteo/i18n/es.conf
Due: action="build-test", dss, action="build-test-deploy"

fixes for the ES export to catch exceptions
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

more logging added
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
