Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

add methods to check whether field is numeric or boolean types
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParser.java
Due: action="build-test", dsm, action="build-test-deploy"

Family History V2 patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoNewFamilyHistory.java
  study-builder/studies/osteo/family-history/family-history-about-you.conf
  study-builder/studies/osteo/family-history/family-history-aunt-uncle.conf
  study-builder/studies/osteo/family-history/family-history-father.conf
  study-builder/studies/osteo/family-history/family-history-maternal-grandfather.conf
  study-builder/studies/osteo/family-history/family-history-maternal-grandmother.conf
  study-builder/studies/osteo/family-history/family-history-mother.conf
  study-builder/studies/osteo/family-history/family-history-paternal-grandfather.conf
  study-builder/studies/osteo/family-history/family-history-paternal-grandmother.conf
  study-builder/studies/osteo/family-history/family-history-study-activity-entry.conf
  study-builder/studies/osteo/family-history/family-history-top-level.conf
  study-builder/studies/osteo/family-history/snippets/family-history-age-range-picklistoptions.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-conditional-cancer-list.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-age-range.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-alias.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-currenty-living.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-sex.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side-control.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side-nested.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side.conf
  study-builder/studies/osteo/family-history/snippets/family-history-conditional-cancer-question-age.conf
  study-builder/studies/osteo/family-history/snippets/family-history-conditional-cancer-question-cancer-list.conf
  study-builder/studies/osteo/family-history/snippets/family-history-conditional-cancer-question-had-cancer.conf
  study-builder/studies/osteo/family-history/snippets/family-history-conditional-cancer-question-type.conf
  study-builder/studies/osteo/family-history/snippets/family-history-father-mother-common-activity.conf
  study-builder/studies/osteo/family-history/snippets/family-history-grandparent.conf
  study-builder/studies/osteo/family-history/snippets/family-history-section-family-member-intro-block.conf
  study-builder/studies/osteo/family-history/snippets/family-history-section-instructions.conf
  study-builder/studies/osteo/family-history/snippets/family-history-section-intro.conf
  study-builder/studies/osteo/family-history/snippets/picklist-option.conf
  study-builder/studies/osteo/patches/family-history.conf
Due: action="build-test", dss, action="build-test-deploy"

Family History V2 patch
  study-builder/studies/osteo/family-history/family-history-additional-details.conf
  study-builder/studies/osteo/family-history/family-history-child.conf
  study-builder/studies/osteo/family-history/family-history-grandparent.conf
  study-builder/studies/osteo/family-history/family-history-half-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent1.conf
  study-builder/studies/osteo/family-history/family-history-parent2.conf
  study-builder/studies/osteo/family-history/family-history-sibling.conf
Due: none

Family History V2 patch
  study-builder/studies/osteo/family-history/family-history-additional-details.conf
  study-builder/studies/osteo/family-history/family-history-child.conf
  study-builder/studies/osteo/family-history/family-history-grandparent.conf
  study-builder/studies/osteo/family-history/family-history-half-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent1.conf
  study-builder/studies/osteo/family-history/family-history-parent2.conf
  study-builder/studies/osteo/family-history/family-history-sibling.conf
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/i18n/es.conf
  study-builder/studies/osteo/subs.conf
Due: none

Family History V2 patch
  study-builder/studies/osteo/family-history/family-history-grandparent.conf
  study-builder/studies/osteo/family-history/family-history-half-sibling.conf
  study-builder/studies/osteo/family-history/family-history-parent-sibling.conf
  study-builder/studies/osteo/family-history/snippets/family-history-block-question-side.conf
Due: none

Family History V2 patch
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/i18n/es.conf
Due: none

add family history patch to root
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

add family history patch to root (#1332)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

fix about you activity names on dashboard (#1329)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7117 | add analyzer for lowercase sorting
  elasticsearch/templates/participants_structured.json
Due: none

Refactoring/type_parser_bug_fixes | increase retry count from 5 to 50, remove unused pt guids from hashmap
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

Refactoring/type parser bug fixes (#1333)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/BaseParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7653 refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ExcelUtils.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantColumn.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/tissue/BaseFilterTissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7454
  study-builder/studies/lms/activities/self-consent.conf
  study-builder/studies/lms/snippets/consent-minors-section1-voluntary.conf
  study-builder/studies/lms/snippets/consent-minors-section2-authorization.conf
  study-builder/studies/lms/snippets/consent-minors-section2-involvement.conf
  study-builder/studies/lms/snippets/consent-section1-benefits.conf
  study-builder/studies/lms/snippets/consent-section1-results.conf
  study-builder/studies/lms/snippets/consent-section1-risks.conf
  study-builder/studies/lms/snippets/consent-section2-involvement.conf
Due: none

added initial support
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoMedicalReleaseUpdate.java
  study-builder/studies/osteo/patches/medical-release-minor-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

about u activity title updated
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

fix: buttons alignment on login/signup page
  study-builder/tenants/singular/pages/login.html
Due: none

about u activity title updated (#1335)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7653 extract constants
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

updated pancan new activites precondition expressions for events (#1330)
  study-builder/studies/pancan/patches/new-activities.conf
Due: none

style fixes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

Answer extraction using the user guid (#1331)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerCachedDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/ComparisonRule.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Osteo consent bug fixes (#1324)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7630 . Support composite question in new style elastic export
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/CompositeQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/QuestionRecord.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7026-fix-one-webdriver-test - can run in lamdbatest now
  ddp-automation/pom.xml
  ddp-automation/src/main/java/org/broadinstitute/ddp/ConfigFile.java
  ddp-automation/src/test/java/org/broadinstitute/ddp/SlackNotificationRunner.java
  ddp-automation/src/test/java/org/broadinstitute/ddp/tests/BaseTest.java
  ddp-automation/src/test/java/org/broadinstitute/ddp/util/LambdaTestUtil.java
  ddp-automation/src/test/java/org/broadinstitute/ddp/util/LambdaTestWatcher.java
  ddp-automation/src/test/resources/conf/osx-safari.conf
  ddp-automation/src/test/resources/conf/windows-chrome.conf
  webdriver_tests.sh
Due: none

DDP-7630 . Support composite question in new style elastic export (#1337)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/CompositeQuestionRecord.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/QuestionRecord.java
Due: action="build-test", dss, action="build-test-deploy"

Added disableComponentBlock method for ComponentDao.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ComponentDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiComponent.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
Due: action="build-test", dss, action="build-test-deploy"

added about you page for osteo project
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoNewActivities.java
  study-builder/studies/osteo/about-you-activity-content.conf
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/i18n/es.conf
  study-builder/studies/osteo/patches/osteo-new-activities.conf
  study-builder/studies/osteo/snippets/confidence-level.conf
  study-builder/studies/osteo/snippets/highest-level-school.conf
  study-builder/studies/osteo/snippets/problem-understanding-written.conf
  study-builder/studies/osteo/snippets/question-assigned-sex.conf
  study-builder/studies/osteo/snippets/question-gender-identity.conf
  study-builder/studies/osteo/snippets/question-how-hear.conf
  study-builder/studies/osteo/snippets/question-picklist-yndkpna.conf
  study-builder/studies/osteo/snippets/question-race.conf
  study-builder/studies/osteo/snippets/question-read-hospital-materials.conf
  study-builder/studies/osteo/snippets/question-tell-us-anything.conf
  study-builder/studies/osteo/snippets/speak-language.conf
  study-builder/studies/osteo/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

added workflow transitions for about you page activity
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoNewActivities.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/patches/osteo-new-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

disable signature block in consent, minor text updates
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

minor text updates in pediatric consent
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

updates to events and workflow in osteo new about you activity
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoNewActivities.java
  study-builder/studies/osteo/i18n/en.conf
  study-builder/studies/osteo/patches/osteo-new-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

disable signatures in pediatric consents
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

Refactoring/fix_tests | fix tests after a few changes to Sorting and Operator modifications
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/painless/ParamsGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/TestResultCollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/ActivityTypeSortTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/SortTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7736 add spanish text updates
  study-builder/studies/pancan/i18n/es.conf
Due: none

disable signature block in consent, minor text updates (#1338)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/pediatric-updates.conf
  study-builder/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

add changes for question
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  study-builder/studies/osteo/patches/prequal-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

style update
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoNewActivities.java
Due: action="build-test", dss, action="build-test-deploy"
