Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Bogus change
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/README.md
Due: action="build-test", dss, action="build-test-deploy"

DDP-8112 | add data holder classes, add DashboardUseCase class and start implementation integration test for it
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BarChartData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BaseQueryBuilderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DashboardData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DashboardUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DonutData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/FilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/DsmAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/dashboard/NewDashboardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/db/dao/dashboard/DashboardDaoImplTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/dashboard/DashboardUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Fixes a bug where the management client secret was not inserted [DDP-8280] (#1931)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

Removing unnecessary logs and adding logs in JWTRouteFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/PostMercuryOrderDummyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8270 .
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiCompositeQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/CompositeQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/CompositeQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/CompositeQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8270-composite-add-tabular-separator.xml
  pepper-apis/studybuilder-cli/studies/fon/activities/medical-history.conf
  pepper-apis/studybuilder-cli/studies/fon/study-base.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8269 Fixed AOM.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp8269.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] DDP-8269 Fixed AOM. (#1933)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDdp8269.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

change Blood kit logic
  pepper-apis/studybuilder-cli/studies/lms/study.conf
Due: action="build-test", dss, action="build-test-deploy"

feat: Labs activity bugs
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-7512] add name block
  pepper-apis/studybuilder-cli/studies/fon/activities/echocardiogram.conf
Due: action="build-test", dss, action="build-test-deploy"

Updated character limits
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-status.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7373 LMS Fixed Germline consent adult/minor for age-ups
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSM] more loggings for Mercury (#1929)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

[SB] DDP-7373 LMS Fixed Germline consent adult/minor for age-ups (#1936)
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed bug in checking for enrolled status
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DSM_mercury_fix (#1937)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8249: adding new fields to Singular pt page
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8249_singularParticipantFields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8249: adding new fields to Singular pt page (#1938)
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8249_singularParticipantFields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

responding to peer review comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ModuleExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TsvParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListParams.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7581-add-export-permission
Due: action="build-test", dss, dsm, action="build-test-deploy"

Add Participant type source to all PDFs that include mailing address
  pepper-apis/hibernate-mapping/pom.xml
  pepper-apis/hibernate-mapping/src/main/resources/META-INF/persistence.xml
Due: action="build-test", action="build-test-deploy"

Add Participant type source to all PDFs that include mailing address
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

DSM export upgrades - DDP-7581 (#1922)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/QuestionType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ModuleExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TsvParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/AmbulationValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/BooleanValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CohortTagNameProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListParams.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7581-add-export-permission
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8168 Osteo Add Participant type source to all PDFs that include mailing address (#1940)
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8196] include forms in ES export
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
Due: action="build-test", dss, action="build-test-deploy"

change Blood kit logic (#1934)
  pepper-apis/studybuilder-cli/studies/lms/study.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7373/make germline addendum uneditable
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7373/make germline addendum uneditable (#1941)
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/germline-consent-form.conf
Due: action="build-test", dss, action="build-test-deploy"

feat: added queries to update ddp_kit with relevant parameters
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/StoolUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

fix: added catch block
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/StoolUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

feat: introduced Dao/Dto classes for stool upload
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/stoolupload/StoolUploadDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/stoolupload/StoolUploadDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/StoolUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

fix: removed redundant fields from StoolUploadRoute
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/StoolUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

fix: fixed exception handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/StoolUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

change names
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_kit_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_received.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-8112 | add factories and strategies for different graphs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/dashboard/DashboardDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/dashboard/DashboardLabelDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/dashboard/DashboardLabelFilterDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BarChartData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BarChartStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BaseQueryBuilderStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BasicChartStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/ChartStrategyFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/ChartStrategyPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DashboardData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DashboardUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DonutChartStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DonutData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/NestedQueryBuilderStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/NullChartStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/QueryBuildPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/QueryBuilderStrategyFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/SingleQueryBuilderStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryPayload.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/Util.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/dashboard/DashboardUseCaseTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagMigrationTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/tags/cohort/CohortTagUseCaseTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7481
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-7481 (#1943)
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8276
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

added test for accessioning added mappings for new fields
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/MercuryEndpointTests.java
Due: action="build-test", dsm, action="build-test-deploy"

not updating db for osteo2 yet
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"
