Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-8034. file answer null fix.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
Due: action="build-test", dss, action="build-test-deploy"

add event to patch
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

changed versions of new activities in osteo
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-child-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/about-you-activity-content.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/osteo/activities/somatic-consent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

add event to patch (#1647)
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Removed duplicated shownExpr.
  pepper-apis/studybuilder-cli/studies/fon/activities/cmri.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/echocardiogram.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-7372: create lms medical release form (#1398)
  pepper-apis/studybuilder-cli/studies/lms/activities/medical-release-minor.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.json
  pepper-apis/studybuilder-cli/studies/lms/study-activities.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed equation-questions (PROMIS_PROXY activity)
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-proxy.conf
Due: action="build-test", dss, action="build-test-deploy"

changed activity editable status
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

[SB] Fon study updates. (#1635)
  pepper-apis/studybuilder-cli/studies/fon/activities/arrhythmia.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-cath.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/clinic-admin-questions.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/clinic-visit.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cmri.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/echocardiogram.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/enrollment.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/exercise-test.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/heart-failure.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/hospitalization.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/labs.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log-child.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-status.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/pregnancy-progeny.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-adult.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-pediatric.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/promis-proxy.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/surgical-log-child.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/fon/study-activities.conf
  pepper-apis/studybuilder-cli/studies/fon/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8034. file answer null fix in csv export.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/FileQuestionFormatStrategy.java
Due: action="build-test", dss, action="build-test-deploy"

change mail content
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder.html
Due: action="build-test", dss, action="build-test-deploy"

revert DDP-8000. (#1645)
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-8000.xml
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | rename classes to make their intentions clearer, rename methods as well
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/BaseStudyPreFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/StudyPreFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/StudyPreFilterPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoPreFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/StudyPreFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/NewOsteoStudyPreFilterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

change mail content (#1652)
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder.html
Due: action="build-test", dss, action="build-test-deploy"

Fixed a bug with the calculation of blocks for complete. (#1639)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/GroupBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/QuestionBlock.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8028 * changed the name of sample collection date to sample_collection_date
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8019 | change tagName to cohortTagName in participants-structured.json
  elasticsearch/templates/participants_structured.json
Due: none

[DSM] DDP-8028_clinicalKits (#1640)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7512 DDP-7518.
  pepper-apis/studybuilder-cli/studies/fon/activities/cmri.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/echocardiogram.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-7522 DDP-7523, DDP-7519, DDP-7520.
  pepper-apis/studybuilder-cli/studies/fon/activities/arrhythmia.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cardiac-ct.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/clinic-admin-questions.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/cmri.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-status.conf
  pepper-apis/studybuilder-cli/studies/fon/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Updated versionTags for Family History activities.
  pepper-apis/studybuilder-cli/studies/osteo/family-history-child/family-history-top-level.conf
  pepper-apis/studybuilder-cli/studies/osteo/family-history-self/family-history-top-level.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8034. file answer null bug fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/FileQuestionFormatStrategy.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8034. revert change
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/FileQuestionFormatStrategy.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8034. fix test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8028 * small change for DOB format * file check style fixed
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8028 * cleaner code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8034. cleanup
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Very dirty attempt to fix cache consistency
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/entryprocessor/AddGovernanceEntryProcessor.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/UserGovernanceDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/governance/Governance.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/DDPAuth.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/UserPermissions.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8034. file answer null fix. (#1646)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Simplified
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/UserGovernanceDao.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8036 *fix for RGP upload problem
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateBSPDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/LookupRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8036 *fix for RGP upload problem
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPKitRequest.java
Due: action="build-test", dsm, action="build-test-deploy"

Add retries that skip cache lookup when a permission lookup fails in AuthFilter
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/filter/TokenConverterFilter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/filter/UserAuthCheckFilter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/security/JWTConverterTest.java
Due: action="build-test", dss, action="build-test-deploy"

Add handling of exceptions to uncached use ddpauth
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/filter/UserAuthCheckFilter.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8024. patient-profile update with validations
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/fon/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

see if we can build deploy PR branch to develop
  .circleci/config.yml
  .circleci/main-config.yml
Due: none

Fix format
  .circleci/config.yml
Due: none

DDP-8024. patient-profile update with validations
  pepper-apis/studybuilder-cli/studies/fon/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"
