Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

A little more debug
  .circleci/main-config.yml
Due: none

Make sure we retrieve the architecture-specific builds for vault and consul template
  pepper-apis/Dockerfile-build
  pepper-apis/Dockerfile-java-build
Due: action="build-test", action="build-test-deploy"

add events
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641 | get additional data from participant and medical records
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/ParticipantMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | define NewOsteoParticipantMigrator for migrating data under dsm.newOsteoParticipant
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoParticipantMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | add NewOsteoParticipantMigrator under exportables
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641 | apply slight cleanup/refactoring
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/institution/DDPInstitutionDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/AdditionalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/MedicalRecordMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoMedicalRecordsRetriever.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/NewOsteoParticipantMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

participant list producer-consumer, unit tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ExcelRow.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantConsumer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantProducer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ActivityStatusValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/BooleanValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/DateValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/PickListValueProviderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/excel/renderer/ValueProviderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

add variables to templates
  pepper-apis/studybuilder-cli/studies/fon/activities/medication-log.conf
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

fix mail content
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_saliva_received.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_saliva_received.html
Due: action="build-test", dss, action="build-test-deploy"

Use our own image. Reduce risk of external dependencies
  pepper-apis/configure.rb
Due: action="build-test", action="build-test-deploy"

Move Dockerfiles into own directory. Add README
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
Due: action="build-test", action="build-test-deploy"

Remove debug code
  .circleci/main-config.yml
Due: none

add validations
  pepper-apis/studybuilder-cli/studies/fon/activities/patient-profile.conf
Due: action="build-test", dss, action="build-test-deploy"

Add Docker Hub link
  pepper-apis/build-utils/build-support-images/README.md
Due: action="build-test", action="build-test-deploy"

Use newer non-deprecated CircleCi convenience images in build
  .circleci/main-config.yml
Due: none

Fix version part of label in images
  .circleci/main-config.yml
Due: none

DDP-7556 * added the PR comments * made the request to work with collaborator pt id as well
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/TestBostonKitTrackerDispatcher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/InstanceSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/InstanceSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/mercury/MercuryOrderRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/PostMercuryOrderRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7556_mercury_sequencing.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DSS DDP-8129 use newer circle ci images (#1728)
  .circleci/main-config.yml
Due: none

[DSM] DDP-7997: skip address validation (#1613)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed test
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

revert time
  pepper-apis/studybuilder-cli/studies/lms/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8101.
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/parental-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

favicon update
  pepper-apis/studybuilder-cli/tenants/cmi/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-8120: returning whole list of saved filter was just a view change (#1720)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/SavedFilterParticipantList.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8062: tissue list (#1719)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueListWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7556 * fixed the checkstyle error
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8101. (#1731)
  pepper-apis/studybuilder-cli/studies/lms/activities/consent-assent.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/parental-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

Update pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/build-utils/build-support-images/README.md
Due: action="build-test", action="build-test-deploy"

Get rid of maven entrypoint file. Get rid of --no-check-certificate flag for downloads
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
Due: action="build-test", action="build-test-deploy"

Use alpine 3.15 as base. Install vault and consul-template using apk
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
Due: action="build-test", action="build-test-deploy"

Fix command line in doc
  pepper-apis/build-utils/build-support-images/README.md
Due: action="build-test", action="build-test-deploy"

Rolling back using apk and vault and consul-tempate packages
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
Due: action="build-test", action="build-test-deploy"

add expressions to mil events
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Update social links in mails for osteo and lms
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/HousekeepingLocal.java
Due: action="build-test", dss, action="build-test-deploy"

DSS Ddp 8126 fix consul templates for m1 (#1722)
  .circleci/main-config.yml
  pepper-apis/Dockerfile-build
  pepper-apis/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/Dockerfile-build
  pepper-apis/build-utils/build-support-images/Dockerfile-java-build
  pepper-apis/build-utils/build-support-images/README.md
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/ddp.conf.ctmpl
  pepper-apis/config/housekeeping_startup.sh.ctmpl
  pepper-apis/config/local-java-props.txt.ctmpl
  pepper-apis/config/redisson-jcache-housekeeping.yaml.ctmpl
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/config/sqlproxy.env.ctmpl
  pepper-apis/config/startup.sh.ctmpl
  pepper-apis/config/tcell_agent.config.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/configure.rb
  pepper-apis/studybuilder-cli/config/application.conf.ctmpl
  pepper-apis/studybuilder-cli/config/atcp-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/basil-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/basil-vars.conf.ctmpl
  pepper-apis/studybuilder-cli/config/brugada-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/circadia-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/cmi-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/fon-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/local.conf.ctmpl
  pepper-apis/studybuilder-cli/config/prion-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/rarex-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/rgp-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/singular-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/testboston-config.json.ctmpl
  pepper-apis/studybuilder-cli/config/testboston-vars.conf.ctmpl
  pepper-apis/studybuilder-cli/config/vars.conf.ctmpl
Due: action="build-test", dss, action="build-test-deploy"

DDP-7556 * moved try catch into `createAndPublishMessage` method and removed it from Dao
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
Due: action="build-test", dsm, action="build-test-deploy"
