Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Fix typo
  pepper-apis/studybuilder-cli/tenants/singular/pages/password_reset.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-8353: moving only survey trigger fix into hotfix branch https://github.com/broadinstitute/ddp-study-server/pull/2034
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantSurveyStatusResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSurveyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] removing testing route (#2065)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DSSTestingRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-6584 downloading participant files (#2055)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participantfiles/DownloadParticipantFileRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-6584_download_participant_file.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8273: RGP kit upload fix https://github.com/broadinstitute/ddp-study-server/pull/2019
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8273: RGP kit upload fix https://github.com/broadinstitute/ddp-study-server/pull/2019 DDP-8353" survey trigger
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantSurveyStatusResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSurveyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Remove inline style
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8474
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateStudyNonSyncEvents.java
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8444
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-risks.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8379, DDP-8474 (#2072)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateStudyNonSyncEvents.java
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_about_child_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_consent_completed.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_germline_consent_addendum_complete.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_release_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_somatic_consent_addendum_received.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental_somatic_germline_addendum_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/reconsent_child_contact_4wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_about_you_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_3wk_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_consent_completed.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_family_history_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_germline_consent_addendum_complete.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_release_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_consent_addendum_received.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self_somatic_germline_addendum_reminder.html
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-new-sync-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8444 (#2073)
  pepper-apis/studybuilder-cli/studies/lms/snippets/somatic-consent-addendum-risks.conf
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7855 | refactor tests to match refactored query builders
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/DsmAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/SingleQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/TestResultCollectionQueryBuilder.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/OperatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MustExistsQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MustNotExistsQueryStrategyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8477] update lms emails
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medial-release-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_kit_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent-complete.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_email_verification.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_sent.html
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8477] update lms emails (#2078)
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medial-release-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_kit_sent.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent-complete.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_email_verification.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-blood-kit-sent-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_received.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self_blood_sent.html
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8477] fix capitalized mails
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/thank-you-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7855 | add separate test for activities
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/ActivitiesCollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8477] fix capitalized mails (#2079)
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/medical-release-announcement-msg.conf
  pepper-apis/studybuilder-cli/studies/lms/snippets/thank-you-announcement-msg.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8486] fix lms emails urls
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact_4wk_reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder.html
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8486] fix lms emails urls (#2081)
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/consent-reminder-1wk.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/family-history-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder-pediatric.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/medical-release-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/parental-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact_1wk_reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact_2wk_reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/reconsent_child_contact_4wk_reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/self-post-consent-surveys-reminder.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-completed.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder-parental.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-consent-addendum-reminder.html
Due: action="build-test", dss, action="build-test-deploy"

[SINGULAR] DDP-8475 Improvements for signup and login - apply current year for Copyright (#2076)
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
  pepper-apis/studybuilder-cli/tenants/singular/pages/password_reset.html
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | add ExistingRecordPatchFactory for creating appropriate ExistingRecordPatch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | add a simple interface for exposing the API for building the DBElement from NameValue#name
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DBElementBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | add two implementations for building the DBElement: default and a special case for "ddp_participant_record" with primary key of "participant_id"
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | write unit tests for interface implementations
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | add proper dependencies to proper instances of patches, refactor the front facing API for creating patches
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | remove strict format of dates for completedAt, createdAt, lastUpdatedAt, add more tests for activities
  elasticsearch/templates/participants_structured.json
Due: none

DDP-8465 | add missing implementation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | change regex for NonDsmAndOrFilterSeparator, add tests for range and options, add AndOrFilterSeparator property to splitter strategy for MultipleOptionsSplitterStrategy
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/NonDsmAndOrFilterSeparator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/SplitterStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/ActivitiesCollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

File upload fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/FileUploadService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/FileUploadServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

guid instead of random number
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRoute.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | fix minor issues
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingParticipantRecordPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

Test fixed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/event/FileScanResultReceiverTest.java
Due: action="build-test", dss, action="build-test-deploy"

Test fixed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
Due: action="build-test", dss, action="build-test-deploy"

Better
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8465 | fix comment
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilder.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8481 . cleanup text
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularPatientSurveyUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8481 . added additional logging
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/InsertStudyEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularDeleteEmailEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMRFUploadUpdates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
Due: action="build-test", dss, action="build-test-deploy"

Exception instead of null
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
