Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-7534 update maxFileSize
  cloud-functions/cf-atcp-contact/src/main/java/org/broadinstitute/ddp/cf/ATCPStudyContact.java
Due: none

Send a pub/sub message to DSM when OS1 user re-consents to OS2 study
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoDdp7601.java
  study-builder/studies/osteo/patches/DDP-7601-new-event-for-dsm.conf
  study-builder/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

update
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteoupdates/OsteoDdp7601.java
Due: action="build-test", dss, action="build-test-deploy"

Basil activity extended with real cross-form validation example
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationCachedDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  study-builder/studies/basil/loved-one-activity.conf
  study-builder/studies/basil/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7641: adding instance name to objects
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641: removed unused parameters added first draft of how to filter objects by instance name (wip)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Refactoring/bug_fixes | migrate primitives to their appropriate Wrapper classes, fix bugs related to ES search, add NullBaseSplitter as a parent class for IsNotNull & IsNull cases
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/FilterParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/Operator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNullSplitter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/NullBaseSplitter.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/FilterParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Basil activity extended with real cross-form validation example (#1296)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationCachedDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  study-builder/studies/basil/loved-one-activity.conf
  study-builder/studies/basil/study-activities.conf
Due: action="build-test", dss, action="build-test-deploy"

Redundant method removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/UserActivity.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7694. Increase mapping field limit
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7117 | add test result to participant structured for dsm
  elasticsearch/templates/participants_structured.json
Due: none

added revision mechanism to assent update in osteo project
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/patches/consent-version-2.conf
Due: action="build-test", dss, action="build-test-deploy"

adds order by primary_key DESC for fetching variables. Since in multiple vars we need the latest one.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

ficed style problems ( checkstyle plugin errors )
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
Due: action="build-test", dss, action="build-test-deploy"

add question change logic
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

change confs
  study-builder/studies/osteo/patches/prequal-updates.conf
  study-builder/studies/osteo/prequal.conf
Due: none

Equations support implemented for single answers
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationVariablesCollector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationVariablesCollectorBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/EvaluationDaoTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationVariablesCollectorTest.java
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/EvaluationDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"

Naming
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

Question type added to selectors
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

add addendum support to ConsentV2 patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

question stable code added to selectors
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

More selectors
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

Revisions
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

placeholder_template_id
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

Simplification
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEquationQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

inserted closing blocks
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoMedicalReleaseUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

added introduction
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoMedicalReleaseUpdate.java
  study-builder/studies/osteo/patches/medical-release-minor-v2.conf
  study-builder/studies/osteo/patches/medical-release-self-v2.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7382 create os somatic addendum adult pediatric (#1275)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticConsentAddendum.java
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
  study-builder/studies/osteo/snippets/bool-question-consent-tumor-samples.conf
  study-builder/studies/osteo/snippets/consent-addendum-participant-signature.conf
  study-builder/studies/osteo/snippets/date-question-consent-addendum.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
  study-builder/studies/osteo/somatic-consent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7322: updated singular form
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab1.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab3.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7636: changed sendgrid
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
  pepper-apis/dsm-core/src/main/resources/application.conf
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/NotificationJobTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Refactoring/bug fixes (#1297)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/FilterParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/Operator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNullSplitter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/NullBaseSplitter.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/AndOrFilterSeparatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/FilterParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Removed splitter factory, getting splitter object moved to Operator ENUM
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/Operator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/DsmAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateGreaterSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateLowerSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DiamondEqualsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/EqualsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/GreaterThanEqualsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNullSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/JsonContainsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/JsonExtractSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/LessThanEqualsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/LikeSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/SplitterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/SplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/StrDateSplitterStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/TestResultCollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateGreaterSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateLowerSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DateSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DiamondEqualsSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/JsonContainsSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/JsonExtractSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/LikeSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/StrDateSplitterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

added somatic assent addendum to the final patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticConsentAddendum.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SomaticAssentAddendumV2.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
Due: action="build-test", dss, action="build-test-deploy"

rename classes to strategy for more understading which pattern is used
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNullSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/NullBaseSplitterStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/IsNotNullSplitterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

remove unused code, change method name
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/Operator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7322: adding singular mr dynamic forms (#1257)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
  pepper-apis/dsm-core/src/main/resources/application.conf
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab1.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-7322_singularForm_tab3.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/NotificationJobTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Ddp 7383 create os somatic assent addendum (#1290)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticConsentAddendum.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/parental-consent.conf
  study-builder/studies/osteo/patches/bool-question-somatic-assent-addendum.conf
  study-builder/studies/osteo/patches/parent-consent-assent.conf
  study-builder/studies/osteo/patches/somatic-assent-addendum.conf
  study-builder/studies/osteo/patches/text-question-date-somatic-assent-addendum.conf
  study-builder/studies/osteo/patches/text-question-somatic-assent-addendum.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
  study-builder/studies/osteo/study-activities.conf
  study-builder/studies/pancan/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7344: fixed query
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
