Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

PEPPER-1054 . DSM conn pool downsize
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1054 . DSS instance & DSM conn pool down size (#2650)
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/dsm-core/src/main/resources/application.conf
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1054 . DSS downsize instances
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-1054 . DSS downsize instances (#2651)
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
Due: action="build-test", action="build-test-deploy"

PEPPER-1052 fixed JuniperKitCreationTest to inherit DbTxnBaseTest
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1054 . dummy commit
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1054 . dummy commit (#2652)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1052 tweaked main-config.yml to have DSM config in it as well
  .circleci/main-config.yml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1052 changed secret name
  .circleci/main-config.yml
Due: none

PEPPER-1052 changed main-config.yml
  .circleci/main-config.yml
Due: none

PEPPER-1052 adding env variable
  .circleci/main-config.yml
Due: none

PEPPER-1052 removed env variable
  .circleci/main-config.yml
Due: none

PEPPER-1052 adding PEPPER-* to branch name possibilities
  .circleci/main-config.yml
Due: none

PEPPER-980 changed the return type of shipKit API
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1052 fixed java code to get the VM variable
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1052 added instructions on how to run tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1023 separating the endpoint from GP's and added a check for issuer
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1023 changing the route creation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

alex-job
  .circleci/main-config.yml
Due: none

new docker image version
  .circleci/main-config.yml
Due: none

PEPPER-1023 changing the docker image version to use in main-config.yml
  .circleci/main-config.yml
Due: none

PEPPER-1023 checking if config is being read appropriately
  .circleci/main-config.yml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

object
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1052 changing the secret ci gets
  .circleci/main-config.yml
Due: none

PEPPER-1052 adding more logs and more config reads
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-411 & PEPPER-406 AT translations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/atcp/ATCPInsertPlaceHolder.java
  pepper-apis/studybuilder-cli/studies/atcp/assent.conf
  pepper-apis/studybuilder-cli/studies/atcp/i18n/de.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/en.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/es.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/fr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/it.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ja.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pl.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pt.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ru.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/tr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/zh.json
  pepper-apis/studybuilder-cli/studies/atcp/patches/dob-place-holders.conf
  pepper-apis/studybuilder-cli/studies/atcp/registration.conf
  pepper-apis/studybuilder-cli/studies/atcp/self-consent-edit.conf
  pepper-apis/studybuilder-cli/studies/atcp/self-consent.conf
  pepper-apis/studybuilder-cli/studies/atcp/snippets/text-question-signature-required.conf
  pepper-apis/studybuilder-cli/studies/atcp/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-411 & PEPPER-406 AT translations
  pepper-apis/studybuilder-cli/studies/atcp/patches/dob-place-holders.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1023 adding the juniper token to the printTestToken method and refactoring code a bit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/SecurityHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/MercuryEndpointTests.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-411 & PEPPER-406 AT fr translations fixes
  pepper-apis/studybuilder-cli/studies/atcp/i18n/fr.json
Due: action="build-test", dss, action="build-test-deploy"

Remove unnecessary (and incorrect) parts of Study class
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Study.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/StudyTest.java
Due: action="build-test", dsm, action="build-test-deploy"

A-T translations : PEPPER-411 & PEPPER-406 (#2655)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/atcp/ATCPInsertPlaceHolder.java
  pepper-apis/studybuilder-cli/studies/atcp/assent.conf
  pepper-apis/studybuilder-cli/studies/atcp/i18n/de.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/en.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/es.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/fr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/it.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ja.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pl.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/pt.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/ru.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/tr.json
  pepper-apis/studybuilder-cli/studies/atcp/i18n/zh.json
  pepper-apis/studybuilder-cli/studies/atcp/patches/dob-place-holders.conf
  pepper-apis/studybuilder-cli/studies/atcp/registration.conf
  pepper-apis/studybuilder-cli/studies/atcp/self-consent-edit.conf
  pepper-apis/studybuilder-cli/studies/atcp/self-consent.conf
  pepper-apis/studybuilder-cli/studies/atcp/snippets/text-question-signature-required.conf
  pepper-apis/studybuilder-cli/studies/atcp/substitutions.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-559 AT hi translations fixes
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-559 AT hi translations fixes (#2656)
  pepper-apis/studybuilder-cli/studies/atcp/i18n/hi.json
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-980 addressed PR comments, moved the initialization of NonPepperKitStatusService into the NonPepperKitCreationService
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitStatusTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-943 change warn to info for PDF size zero (#2621)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1052 checking something in ci
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1052 moving query into classes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/resources/application.conf
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Due: action="build-test", dsm, action="build-test-deploy"
