Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-6034_SMIDs (#1414)
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SMIDMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDNameValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7768 fix height question text
  study-builder/studies/singular/i18n/en.conf
Due: none

Resolved DDP-7369/7371
  study-builder/studies/lms/activities/consent-assent.conf
  study-builder/studies/lms/activities/parental-consent.conf
  study-builder/studies/lms/activities/prequal.conf
  study-builder/studies/lms/activities/self-consent.conf
  study-builder/studies/lms/snippets/bool-question-consent-tumor-samples.conf
  study-builder/studies/lms/snippets/consent-addendum-participant-signature.conf
  study-builder/studies/lms/snippets/consent-section1-benefits.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-parental.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-contact.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-description.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-documentation.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-introduction.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-procedures.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric-risks.conf
  study-builder/studies/lms/snippets/somatic-consent-addendum-pediatric.conf
  study-builder/studies/lms/study-events.conf
  study-builder/studies/lms/study.conf
  study-builder/studies/lms/substitutions.conf
Due: none

Equation question type changed
  study-builder/studies/basil/equation-activity.conf
Due: none

Equation question type changed (#1420)
  study-builder/studies/basil/equation-activity.conf
Due: none

DDP-7679 fix question-answers fetching
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7374.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoFamilyHistoryReturnToDashboard.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-6034 | make sure that id-s are exported as Long data type instead of String
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034 | migrate additional changes to release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034 | make sure that id-s are exported as Long data type instead of String (#1426)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
Due: action="build-test", dsm, action="build-test-deploy"

pediatric-updates.conf configuration done
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

added date field into pediatric assent
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/patches/pediatric-assent-date-field.conf
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

DDP-7630 . Dates in composite questions mapping fix
  elasticsearch/templates/participants_structured.json
Due: none

Resolved DDP-7792.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAdultConsentFixes.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/patches/self-consent-update.conf
Due: action="build-test", dss, action="build-test-deploy"

Added DDP-7374 to OsteoV2Updates.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7824 . Mapping fixes to handle dates in composite questions
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7824 . Mapping fixes to handle dates in composite questions (#1429)
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7825 question-answer value fallback for export
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034_release | add SM ID related changes to the release branch (#1416)
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/BaseGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SMIDMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDNameValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactoryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

participant list loading working with new db
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/JdbiUserRole.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/roles/UserRoleDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AllowedRealmsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DisplaySettingsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7768 change patient survey height question to numeric
  study-builder/studies/singular/activities/patient-survey.conf
Due: none

style check fixes
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoFamilyHistoryReturnToDashboard.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7698 | add OncHistoryDetailSourceGenerator class to handle special cases, change method name to make it more relevant
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/CollectionSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7698 | make unit test pass
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Fixed DDP-7455.
  study-builder/studies/lms/activities/prequal.conf
  study-builder/studies/lms/study-activities.conf
Due: none

DDP-7698 | add oncHistoryDetailDao and its implementation, implement logic of unableObtainTissue
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorHelper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-7795.
  study-builder/studies/osteo/i18n/en.conf
Due: none

Resolved new changes.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutYouV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7698 | add different strategies for generating appropriate sources, fix tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailFaxSentStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailNullObjectStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailTissueReceivedStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailUnableObtainTissueStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGeneratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

EQUATION-CAN-BE-A-CHILD-OF-A-COMPOSITE
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/QuestionType.java
Due: action="build-test", dss, action="build-test-deploy"

EQUATION-CAN-BE-A-CHILD-OF-A-COMPOSITE (#1433)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/QuestionType.java
Due: action="build-test", dss, action="build-test-deploy"

fixed minor bug
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/patches/consent-assent.conf
  study-builder/studies/osteo/patches/pediatric-updates.conf
Due: none

DDP-7698 | add medical record source generator for its special cases
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/FaxSentStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MedicalRecordSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/NullObjectStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailFaxSentStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/OncHistoryDetailSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

Pediatric About Your Child Survey Dashboard Updates. Almost done
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/patches/about-you-child-updates.conf
Due: action="build-test", dss, action="build-test-deploy"

Derived question: added support of multiple answers for children of a composite
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerCachedDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluatorBuilder.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/QuestionEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/SingleValueList.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/Answer.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
Due: action="build-test", dss, action="build-test-deploy"
