Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Pepper 882 (#2579)
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create-bucket.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create_topic_and_sub.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/init-bucket-event.sh
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/dsm-setup.sh
Due: none

cleanup
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-results.conf
Due: action="build-test", dss, action="build-test-deploy"

Updates to support pepper-68
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/util/DaoUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/onchistory/OncHistoryDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/CodeStudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadColumn.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/StudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/db/SimpleResult.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/MockElasticExporter.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

cleanup
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-results.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

Pepper 824 lms somatic-results activity (#2580)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsNewActivities.java
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-results.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-workflow.conf
  pepper-apis/studybuilder-cli/studies/lms/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-826 . lms somatic-results emails
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertSomaticResultsEmailEvents.java
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

PR feedback - adding comments to SomaticResultMetaData; better exception infomration for deletion in SRUS
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultMetaData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-826 . lms somatic-results emails
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

Binds realm into delete and adds realm into getById since it's now available in all of the methods.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

Lint cleanup.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-824 . somatic-results workflow special case handling
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-824 . cleanup
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-824 . somatic-results workflow special case handling (#2582)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-883 changes for building and deploying
  cloud-functions/cf-dsm-file-scanner/.gcloudignore
  cloud-functions/cf-dsm-file-scanner/.gitignore
  cloud-functions/cf-dsm-file-scanner/deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create-service-account.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/init-bucket-event.sh
  cloud-functions/cf-dsm-file-scanner/pom.xml
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/cf/DSMSomaticFileScanner.java
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
  cloud-functions/cf-dsm-file-scanner/src/main/resources/container/entrypoint.sh
Due: none

PEPPER-883 changes for building and deploying
  cloud-functions/cf-dsm-file-scanner/Dockerfile
  cloud-functions/cf-dsm-file-scanner/checkstyle.xml
  cloud-functions/cf-dsm-file-scanner/pom.xml
  cloud-functions/cf-dsm-file-scanner/src/main/resources/container/entrypoint.sh
Due: none

w-i-p
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[PEPPER-811, PEPPER-813, PEPPER-885] Initial implementation of somatic file upload. (#2578)
  elasticsearch/templates/participants_structured.json
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SomaticResultMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultMetaData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/AntivirusScanningStatusListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-811_somatic_documents.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettingsTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-883 changes for building and deploying
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create-service-account.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
Due: none

Complete the rename of somaticResultUploads -> somaticRsultUpload.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-811]Complete the rename of somaticResultUploads -> somaticResultUpload. (#2586)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
Due: action="build-test", dsm, action="build-test-deploy"

Pepper-826 lms somatic results emails (#2583)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/LmsInsertSomaticResultsEmailEvents.java
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-child-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/somatic-results-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/patch-log.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
  pepper-apis/studybuilder-cli/studies/lms/study-emails.conf
Due: action="build-test", dss, action="build-test-deploy"

Modifications due to code review; new approach to elastic updates; LMS testing support
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/CodeStudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ESParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryElasticUpdater.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/MockElasticExporter.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadServiceTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/lmsOncHistory.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryBadValue.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryDetail.txt
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-826 handle somatic result parental emails
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

update
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Pepper 826 lms somatic results emails upd (#2587)
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Revert changes to GeneratorPayload.java in commit e8850453ced68d83798369357ac8f9fa2f54d3bf since these were not needed
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
Due: action="build-test", dsm, action="build-test-deploy"

Liquibase changes for pepper-68 and pepper-900
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-68_location_px.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-900_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Initial implementation of follow-up survey.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SurveyTrigger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/AuthorizationException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Ensure realm is passed with request.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Slight refactor to clean up and leverage standard messaging.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/AuthorizationException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/SomaticResultTriggerActivityPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Liquibase changes for pepper-68 and pepper-900 (#2589)
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-68_location_px.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-900_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Code review feedback.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Use a fixed comment, per discussion in PEPPER-903.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

WIP
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AddUserRoleRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/AddUserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/RegisterParticipantRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
Due: action="build-test", dsm, action="build-test-deploy"

Enable options (controlled vocab) handling of request status now that field_settings records are available
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/CodeStudyColumnsProvider.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Initial update for sent_at and other minor changes.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SurveyTrigger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/SomaticResultTriggerActivityPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-903_sent_date.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Cleanup following adding the feature and testing.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SurveyTrigger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Due: action="build-test", dsm, action="build-test-deploy"

PR feedback.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SurveyTrigger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-903] Initial implementation of follow-up survey. (#2590)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SurveyTrigger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/AuthorizationException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/SomaticResultTriggerActivityPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-903_sent_date.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"
