Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7837 | add two missing fields in field settings table, make sure they are not displayed on the client side
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

fixed typo error
  study-builder/studies/osteo/about-you-activity-content.conf
Due: none

Resolved DDP-7717
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionDdp7717.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionWorkflowAndEventsUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionWorkflowUpdate.java
  study-builder/studies/prion/activities/medical.conf
  study-builder/studies/prion/activities/request.conf
  study-builder/studies/prion/patches/workflow-update.conf
  study-builder/studies/prion/study-events.conf
  study-builder/studies/prion/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

Added AGREEMENT answer to applyAnswerPredicate
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/pex/PexDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/pex/PexFetcher.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/pex/PexDao.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

Merge.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAdultConsentFixes.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoFamilyHistoryReturnToDashboard.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoSomaticConsentAddendum.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

fixed summary issues
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
Due: action="build-test", dss, action="build-test-deploy"

fixed about child summary issues
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAboutChildV2.java
Due: action="build-test", dss, action="build-test-deploy"

Merge.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoLovedOneV2.java
Due: action="build-test", dss, action="build-test-deploy"

Changed study structure.
  study-builder/studies/prion/activities/consent.conf
  study-builder/studies/prion/activities/medical.conf
  study-builder/studies/prion/activities/request.conf
  study-builder/studies/prion/sendgrid_emails.conf
  study-builder/studies/prion/study-activities.conf
  study-builder/studies/prion/study-emails.conf
  study-builder/studies/prion/study-events.conf
  study-builder/studies/prion/study-workflows.conf
  study-builder/studies/prion/study.conf
Due: none

Resolved DDP-7717
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionDdp7717.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/PrionWorkflowAndEventsUpdate.java
  study-builder/studies/prion/activities/medical.conf
  study-builder/studies/prion/activities/request.conf
  study-builder/studies/prion/study-events.conf
  study-builder/studies/prion/study-workflows.conf
Due: action="build-test", dss, action="build-test-deploy"

update osteo file locations
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoAboutChildV2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoNewActivities.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoPrequalUpdate.java
Due: action="build-test", dss, action="build-test-deploy"

added new update variable for about you osteo patch
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: none

fix: moved about you survey's last block from main to closing section
  study-builder/studies/osteo/about-you-activity-content.conf
Due: none

moved patch file into osteo folder
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDashboardUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

fixed check style error
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

update saliva insert kit
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoConsentAddendumV2.java
  study-builder/studies/osteo/patches/addendum-new-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

added new update variable for about you osteo patch (#1493)
  study-builder/studies/osteo/patches/about-you-updates.conf
Due: none

DDP-7859: added personalization to mail (#1481)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
Due: action="build-test", dsm, action="build-test-deploy"

Updated task location.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoLovedOneV2.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7832 Dependent emails
  study-builder/studies/singular/emails/about-dependent-reminder/en.html
  study-builder/studies/singular/emails/completion-thank-you-dependent/en.html
  study-builder/studies/singular/emails/consent-reminder-dependent/en.html
  study-builder/studies/singular/emails/medical-release-reminder-dependent/en.html
  study-builder/studies/singular/emails/patient-survey-reminder-dependent/en.html
  study-builder/studies/singular/emails/sample-received-dependent/en.html
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/study-emails.conf
  study-builder/studies/singular/study-events.conf
Due: none

migrator improvement, wrap upsert facade painless into try catches with meaningful messages
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/ReceiveKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/OncHistoryDetailsMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

improvement/release | start handling the case for patching fields for which we don't know the types for
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/TypeParser.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from PR #1482
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/externalshipper/GBFRequestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from PR #1467
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

changes from PR #1485
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
Due: action="build-test", dsm, action="build-test-deploy"

Fixed bug with adding child participant
  study-builder/studies/singular/study-workflows.conf
Due: none

improvement/new_release / roll back changes in TypeParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/TypeParser.java
Due: action="build-test", dsm, action="build-test-deploy"

improvement/hot-fix | migrate changes to new release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/ReceiveKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DynamicFieldsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/TypeParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

oncHistoryDetail | fix bug related to empty date fields
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
Due: action="build-test", dsm, action="build-test-deploy"

oncHistoryDetail/hot-fix | migrate changes to release branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/PubSubLookUp.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequestExternal.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/ReceiveKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gp/GPReceivedKit.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitStatusChangeRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Added version check for children of composite question.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionCached.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/JdbiCompositeQuestionTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7291 . Add new activity instance status: ERROR_PRESENT
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudy.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudyCached.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/StudyDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/InstanceStatusType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/export/DataExportCoordinatorTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/OLCServiceTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/StudyDataLoaderTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7291-add-error-present-status-flag.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7534-file-answer-one-to-many.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7291-add-error-present-activity-instance-status.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
Due: action="build-test", dss, action="build-test-deploy"

Comments processed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/UniqueValueRule.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoaderMain.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/MigratedDataReconcileCli.java
Due: action="build-test", dss, action="build-test-deploy"

RGP/field_settings | add missing fields for AT and RGP
  pepper-apis/dsm-core/src/main/resources/liquibase/at/DDP-7837_AT_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_more_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7837 | adding missing field settings to RGP and AT on latest release branch
  pepper-apis/dsm-core/src/main/resources/liquibase/at/DDP-7837_AT_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/DDP-7837_more_missing_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

fixed patches
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/osteo/OsteoDashboardUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7616. API specification for the study audit endpoint
  pepper-apis/docs/specification/src/components/responses.yml
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/studies.audit.yml
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Add definition of a tabular block
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Slf4j (#1451)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/UniqueValueRule.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DataLoaderMain.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/DatabaseBackup.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/ElasticsearchServiceUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/FormActivityStatusUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/GoogleCredentialUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/GsonPojoValidator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/I18nUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/JavaHeapDumper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/JavaProcessSpawner.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/MigratedDataReconcileCli.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PdfBootstrapperCli.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/PubSubEmulator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RedisConnectionValidator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/Auth0UtilMockedTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/DataLoaderTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/JavaProcessSpawnerTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/MySqlTestContainerUtil.java
Due: action="build-test", dss, action="build-test-deploy"

Update versions
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"
