Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-7630 . Support composite question in new style elastic export
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/json/structured/CompositeQuestionRecord.java
Due: action="build-test", dss, action="build-test-deploy"

filter unique dispay names and generate stableIDs
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

DDP-7641: adding view filters adding osteo2 starting pubsub copying starting filtering of data
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_addOS2.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7641: add liquibase to change setup for os and add os2
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_addOS2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/DDP-7641_ddpKitRequestSetting_AutoIncrement.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

append suffix to truncated stableIDs
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

composite dates mapping fix.
  elasticsearch/templates/participants_structured.json
Due: none

DDP-6034 | add map approach for getting classes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDNameValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

add error text
  study-builder/studies/singular/i18n/en.conf
Due: none

somaticconsent addendum pediatric fixes
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-introduction.conf
  study-builder/studies/osteo/snippets/somatic-consent-addendum-pediatric-risks.conf
Due: none

somatic consent addednum adult fixes
  study-builder/studies/osteo/snippets/somatic-consent-addendum-introduction.conf
Due: none

DDP-6034_SMIDs | migrate type to Long
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034_SMIDs | handle case where "1" = true
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034_SMIDs | map SM ID-s to proper tissues, return empty list instead of nulls
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034 | add sql statement to fetch all smids for study
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SMIDMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

add kit event
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentAddendumV2.java
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/patches/addendum-new-activity.conf
Due: action="build-test", dss, action="build-test-deploy"

fixed date validation alert
  pepper-apis/pom.xml
  study-builder/studies/osteo/patches/text-question-date-somatic-assent-addendum.conf
  study-builder/studies/osteo/snippets/date-question-cuurent-day-required.conf
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7630 . Dates in composite questions mapping fix
  elasticsearch/templates/participants_structured.json
Due: none

tiny change
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Added missing creation trigger for Basil's equation activity
  study-builder/studies/basil/study-events.conf
Due: none

removed tiny change
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
Due: action="build-test", dsm, action="build-test-deploy"

Added missing creation trigger for Basil's equation activity (#1409)
  study-builder/studies/basil/study-events.conf
Due: none

fix for max lenght before trim
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

adding dummy value for collectionDate
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/ClinicalKitsRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

remove trim after append index
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

remove 3 chars for 2 digits suffix
  scripts/ddp-RxTerms-script/src/index.ts
Due: none

convert somatic consent into activity
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoConsentVersion2.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticConsentAddendum.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/parental-consent.conf
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
  study-builder/studies/osteo/self-consent.conf
  study-builder/studies/osteo/somatic-consent-addendum-parental.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
  study-builder/studies/osteo/somatic-consent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

minor fix
  study-builder/studies/osteo/patches/addendum-new-activity.conf
Due: none

DDP-6034_SMIDs | refactor code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigratorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034_SMIDs | use constant instead of hardcoded string in place
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-6034_SMIDs | extract method for SM ID creation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

fixed typo error
  study-builder/studies/osteo/patches/about-you-child-updates.conf
Due: none

DDP-6034_release | add SM ID related changes to the release branch
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/tissue/TissueSMIDDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESDsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/ParentChildRelationGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/ValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SMIDMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDNameValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorFactoryTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7768 fix height field in patient survey
  study-builder/studies/singular/activities/patient-survey.conf
  study-builder/studies/singular/i18n/en.conf
  study-builder/studies/singular/snippets/question-sample-collect-height-feet.conf
  study-builder/studies/singular/snippets/question-sample-collect-height-inches.conf
  study-builder/studies/singular/substitutions.conf
Due: none

fixed date validation text
  study-builder/studies/osteo/patches/text-question-date-somatic-assent-addendum.conf
  study-builder/studies/osteo/snippets/date-question-cuurent-day-required.conf
Due: none
