Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

DDP-8393 | remove unnecessary json transformer (#2028)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/EditParticipantMessageReceiverRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Rolled back
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

Unit test fix
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8366] fix osteo germline consent auto date
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8433
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8433 (#2029)
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Fixed OS pex expression bug
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Fixed OS pex expression bug, DDP-8433 (#2030)
  pepper-apis/studybuilder-cli/studies/osteo/snippets/somatic-assent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8366] fix osteo germline consent auto date (#2031)
  pepper-apis/studybuilder-cli/studies/osteo/activities/germline-consent-form.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8384 | fix checkstyle error
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8379.
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8384 | save filter changes for rc
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SystemUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8353: fast fix triggering followup surveys
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantSurveyStatusResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSurveyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8430
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Resolved DDP-8377 LMS: emails bug
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8379. (#2032)
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8434] update triggers
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8430 (#2035)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8377 LMS: emails bug (#2036)
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum-pediatric.conf
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-consent-addendum.conf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8434] remove duplicate event
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8434] about your childs os (#2037)
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8353 DDP-8388
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantSurveyStatusResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSurveyRoute.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-8388_drug-list-update-missing.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-8388_drug-list-update.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8353: fast fix triggering followup surveys (#2034)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantSurveyStatusResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSurveyRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8384 | save filter changes for rc (#2033)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SystemUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/participant/UtilTest.java
Due: action="build-test", dsm, action="build-test-deploy"

Resolved DDP-8358 && DDP-8377
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_disagree.pdf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

WIP question details
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
Due: action="build-test", dsm, action="build-test-deploy"

ordering questions in order of asking
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
Due: action="build-test", dsm, action="build-test-deploy"

updating collation to use central constants
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8414 - singular - fixed auth0 page issues
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

[SB] Resolved DDP-8358 && DDP-8377 (#2038)
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum.pdf
  pepper-apis/studybuilder-cli/studies/lms/pdfs/somatic_consent_addendum_disagree.pdf
  pepper-apis/studybuilder-cli/studies/lms/study-pdfs.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8173] fix singular child/adult dynamic questions
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

remove dob validation from root patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8173] fix singular child/adult dynamic questions (#2040)
  pepper-apis/studybuilder-cli/studies/singular/i18n/en.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSS] DDP-8413: Configuration file from secrets manager (#2022)
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/secrets/SecretManager.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8414 - singular - fixed auth0 page issues (#2039)
  pepper-apis/studybuilder-cli/tenants/singular/pages/login.html
Due: action="build-test", dss, action="build-test-deploy"

Extended with nano time to decrease the collision frequency
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRoute.java
Due: action="build-test", dss, action="build-test-deploy"

Unit test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

remove dob validation from root patch (#2041)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoV2Updates.java
Due: action="build-test", dss, action="build-test-deploy"

covert to preconditionExpr
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

covert to preconditionExpr (#2042)
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
