Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Update the uploaded at time when the client saves the answer
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", dss, action="build-test-deploy"

Answer last_updated_at stored as millis since epoch
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiCompositeAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/AnswerDto.java
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", dss, action="build-test-deploy"

test fixes
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiCompositeAnswer.sql.stg
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular aom fixes.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-20. First completion timezone is set to US/Central
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
Due: action="build-test", dss, action="build-test-deploy"

SqlBatch can handle empty lists, but BindList can not
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", dss, action="build-test-deploy"

Fix tests (handle NULLs properly)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/FileUploadDao.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular aom fixes.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8618 singular aom fixes. (#2357)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMSupport.java
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Adds a shared search scope for study configs
  pepper-apis/.idea/scopes/Study_Configurations.xml
Due: action="build-test", action="build-test-deploy"

Adds run configurations for various DSS apps
  pepper-apis/.idea/runConfigurations/DSS.xml
  pepper-apis/.idea/runConfigurations/DSS__tests_.xml
  pepper-apis/.idea/runConfigurations/Housekeeping.xml
  pepper-apis/.idea/runConfigurations/PEX_REPL.xml
Due: action="build-test", action="build-test-deploy"

PEPPER-50. singular aom email updates.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMEmailEventUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/update-aom-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-50. singular aom email updates. Added reminder emails.
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-50. singular aom email updates. (#2359)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularAOMEmailEventUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/singular-aom-new-events.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/update-aom-email-events.conf
Due: action="build-test", dss, action="build-test-deploy"

Code Review Changes
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8810 adding the logs and moving the catch to be next to the error line
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-37 . add new auth0-log-event-code
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/PEPPER-37-add-auth0-log-event-code.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-14 fixing the nested type of files
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8810 adding column name to a string
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] DDP-8810_text_field_size (#2334)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8810_feild_settings_details_column.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-37 . add new auth0-log-event-code
  pepper-apis/dss-database/src/main/resources/db-changes/seed/PEPPER-37-add-auth0-log-event-code.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-37 Add new auth0-log-event-code (#2360)
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/PEPPER-37-add-auth0-log-event-code.xml
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-20. First completion timezone is set to US/Central (#2358)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8508] Track uploaded at date for file uploads (#2351)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/FileUploadDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiCompositeAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/AnswerDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubConnectionManager.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiCompositeAnswer.sql.stg
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8808 adding details size to the liquibase and changing the actions column size
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8808_singular_conditional_text_areas.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-14 fixing the nested type of files (#2361)
  elasticsearch/templates/participants_structured.json
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-18. Adjust AOM checks
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8554-dependent-validations.conf
  pepper-apis/studybuilder-cli/studies/singular/patches/ddp-8554-parental-validations.conf
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-8808 Singular Conditional Fields (#2352)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Value.java
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8808_singular_conditional_text_areas.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

Mitigate cleanup() failures from hosing the build
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DeleteUserRouteTestAbstract.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8810 DDP-8808
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Value.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/DDP-7641_bookmark_osteo2.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8808_singular_conditional_text_areas.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8810_feild_settings_details_column.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DirectMethodTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

Mitigate cleanup() failures from hosing the build [PEPPER-116] (#2363)
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DeleteUserRouteTestAbstract.java
Due: action="build-test", dss, action="build-test-deploy"

[DSM] DDP-8812: dashboard count incorrect data bug (#2355)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/AdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/AdditionalFilterStrategyFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/BaseQueryBuilderStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/CountStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/DashboardUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/dashboard/QueryBuildPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/CamelCaseConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/parse/DashboardValueParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseActivitiesStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/SplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/Util.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/QueryBuildPayloadTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/CamelCaseConverterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8877 moving RC changes into develop (#2353)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/ClinicalKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/SMIDPatch.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-49: deleted filters will be ignored
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ViewFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-14 adding the new mapping
  elasticsearch/templates/participants_structured.json
Due: none

PEPPER-14 adding the new mapping (#2365)
  elasticsearch/templates/participants_structured.json
Due: none

Change code based on new plus code being emitted for test canadian address
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/MailAddressRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8806 adding the new N/A as requested by Whitney
  pepper-apis/dsm-core/src/main/resources/liquibase/singular/DDP-8806_singular_NA.xml
Due: action="build-test", dsm, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
