Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Experimenting with Sonar
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-core/pom.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

Experimenting with Sonar
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

PEPPER-754 Moved the check for the study being a Juniper study to L47 Changed the name of NonPepperKitCreationService.addKitRequest method to NonPepperKitCreationService.addJuniperKitRequest
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/notPepperKit/NotPepperKitCreationService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-840 Added more static Strings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/notPepperKit/NotPepperKitCreationService.java
Due: action="build-test", dsm, action="build-test-deploy"

Experimenting with Sonar
  .circleci/main-config.yml
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

When running with the emulator, build the required topic/subscription if it doesn't exist.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, action="build-test-deploy"

Experimenting with Sonar
  .circleci/main-config.yml
Due: none

PEPPER-840 checkstyle fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/ShipKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperKits/JuniperKitCreationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-870] When running with the emulator, build the required topic/subscription. (#2570)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-840 removing a blank line for checkstyle fixes, also refactoring the upsert in KitRequestShipping.java to a method KitRequestShipping.upsertUpdatedKitInfoIntoES
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-873 adding 2 more fields so DSM tracks what is sent to Mercury and what is received as result Adding more logs
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-873_mercury_order_fields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-856 . Handle results file name for on-demand results activity creation.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/dsm/TriggerActivityPayload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-856 . Handle results file name for on-demand results activity creation.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-873 some fixes for the comparison method in ClinicalOrderDao.java and the test for it in ComparisonTest.java Also adding an exception to the overwritten `create` method in MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/ComparisonTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-856 . added unit tests.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-856 . added unit tests.
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-856 . cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-840 added the value received by DSM for studyGuid to the KitResponse
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-856 . cleanup
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-856 . Handle results file name for on-demand results activity creation (#2572)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/dsm/TriggerActivityPayload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/DsmTriggerOnDemandActivityRouteTest.java
Due: action="build-test", dss, action="build-test-deploy"

w-i-p
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/lms/LmsNewActivities.java
  pepper-apis/studybuilder-cli/studies/lms/activities/somatic-results.conf
  pepper-apis/studybuilder-cli/studies/lms/patches/somatic-results-workflow.conf
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-840 removed extra unnecessary check
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-840 removed unnecessary logging found in JWTRouteFilter changed JuniperShipKitRoute.java to implement Route changed endpoint to POST
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-840 PR comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-840 Adding ignore to tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DSM] PEPPER-754/PEPPER-840 Juniper Kit classes, unit test and shipKit endpoint (#2554)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/ShipKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-837 Created new permissions based on the new functionalities that will be added
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-837_pecgs_phase4_permissions.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

w-i-p
  pepper-apis/studybuilder-cli/studies/lms/i18n/en.conf
  pepper-apis/studybuilder-cli/studies/lms/i18n/es.json
Due: action="build-test", dss, action="build-test-deploy"

[DSM] PEPPER-837 new access roles (#2573)
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-837_pecgs_phase4_permissions.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-890 DSS participant file download API
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.downloads.yml
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

PEPPER-881 created a script file for creating a bucket ( create-bucket.sh ) and one for a main setup uber file (dsm-setup.sh)
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/cmi-lms/create-bucket.sh
  cloud-functions/cf-file-scanner/dsm-cf-file-scanner-setup/dsm-setup.sh
Due: none

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
