Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, test_parallelism=15, dsm, api-docs, action="build-test-deploy"

PEPPER-1411 comments
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1411 comments
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/download/DownloadParticipantListServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1419 changing the checks to match format 10.13.0
  pepper-apis/checkstyle.xml
Due: action="build-test", action="build-test-deploy"

Fixed logging message
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Due: action="build-test", dsm, action="build-test-deploy"

Added sequence number logging to processInstitutionRequest
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordService.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1419 Checkstyle file fix (#2849)
  pepper-apis/checkstyle.xml
Due: action="build-test", action="build-test-deploy"

Fix method names
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/MedicalRecordInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/ParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataTestUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1141 package name fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1419 fixes the mvn builds not working and some new checkstyle changes
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiFormSectionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PdfDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/housekeeping/dao/JdbiMessage.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityResponseCollector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/user/EnrollmentStatusType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/monitoring/PointsReducerFactory.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetDsmDrugSuggestionsRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetDsmParticipantStatusRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/actvityinstancebuilder/AIBuilderTestUtil.java
  pepper-apis/pom.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

Checkstyle: fixing maven build (#2850)
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiFormSectionBlock.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/PdfDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/housekeeping/dao/JdbiMessage.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityResponseCollector.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/user/EnrollmentStatusType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/monitoring/PointsReducerFactory.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/GetDsmDrugSuggestionsRoute.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetDsmParticipantStatusRouteTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/actvityinstancebuilder/AIBuilderTestUtil.java
  pepper-apis/pom.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

[PEPPER-1141] Fixing SampleQueue missing in the download (#2843)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/SampleQueue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShipping.json
  pepper-apis/dsm-core/src/test/resources/elastic/filterWithSampleQueueColumn.json
  pepper-apis/dsm-core/src/test/resources/elastic/participantProfileTemplate.json
Due: action="build-test", dsm, action="build-test-deploy"

Handle legacy PID in ElasticSearchService.getParticipantDocument... just in case
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[PEPPER-1390] Improve handling of missing ES participant document (#2846)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/at/ReceiveKitRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ElasticExportServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/MedicalRecordInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/ParticipantInitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/ParticipantServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/ATParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1244 fix for the clinical orders not being in the download
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
Due: action="build-test", dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/jetty/JettyConfig.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/logging/LogUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/ElasticExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jetty/JettyConfig.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/logging/LogUtil.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/appengine/spark/SparkBootUtil.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/logging/LogUtil.java
  pepper-apis/dss-core/src/main/resources/logback.xml
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  .circleci/main-config.yml
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/JavaProcessSpawner.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Due: action="build-test", dss, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/ElasticExporter.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Due: action="build-test", dss, test_parallelism=15, dsm, action="build-test-deploy"

PEPPER-1392 _ah/start utility
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Due: action="build-test", dss, test_parallelism=15, action="build-test-deploy"

Path conditions:
  action="build-test": any of: .*
  dss: ((((((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: .circleci/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/config/.*)) or (any of: .circleci/.*)
  test_parallelism=15: any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*
  dsm: ((((any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*) or (any of: .circleci/.*)) or (any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*)) or (any of: pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml)) or (any of: .circleci/.*)
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*
