Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

DDP-8428: File upload fix (#2083)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/event/FileScanResultReceiver.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/CreateUserActivityUploadRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/FileUploadService.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/event/FileScanResultReceiverTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/service/FileUploadServiceTest.java
Due: action="build-test", dss, action="build-test-deploy"

temp commit
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiBooleanQuestion.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8481 . add patch-log
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8481 . cleanup
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
  pepper-apis/studybuilder-cli/studies/singular/study-base.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8481 . revert change
  pepper-apis/studybuilder-cli/studies/singular/study-base.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8494 adding the functionality to get a signed url
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participantfiles/DownloadParticipantFileRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8494 * adding backend checks for the file status * moving code from Route class to the UseCase class * adding `model` class of `ESFile.java`
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ESFile.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participantfiles/ParticipantFilesUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participantfiles/DownloadParticipantFileRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | remove unnecessary code for setting up DB for unit tests
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | create CamelCaseConverter and NullObectCamelCaseConverter classes for different strategies
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/ObjectTransformer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/BaseConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/Converter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/ConverterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/DefaultConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/DynamicFieldsConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/FollowUpsConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/TestResultConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/CamelCaseConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/converters/camelcase/NullObjectCamelCaseConverter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ExportFacade.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SMIDSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SingleSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/process/CollectionProcessor.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseActivityStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QuestionsAnswersActivityStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/DiamondEqualsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/JsonExtractSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/SplitterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/DynamicFieldsMappingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/SourceMapDeserializer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Sort.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/participant/BaseFilterParticipantList.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/MappingGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/generate/SourceGeneratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/NonDsmAndOrFilterSeparatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | migrate changes to RC branch
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatchFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

[DDP-8489]: Re-consent attachment. Pdf added to reconsent complete mail
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8489]: Re-consent attachment (#2086)
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8494 * correcting the error message
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/participantfiles/DownloadParticipantFileRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8481 . Make it re-deployable from develop
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8481 . Make it re-deployable from develop
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8481 . Make it re-deployable from develop
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-8481 conf changes cleanup (#2084)
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/InsertStudyEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularDeleteEmailEvents.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularMRFUploadUpdates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularPatientSurveyUpdate.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularReadonlyActivities.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SingularUpdates.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  pepper-apis/studybuilder-cli/studies/singular/patch-log.conf
  pepper-apis/studybuilder-cli/studies/singular/study-base.conf
Due: action="build-test", dss, action="build-test-deploy"

improving composite question handling, adding comments
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TsvParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/AmbulationValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/BooleanValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CohortTagNameProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CollatedQuestionValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | fix tests
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/Operator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/ActivityStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseActivitiesStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseActivityStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BuildQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/MultipleMatchQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/MustExistsQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/MustNotExistsQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/NestedQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/NonExactMatchQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QuestionsAnswersActivityStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeGTEQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeLTEQueryStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/SingleQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/TestResultCollectionQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterStrategy.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/ActivitiesCollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MultipleMatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MustExistsQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MustNotExistsQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/NonExactMatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeGTEQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeLTEQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/TestResultCollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/MultipleOptionsSplitterTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | eliminate checkstyle errors
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | fix checkstyle errors
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/BasePatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ParticipantRecordPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/PatchFactory.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/DefaultDBElementBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/ParticipantRecordDBElementBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-8465 | add newlines
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/DBElementBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/ExistingRecordPatchFactory.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7855 | add query stategy factory, clean up the code
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/FilterSeparatorFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/AbstractQueryBuilderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/DsmAbstractQueryBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryStrategyFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/query/QueryStrategyFactoryPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/FilterSeparatorFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/AbstractQueryBuilderFactoryTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/ActivitiesCollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/BaseQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/CollectionQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/JsonExtractQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MultipleMatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MustExistsQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/MustNotExistsQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/NonExactMatchQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeGTEQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/RangeLTEQueryStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/SingleQueryBuilderTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/query/TestResultCollectionQueryBuilderTest.java
Due: action="build-test", dsm, action="build-test-deploy"

add spacing
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8504: Configuration files merge
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/ConfigMergeTest.java
Due: action="build-test", dss, dsm, action="build-test-deploy"

DDP-8513 add spacing for more sections
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-section1-contact.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-section1-cost.conf
Due: action="build-test", dss, action="build-test-deploy"

add temporary identification
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-section1-cost.conf
Due: action="build-test", dss, action="build-test-deploy"

update pediatric
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-minors-section1-cost.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-section1-cost.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8502] [DDP-8509] fix medical record release suspension triggers for lms & osteo
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

[DDP-8502] [DDP-8509] fix medical record release suspension triggers (#2089)
  pepper-apis/studybuilder-cli/studies/lms/study-events.conf
  pepper-apis/studybuilder-cli/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

update NO. for self consent
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-section1-cost.conf
Due: action="build-test", dss, action="build-test-deploy"

temporary change
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

peer review clarity improvements
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CompositeValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
Due: action="build-test", dsm, action="build-test-deploy"

add in self-consent
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-section1-contact.conf
Due: action="build-test", dss, action="build-test-deploy"

remove from self-consent
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

add back in self-consent
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8513 update 10-th question
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent-update.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-minors-section1-cost.conf
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-section1-cost.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-8513 revert changes
  pepper-apis/studybuilder-cli/studies/osteo/snippets/consent-minors-section1-cost.conf
Due: action="build-test", dss, action="build-test-deploy"

Ddp 8513 add spacing (#2090)
  pepper-apis/studybuilder-cli/studies/osteo/patches/pediatric-updates.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent-update.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"
