Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

Path conditions:
  action="build-test": any of: pepper-apis/.*
  dss: (((any of: pepper-apis/pom.xml) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)) or (any of: pepper-apis/pom.xml)) or (any of: pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.*)
  dsm: any of: pepper-apis/((dsm-.*)|(ddp-.*))/.*
  api-docs: any of: pepper-apis/docs/.*
  action="build-test-deploy": any of: pepper-apis/.*

Binary operator priority :)
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/lang/EquationParserTest.java
  pepper-apis/pex-antlr/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Equation.g4
Due: action="build-test", dss, action="build-test-deploy"

Checkstyle
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/CompositeQuestionDef.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/lang/EquationParserTest.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7636: changed code to use SendGridClient directly
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/NotificationUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/EmailClient.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/email/SendGridClient.java
  pepper-apis/dsm-core/src/main/resources/application.conf
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/NotificationJobTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7185 . include selected remote option(s) defs.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

migrate participantId data type from long to Long
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7633: add trigger to copy file answers from previous activity instance
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/copy/AnswerToAnswerCopier.java
  study-builder/studies/singular/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7690: update email text
  study-builder/studies/singular/i18n/en.json
Due: none

DDP-7688: update sample received email text
  study-builder/studies/singular/emails/sample-received-self/en.html
  study-builder/studies/singular/i18n/en.json
Due: none

DDP-7687: update child's sample received email text
  study-builder/studies/singular/emails/sample-received-child/en.html
  study-builder/studies/singular/i18n/en.json
Due: none

DDP-7689: update self completion email body
  study-builder/studies/singular/i18n/en.json
Due: none

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/PicklistQuestionDef.java
Due: action="build-test", dss, action="build-test-deploy"

migrate participantId data type from long to Long (#1268)
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Participant.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/UtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/process/SingleProcessorTest.java
Due: action="build-test", dsm, action="build-test-deploy"

add initial support
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticConsentAddendum.java
  study-builder/studies/osteo/consent-assent.conf
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
  study-builder/studies/osteo/self-consent.conf
  study-builder/studies/osteo/snippets/bool-question-consent-tumor-samples.conf
  study-builder/studies/osteo/snippets/consent-addendum-participant-signature.conf
  study-builder/studies/osteo/snippets/date-question-consent-addendum.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
  study-builder/studies/osteo/somatic-consent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

Refactoring | minor change to export chunks of data instead of whole to avoid elasticsearch overflow
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BulkExportFacade.java
Due: action="build-test", dsm, action="build-test-deploy"

cleanup
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

add expressions
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticConsentAddendum.java
  study-builder/studies/osteo/patches/somatic-consent-addendum-val.conf
  study-builder/studies/osteo/snippets/bool-question-consent-tumor-samples.conf
  study-builder/studies/osteo/snippets/consent-addendum-participant-signature.conf
  study-builder/studies/osteo/somatic-consent-addendum-pediatric.conf
  study-builder/studies/osteo/somatic-consent-addendum.conf
Due: action="build-test", dss, action="build-test-deploy"

DDP-7534: liquibase update and checkstyle fixes
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/FileAnswer.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/AnswerDaoTest.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7534-file-answer-one-to-many.xml
Due: action="build-test", dss, action="build-test-deploy"

Update notice.md
  notice.md
Due: none

Remote autocomplete update (#1273)
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/PicklistQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

change log message to make it more informative
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7534: fix cascade delete
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerSql.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7534-file-answer-one-to-many.xml
Due: action="build-test", dss, action="build-test-deploy"

Evaluator
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluatorBuilder.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
Due: action="build-test", dss, action="build-test-deploy"

feat: singular consent updates
  study-builder/studies/singular/activities/consent-assent.conf
  study-builder/studies/singular/activities/consent-parental.conf
  study-builder/studies/singular/activities/consent-self.conf
  study-builder/studies/singular/i18n/en.conf
Due: none

Grammar simplified even more Evaluator implemented
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
  pepper-apis/pex-antlr/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Equation.g4
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

Unused imports removed
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
Due: action="build-test", dss, action="build-test-deploy"

DDP-7183. Evaluation (#1277)
  pepper-apis/dss-core/pom.xml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluatorBuilder.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/compute/EquationEvaluationTest.java
  pepper-apis/pex-antlr/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Equation.g4
  pepper-apis/pom.xml
Due: action="build-test", dss, action="build-test-deploy"

stash commit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Filter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/BaseFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/FilterFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RequestParameter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/PatchUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerSql.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/FileUploadService.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7534-file-answer-one-to-many.xml
Due: action="build-test", dss, dsm, action="build-test-deploy"

stash commit
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ParticipantListRequestModel.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
Due: action="build-test", dsm, action="build-test-deploy"

DDP-7696: update not applicable text
  study-builder/studies/pancan/i18n/en.conf
Due: none

adds singular answer copying from add-participant-self to about-healthy activity, question: relatives with cancer
  study-builder/studies/singular/activities/about-healthy.conf
  study-builder/studies/singular/i18n/en.json
  study-builder/studies/singular/study-events.conf
Due: none

DDP-7695: fix vitamin subquestion logic
  study-builder/studies/pancan/diet-lifestyle.conf
Due: none

Casting simplified
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
Due: action="build-test", dss, action="build-test-deploy"

Equation question maximal decimal places default value set to 0
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7183-equation-question.xml
Due: action="build-test", dss, action="build-test-deploy"

refactor adult consent v2 patch
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoAdultConsentV2.java
  study-builder/studies/osteo/patches/self-consent.conf
Due: action="build-test", dss, action="build-test-deploy"

create initial env
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoPrequalUpdate.java
  study-builder/studies/osteo/patches/prequal-updates.conf
  study-builder/studies/osteo/prequal.conf
Due: action="build-test", dss, action="build-test-deploy"

DECIMAL64 instead of UNLIMITED
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/equation/EquationEvaluator.java
Due: action="build-test", dss, action="build-test-deploy"

Unit test fixed
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/equation/lang/EquationParserTest.java
Due: action="build-test", dss, action="build-test-deploy"

added child flow support for singular relative's cancer copying
  study-builder/studies/singular/activities/about-healthy.conf
  study-builder/studies/singular/i18n/en.json
  study-builder/studies/singular/study-events.conf
Due: none

question formatting
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
  study-builder/studies/osteo/germline-consent-form-pediatric.conf
  study-builder/studies/osteo/germline-consent-form.conf
  study-builder/studies/osteo/study-activities.conf
  study-builder/studies/osteo/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"
